[2021-02-07 21:22] pazza83 commented on #308
I think this is a good idea it addresses the many complaints of BSQ being inaccessible for small purchases we have seen on Github, Keybase and Reddit.

Eg comments like: https://github.com/bisq-network/bisq/issues/4575#issuecomment-774735656

High mining fees are a barrier to enter for those looking to sell or buy BSQ in small amounts.

I also made a proposal here of how to address this by [increa

[2021-02-08 00:01] pazza83 commented on #301
Thanks for the helpful explanation.

Seems that the prices for each has been given lots of thought and discussion.

I still think price controls / caps could lead to problems in the future but can see why they can also be positive.

I think long term the goal should be to remove the price controls and standardize prices of all the above.

[2021-02-08 00:07] pazza83 commented on #292
There does not seem to be agreement with the proposal to cap maximum reimbursements. The discussion has helped create some alternative ways to address this issue. Maybe another proposal could be made once @Akira45-0 has received their compensation.

[2021-02-08 01:32] pazza83 commented on #307
Hi @leo816

Thanks for this proposal.

From a traders perspective (mainly selling BTC) I have found mediation to be increasingly frustrating over the last few months.

I think there is an issue with lack of consistency which hopefully a proposal of an action protocol can fix.

I also think mediation would be best carried out by anonymous mediators. I often feel I have to hold back when dealing wit

[2021-02-08 02:29] pazza83 commented on #296
Is there a GitHub issue you can point me to that where the 0.5 BTC limit was introduced?

[2021-02-08 02:49] Conza88 commented on #307
So am I right in thinking that even blatant scammers get some of their security deposit back? To me that makes little sense.

Excellent breakdown. Yes. Conflict resolution. As always communication is vital to the experience. But speed is as well.

Empathy is the trait that can't be taught, and is most helpful in a CS support role.

Did not realise this was an incentivised KPI for agents... absolut

[2021-02-08 03:13] pazza83 opened #310 "Make Mediators anonymous"
## Problem

Mediation is a very important part of Bisq. Currently the @bisq-network/mediators in Bisq are linked to their Keybase identities, and as such other identities such as; GitHub, Twitter, Reddit, personal websites etc. This means traders know who their mediator is.

It is easy to find your mediator both in the Bisq app and on the wiki: https://bisq.wiki/Finding_your_mediator

The problems

[2021-02-08 03:46] Conza88 commented on #310
Wasn't there just a proposal to make their usernames known?

This is likely because people were asking, given they still had questions or it wasn't clear, or resolved effectively?

If the communication and improved levels of quality for mediation existed there'd be less need for anyone to care who they are?

Anonymity would if anything provide less responsibility to provide a good experience, all

[2021-02-08 03:50] pazza83 commented on #310
Yes, I thought it would be better to include their names rather than just onion addresses. But ideally I do not think their names should be anonymous Keybase / GitHub accounts.

People would still be able to ask the mediator questions on Keybase and Github, they just would not know the identity of the person behind the account.

[2021-02-08 04:47] Conza88 commented on #310
Right. I think keep it stating who the moderator is etc. but that is a keybase name / or generic "Mediator1" etc.

I do think they should be unique i.e. if mediator 1 retires, then replacement becomes the next number that does not exist e.g. "mediator10". Otherwise, would increase confusion etc.

[2021-02-08 09:50] huey735 commented on #310
I'm prone to agree with that sentiment but I haven't given it much thought.

 I overall agree with a more pseudo-anonymous approach for these roles anyway. And I see the role of the Mediator possibly reducing in importance down to almost a Support Agent level. With a more developed payout tool, the traders could by themselves decide on the best way to move forward. The only difference would be tha

[2021-02-08 10:08] MwithM commented on #310
I sometimes do collect sensitive info, although provided through Keybase and not Bisq client itself.

[2021-02-08 14:26] pazza83 commented on #310
I do not think anonymity provides less responsibility in this instance. It is not a truly anonymous role, it just breaks the link between their real life identities. Mediators would still be held accountable by their bond, and mediator Keybase profiles, GitHub profils, role reports and compensation requests.

I do not think the burningman or refundagent are any less responsible due to the anonymit

[2021-02-09 03:12] chimp1984 commented on #303
Ah interesting idea to use the signature for data recovery!
If we assume that the user has access to his seeds we could also use it for encypting the deplayed payout transactions and share it either with the mediators or keep in in the network for a certain time period (e.g. using TTL).

[2021-02-09 04:33] chimp1984 commented on #304
Some prepared transaction is need anyway either from the bot to add the exact BTC input or in your suggestion to avoid BSQ outputs.

To avoid BSQ outputs reduces the risk to burn BSQ if the tx is not correctly constructed.

Though SIGHASH_SINGLE has an issue in the case that there are more inputs than outputs (http://joncave.co.uk/2014/08/bitcoin-sighash-single).
I think that issue should not has

[2021-02-09 04:38] chimp1984 commented on #308
There might be some new ways for swapping BSQ to BTC: https://github.com/bisq-network/proposals/issues/304#issuecomment-774570675

[2021-02-09 04:55] chimp1984 commented on #292
I will close it as rejected.

[2021-02-09 04:55] #292 closed

[2021-02-09 05:59] huey735 commented on #307
Agreed. The ticket should remain open and only be closed by the mediator once the multisig output of the Deposit transaction gets spent.
I, as a Mediator, agree that there's a lot to improve in Mediation and Support and subscribe to most of the points made by @pazza83 and @Conza88 . I've been, for sometime only half-committed to the role, but I hope to change that going forward. I see the followin

[2021-02-09 09:48] sqrrm commented on #296
I think the 0.5 BTC limit is just what @refundagent chose to limit direct refunds to after taking too much risk with a larger refund. The refunds done by refund agents are out of pocket and a personal risk they take so it's really up to them how much to refund.

The initial discussion, before the 2of2 protocol, around refunds by agents vs going to the DAO included thoughts of the refund agents (or

[2021-02-09 09:51] sqrrm commented on #307
@Conza88

There has to be some incentive to accept the mediation payout from the 2of2 since it requires the scammers signature. During the refund process nothing should be given back to scammers obviously.

[2021-02-10 16:32] MwithM commented on #301
Proposals were accepted and the [wiki](https://bisq.wiki/Trading_fees) has been updated.

[2021-02-10 18:43] chimp1984 commented on #300
I think we have to re-discuss the price setting for next cycle: https://github.com/bisq-network/compensation/issues/782#issuecomment-776926691

[2021-02-11 00:59] chimp1984 commented on #310
Handling anonymity right comes with quite some effort, opsec challenges and one need to be very cautious to not make mistakes specially if multiple identities are used. It is already possible to anyone to do that, but the effort should be taken seriousy. It also comes with limitation like not being able to communicate by voice chats. And without proper opsec and experience its just anonymity to Bi

[2021-02-11 03:03] m52go commented on #295
BTC has gone up another 10,000 USD since this proposal was discussed.

Could it be more feasible to instead implement a toggle on offers made by signed sellers so that only unsigned peers could take them, and to advise these sellers to make such offers smaller? 0.01 BTC is currently >400 USD. I believe the lower limit for getting an account signed is 0.0025 BTC, which is just above 100 USD.

In th

[2021-02-11 03:15] wiz opened #311 "Adjust DAO parameter for "bond factor" from 1000 to 500"
### Background

The Bisq DAO has a "bond factor" parameter, which is currently set to `1000`. The "bond factor" is the multiplier which determines the BSQ requirements for various DAO bonded roles. For example, the Bisq Seednode Operator role has a bond requirement of `20`, which gets multiplied by the "bond factor" parameter, and so currently you need to post a `20000 BSQ` bond to legally be able

[2021-02-11 03:16] pazza83 commented on #310
Ok, fair point. I can see that it would be a bit of an extra step and they may be happy with the current setup.

Maybe,  just leave it up to the mediators to decide if they would like to have separate GitHub / Keybase's for their mediation roles.

[2021-02-11 03:18] Conza88 commented on #311
As a non-bond holder, no issue from me.

[2021-02-11 03:19] wiz commented on #311
In other words, the Bitcoin price just went from $10K to $50K, so I simply propose to adjust the BSQ bond factor to match, kinda similar to how the compensation rate gets adjusted every month, but this will be more like a yearly adjustment I guess.

[2021-02-11 03:25] wiz commented on #311
In other words, the Bitcoin price just went up by 5x from $10K to $50K, so I simply propose to adjust the BSQ bond factor down by 5x to match from 1000 to 200, kinda similar to how the compensation rate gets adjusted every month, but this will be more like a yearly adjustment I guess.

[2021-02-11 03:52] chimp1984 commented on #311
The BSQ bond is not really related to the BTC price but to the BSQ/USD rate.
I agree to reduce it as the BSQ price has increased luckily as well to about 2.5 BSQ/USD. So a reduction by factor 2.5 seems to be ok (1000 -> 400). There is a 50% change limit there as well so max change in one cycle is down to 500.

[2021-02-11 03:57] pazza83 commented on #308
I would like to sell Bisq Starter Packs. Everything you need to trade on Bisq

- 0.007 BTC
- 7 BSQ

All instant payment methods accepted
Maximum purchase 1 per user
No refunds given :)

[2021-02-11 04:12] pazza83 commented on #295
I think making lots of lower offers for new users is a good idea. Not sure they need to be restricted to new users only. I think the higher premiums would themselves put off existing signed account holders that could buy more BTC at lower premiums.

I would be happy to do this just waiting for the mempool to calm down a bit. The high miner fees do not make small offers attractive to place currentl

[2021-02-11 04:41] chimp1984 commented on #308
FYI There are 2 DAO features which might be useful for any off-chain / OTC experiments.
1. Bonds
2. Proof of burn

Beside the defined Bisq DAO bonded roles there is bonded reputation which can be used arbitrarily.
You can define a salt which is a preimage for the hash which will get added in the opReturn. This can be used as a one-time secret (nobody can derive the preimage from the hash). Once yo

[2021-02-11 05:37] devinbileck commented on #311
Makes sense to reduce it.
Maybe I can now finally bond into my other roles!

[2021-02-11 06:49] wiz commented on #311
Ahh okay, I was not aware of the max 50% reduction, I will amend this proposal to reduce from 1000 -> 500

[2021-02-11 10:19] stejbac opened #312 "Off-chain trading using a lightning network of BTC & tainted BSQ"
This is a somewhat ambitious proposal for an eventual off-chain trading protocol using a fork of the lightning network and a form of BSQ bonding, which is intended to reduce network fees + delays and eliminate the problematic role of the Burning Man as a collector of disputed BTC funds.

An off-chain trade protocol secured by BSQ bonds was considered a while ago in https://github.com/bisq-network/

[2021-02-11 11:46] Conza88 commented on #307
Kind of confused by this. Any reference to docs would help. My apologies.
And if the scammer doesn't give the signature? There's just a delay yeah?

[2021-02-11 13:10] sqrrm commented on #311
In principle I think the bonds should be set in relation to the risk to the DAO for the related role. As bisq trade volume increases the bonds would have to increase in value. Maybe the bonds are too high anyway, but I think it's a point that needs to be considered.

The compensation side is interesting. Currently there's basically no compensation for running a seednode considering the cost of run

[2021-02-11 15:24] sqrrm commented on #307
And if the scammer doesn't give the signature? There's just a delay yeah?

I'm sure there's a doc somewhere, but I don't know where unfortunately. The process goes, buyer and seller send funds, including their security deposits, to a 2of2 with a presigned payout to the donation address. If the don't agree to complete the trade with the trade protocol, perhaps due to one of them being a scammer, th

[2021-02-12 01:15] Conza88 commented on #301
Definitely agree.

[2021-02-12 03:52] chimp1984 commented on #312
Thanks a lot @stejbac for those excellent ideas!

To better understand your proposal I wrote down for myself the basics. I hope I interpreted it correctly, if not please correct me. I will share it here maybe it is helpful for other readers.

A taint tx creates (a) pair(s) of equal valued Tainted BSQ (TBSA) and anti-tainted BSQ (ATBSQ).
OpReturn marks tx type and carries metadata about trade conte

[2021-02-12 05:24] chimp1984 commented on #312
I think i was wrong with the 4 x bond requirement, 2x should be the minimum as burning one part of the bond pair will invalidate the other.

Further I think a version without Carol should be possible as well and would look like that:

Taint tx:
Input 1: 10k BSQ from Alice
Input 2: 10k BSQ from Bob
Output 1: 5k TBSQ to Bob (corresponds to input 1)
Output 2: 5k ATBSQ to Alice (corresponds to input 1

[2021-02-12 06:00] chimp1984 commented on #312
Another idea:
Delegate the bond functionality to Monero and getting best privacy and cheap miner fees [1]. Use a 2of2 MAD style bond tx for each trade. The trade itself would be completely blockchain-agnostic, can be off-chain, LN or anything. Trade violation lead to arbitration with mutually selected arbitrator and if no cooperative outcome is found the bond stays locked forever. There are some i

[2021-02-12 12:49] stejbac commented on #312
@chimp1984 Yes, that interpretation is basically correct. Thinking a bit further about the new BSQ tx rules, it would be useful to be able to create more than one TBSQ-ATBSQ pair per tx, just as in your example above (unlike in the original rules I devised, which always create one pair out of the first two outputs only). That would be useful for on-chain txs which atomically exchange newly created

[2021-02-12 13:43] chimp1984 commented on #312
Maybe a merkle root like structure could work here?

[2021-02-12 16:10] stejbac commented on #312
I guess all the TAG and DBH data would ideally be included directly in the tx somewhere, rather than just a hash or set of hashes (and then subsequently storing them off chain, like the ballot data), as that would make tx parsing simpler and more reliable.

Thinking about the loan idea, it may be possible to relax the condition that the taint (TAG+DBH pair) is unique to each trade & escrow agent (

[2021-02-13 08:25] stejbac commented on #312
Taking the above idea a bit further, we could have only one party (say the maker) providing a TBSQ bond and the taker providing a (much smaller) on-chain BTC security deposit (which, as I mentioned, is needed if either trader makes a bond of less than around 11% of the total required), with the rest of the trade being done off-chain, including provision of the security deposit of the maker. Then t

[2021-02-13 23:48] pazza83 commented on #307
For reference for my perspective selling BTC here are some of the issues I have run into that have caused trades to enter mediation:

1. Buyer accepts trade but does not have the payment method needed (eg accepted Zelle trade but has no Zelle account)
2. Buyer accepts SEPA instant trade but is unable to make a SEPA Instant payment at they only have a SEPA account
3. Buyer does not make payment in

[2021-02-14 00:02] pazza83 commented on #307
These are the proposals for the above I think would be fair.

Buyer loses half their security deposit up to a maximum of 25% of the trade amount.

Buyer loses half their security deposit up to a maximum of 25% of the trade amount.

Buyer loses 5% of the trade amount for every day they are late. Up to a maximum of half their security deposit.

Buyer loses half their security deposit up to a maximum

[2021-02-14 00:57] pazza83 commented on #307
My experience dealing with a scammer on Bisq was the following.

Mediator proposed the scammer lose half their security deposit, I accepted, scammer didn't (the trade was for 0.01 BTC with a 0.006 security deposit, mediators cannot suggest anything that leaves a trader with 0.003 BTC or less) this is to incentivize them to accept rather than going to arbitration.

Trade went to arbitration. Scamme

[2021-02-14 02:13] pazza83 commented on #311
I am not aware of the risks of running a seed node but the bond amount does sound like it would make running a seed node inaccessible to lots of users that might like to get involved. I am assuming there is a need for more seed nodes as Bisq grows so accessibility should be considered.

Maybe rather than adjusting the parameter discussion could be had each year with regards what the bonds values s

[2021-02-14 02:19] #310 closed

[2021-02-15 00:17] Mycelial1 commented on #308
I would love a signature tool that proves bonded BSQ. Not so much the  "Proof of Burn" signature.

I have sold 0.007 Bitcoin to a few different new users lately so that they can pay their first security deposit. They reached out to me simply because I'm active, but being able to refer to bonded BSQ would be very meaningful to me, for building rep, and meaningful to them, because they know it could

[2021-02-15 10:52] MwithM commented on #308
It could be done in an inverse way, burn BSQ but having a right to claim it back (in USD value). In case the bonded through burning trader misbehaves, claiming it back will be rejected.
The best part of it is that it's ready to go, it could be used yesterday for that purpose. We just need to stay vigilant through the chat that trading volume at a time is not over their burnt BSQ.

[2021-02-19 07:54] Mycelial1 commented on #305
This thread turned into discussion about how we could get users to burn BSQ, and create more interest in BSQ generally.

So I created a mockup that was inspired by the ethereum DEXes like Uniswap and 1inch. It's just an icon that displays your current BSQ balance.

![samplebsqcounter](https://user-images.githubusercontent.com/34950746/108474432-3b1c8700-7244-11eb-9706-201b46d7846f.PNG)

![croppeds

[2021-02-19 09:54] MwithM commented on #301
Closing as approved through DAO voting.

[2021-02-19 09:54] #301 closed

[2021-02-19 10:10] MwithM commented on #295
To stop having to go through the hassle of changing it, what about **removing the min security deposit** and keep the min 15% security deposit for all trades, even smaller ones?

[2021-02-19 14:23] #305 closed

[2021-02-19 14:24] #306 closed

[2021-02-19 14:25] #303 closed

[2021-02-19 14:25] #302 closed

[2021-02-19 14:25] #287 closed

[2021-02-19 14:25] #286 closed

[2021-02-19 14:25] #268 closed

[2021-02-19 14:26] #267 closed

[2021-02-19 14:26] #266 closed

[2021-02-19 14:26] #265 closed

[2021-02-19 14:26] #260 closed

[2021-02-19 14:26] #259 closed

[2021-02-19 14:27] #258 closed

[2021-02-19 14:27] #253 closed

[2021-02-19 14:28] #251 closed

[2021-02-19 14:28] #250 closed

[2021-02-19 15:02] pazza83 commented on #295
I have considered this before. However I do think having a set minimum security deposit floor amount ensures that all traders have a minimum amount of skin in the game.

For example in a $100 trade for BTC I would consider $15 too low for any of the following:

- Mentioning Bitcoin in payment reference,
- Paying user from wrong account
- Attempting a scam
- Fishing for account user / data
- Compen

[2021-02-19 17:22] #290 closed

[2021-02-19 21:44] Conza88 commented on #295
I am for removing min security deposit **entirely.** With a warning perhaps that there is no security deposit, for someone _offering_ 0% (or make 1% default) that... and for someone _accepting_ that... with the option they can disable that popup message.

The economics (value free analysis) are pretty clear cut—any minimum excludes those from entering the market. You will continually have to re-ad

[2021-02-19 22:10] pazza83 commented on #295
I agree that individuals should be able to set their own terms, but when using a platform like Bisq they have to adhere to defined rules. You could take it a step further and say that users should be able to choose the trade fees they pay, or the trade window etc, but it would be chaotic and difficult to manage, and would not be in the best interest of Bisq.

Removing security deposits entirely wo

[2021-02-19 23:18] Conza88 commented on #295
Haha, fair enough. Adds complexity. Suppose part of service and customer experience is via protcol/process and simplifying things so less involved/smoother transactions, no issues etc.

Besides my sense of honour & integrity? Not wanting to get blocked, or piss of a seller? (the hand that feeds me? lol).
Nah, fair point. Why did BTC seller not put a security deposit request for buyer then? They ce

[2021-02-20 01:11] pazza83 commented on #295
Maybe not everyone will have the same sense of honor and integrity as you. Especially on a decentralized, somewhat anonymous platform.

Not wanting to get blocked, or piss off a seller? (the hand that feeds me? lol).

It would be easy to just set up a new onion address. I imagine you could to this will altcoins all day long and no one would be able to stop you. Take an offer, if the price moves in

[2021-02-20 07:25] Conza88 commented on #288
![image](https://user-images.githubusercontent.com/51952482/108587640-f2321300-73a8-11eb-892f-0f48353f536f.png)

[2021-02-20 13:15] sqrrm commented on #295
Free is good, but that also means free from mediation and arbitration within the bisq network. The cost of these services means the DAO has to take some care to keep the incentives aligned. We have seen that 10% deposit hasn't been enough to keep the mediation cases low in volatile times so I think 15% is quite reasonable as a minimum.

Reducing the absolute minimum probably makes sense with these

[2021-02-21 00:20] pazza83 commented on #295
@huey735 and @MwithM this might be a good issue for a [poll](https://github.com/bisq-network/roles/issues/16#issuecomment-779464648)

[2021-02-21 08:26] huey735 commented on #295
@pazza83 I haven't been following the finance side of Bisq. I think anyone can suggest a poll on [Discussions](https://github.com/bisq-network/bisq/discussions)

[2021-02-21 11:13] MwithM opened #313 "Use 30 day average BSQ/USD rate for compensation requests"
I propose to start using the **30 day volume weighted average at Cycle 24**, instead of the 90 day that we were using until now. The reason is to reduce the volatility contributors and DAO assumed with the 90 day average, and make it more similar to the rate reimbursements use.
I find this proposal has been already discussed in the [Cycle 22 rate](https://github.com/bisq-network/compensation/issue

[2021-02-21 14:43] pazza83 commented on #295
Thanks I did not realize it was for discussions only.

[2021-02-22 02:14] pazza83 commented on #307
These are my updated proposals based on the fact most trades use a 15% security deposit and traders need an incentive to accept the mediation to avoid trade going to arbitration.

I have only proposed problems with the buyer. Happy to do problems with the seller but not sure if I would be objective enough to complete it.

| Buyer Issues  | Suggested resolution |
| ------------- | ------------- |
|

[2021-02-22 09:32] MwithM commented on #307
"Buyer-seller is asking for selfie, copy of ID of seller, home address."
If it's the trader and not the bank who requires this info (with proper proof that the bank requires it) trader should lose all the security deposit. I'm not sure that, if banks are asking for it, traders would always have to be penalized as bank requirements can be very arbitrary.

"Buyer loses 50% of of the trade amount. Bu

[2021-02-22 10:11] pazza83 commented on #307
For me it does not matter who is asking for it trader, or traders bank. Either way I think there should be an incentive to not ask for it and / or for trader to use another bank for their Bisq trades.

It is taken from the security deposit + trade amount. Therefore even with a 15 % deposit Buyer could lose 115% of the trade amount, assuming seller has received the fiat.

Agree this is not straight

[2021-02-25 10:05] angubite commented on #288
It’s great so see this discussed as I have been hoping for this option for quite a while. I am no developer, just a user who is greatly thankful for this network and all it has to offer. So I’d like to share some thoughts:

Regarding complexity of user experience: I think it is important to have a simple “default layout” similar to the current one but an additional toggle to expand to “advanced op

[2021-02-25 21:02] pazza83 commented on #307
Here are updated suggestions following support call 24 Feb 2021.

BTC Buyer issues:

| BTC Buyer Issues  | Suggested resolution |
| ------------- | ------------- |
| Buyer does not respond to mediator for 48 hours | Buyer loses 25% of the trade amount. Buyer retains the rest of their security deposit. |
| Buyer accepts trade but does not have the payment method needed (eg accepted Zelle trade but

[2021-02-25 21:22] clearwater-trust commented on #307
It's such a big chart. The chart is too big. Why must we create all of these variables? Why/how in the hell can it be this complicated?

What I mean to say is. Why have you complicated the 'mediator" task?  Your humongous chart has too many rows.

Let's try to make it WAY more simple. The trade failed.  Who gets the money?

C'mon. We can do this!

**DO NOT** let the robots win.

[2021-02-26 00:08] Mycelial1 commented on #308
Unless anyone has an issue with me claiming back the same amount of BSQ at a later date, I would like to go ahead and burn some BSQ to increase trust when selling BTC away from the Bisq trade protocol.

[2021-02-26 02:30] pazza83 commented on #307
Hi @clearwater-trust

Yes, lots of rows! I tried to cover as many eventualities as possible. Started with looking at my own trades as a basis for disputes that had arisen. Any ideas how to make it more simple?

If the trade failed in Bisq (no confirmation) then no exchange should occur.

[2021-02-26 09:59] MwithM commented on #308
I think that in case that burning BSQ with a right to claim the BSQ back again is the way to go, selling BSQ or selling fiat should have separated burning transactions.
I think it's better if we keep the discussion about how to use BSQ to bond this trades at https://github.com/bisq-network/proposals/issues/283 @Mycelial1 make this same question there, please.

[2021-02-28 01:50] pazza83 commented on #283
Using Keybase to increase accessibility to Bisq for new traders to buy 0.007 BTC for their first trade has been live for almost a couple of months.

For more info see the [Keybase Buy Bitcoin wiki](https://bisq.wiki/Keybase-Buy_Bitcoin)

Still to do are:

- Complete Wiki
- Post pinned message to buy-bitcoin KeyBase channel
- Come up with a way to make trusted sellers (BSQ Bond/Burn)
- Come up with

[2021-02-28 02:21] pazza83 commented on #288
Hi @angubite thanks for all the feedback.

Each payment account is treated as a separate payment account. The payment accounts of a particular Bisq instance are in turn linked to an onion address. The onion address is not permanent however and can be changed by the user. However if they change the onion address all the payment accounts for that particular instance of Bisq would be linked by the ne

[2021-02-28 21:14] MwithM opened #314 "BSQ rates for cycle 23"
### Possible changes
I think this pre-announcements have proven not necessary because there's been not much controversy while they unnecesarily increase the distance between compensation rates and market prices. Downvote if you want Compensation Maintainer to submit the price at the beginning of the cycle using 90 day average as before of #270. Leave a comment if you would like to use a different

[2021-03-01 00:24] RififiCastorjunior opened #315 "@Castorj to assume L1 support agent role"
**Proposal**

Application to become a support agent for cycle 23, following internship cycle 22

**Motivation**

I have been trading on Bisq since August 2020, my trades have gone smoothly but I had 2 trades go to mediation. That moment was a bit stressful because those trades happen in night time CET, in week end. And no support available at the time.

I really want to see Bisq shine specially wh

[2021-03-02 11:52] huey735 commented on #308
@Mycelial1 you can lock BSQ under DAO > Bonding > Bonded Reputation, you don't have to burn it.

[2021-03-02 11:53] huey735 commented on #307
Hi @clearwater-trust can you come up with fewer cases that sufficiently describe all possibilities @pazza83 described?

[2021-03-02 13:41] clearwater-trust commented on #307
Why are you trying to sufficiently describe all possibilities?

DO NOT follow through with this fee schedule chart madness. **NOBODY WILL UNDERSTAND WHAT THE HELL IS GOING ON**. Traders need to **KNOW WHAT TO EXPECT**.  This fee schedule is garbage.

IF you continue this huge chart madness, the mediator/arbitrator can make up their own fee schedule (because nobody will understand what to expect) a

[2021-03-02 13:49] pazza83 commented on #307
The benefits of describing multiple scenarios is to:

- Let traders know what to expect
- Enable mediators to be consistent between trades
- Enable arbitration to be consistent between mediators
- Make onboarding of new mediators easier

Mediators are still able to decide what they would like to propose, and traders are able to also agree between themselves how they would like to resolve any dispu

[2021-03-03 04:23] chimp1984 opened #316 "Distribute trade fee in BTC to DAO stakeholders by using locked up BSQ"
This follows a similar idea as in https://github.com/bisq-network/proposals/issues/305 and is another approach to try to reduce the role of the burningman.

BSQ stakeholders can choose to lockup BSQ and receive in proportion to their locked up BSQ trade fees in BTC.

We would need a new UI field for the BSQ lockup to add the BTC receiver address. We do not want to use the BTC change address as the

[2021-03-03 04:30] chimp1984 opened #317 "Distribute trade fee in BTC by using proof of burn"
Alternatively to #316 we could use the proof of burn feature to reduce the role of the burningman to distribute the BTC fee back to the DAO.
That way we delegate the role of the burningman to receive BTC, buy BSQ and burn BSQ to the BSQ stakeholders. They can burn their BSQ themself and receive BTC fee payments in return.

Any BSQ stakeholder can burn an arbitrary amount of BSQ and add a second BT

[2021-03-03 05:09] Conza88 commented on #279
Really supportive of this, just a ton of _how_ is _way_ over my head.

[2021-03-03 11:11] sqrrm commented on #317
I see a big challenge in the high mining fees going forward and I think that needs to be dealt with first. The idea of using bonds to distribute fees doesn't sound all that bad, but I think it won't be helpful by just switching the current scheme to directing fees to contributors directly.

One way to reduce output bloat would be to merge fees from buyer and seller to one output if we can get the

[2021-03-03 13:35] chimp1984 commented on #317
Yes, I agree that the bigger problem is the high miner fee. The 1 tx trade protocol is so far the most promising suggestion to deal with it but it is a big effort.

This proposal would help a bit as the burningman need to consolidate the many small utxos and trade at some predictable periods (at least once a month). If BSQ stakeholders receive those this pressure is gone and they can wait as long

[2021-03-03 13:36] chimp1984 commented on #317
You refer probably to #316.

[2021-03-03 13:51] sqrrm commented on #317
I meant burning rather than bonds, but the effect on distributing the fees is the same.

I don't think much is gained in fees by spreading the fees to contributors, the consolidation cost would be the same no matter who is doing it, but larger fees would get distributed unevenly and thus unfairly. I think it could work though in principle, but also quite a bit of work with risks attached so I'm no

[2021-03-04 09:12] MwithM opened #318 "BSQ trading fee update on Cycle 22"
This proposal keeps a record of the [process](https://bisq.wiki/Updating_BSQ_trading_fees) to keep the BSQ trading fee at 50% discount to BTC trading fee. It will remain open until we need to update BSQ trading fees again.

Last update was on #301

## Cycle 22
**Parameters** ([see issue](https://github.com/bisq-network/proposals/issues/289))
* USD/BTC price: 50,000
* USD/BSQ price: 2.52
* Current

[2021-03-05 01:59] pazza83 commented on #316
Sounds interesting.

So I am assuming in terms of economics:

- Much less BSQ would be burnt
- BSQ would become more inflationary (negative impact on price)
- Available BSQ would likely be staked to decrease existing supply this would have an upwards pressure on BSQ / less people looking to sell (upwards impact on price)

DAO model would be successful, or not, depending on BTC trade volume:

- Les

[2021-03-05 02:20] chimp1984 commented on #316
Yes, its hard to predict the economic consequences.
The locked up BSQ are not available in the supply, so it is not only the issued vs. burned BSQ but:
- issued and available on the market (e.g. contributors selling earned BSQ)
- issued but locked up BSQ (e.g. contributors prefer to receive BTC fees)
- burned BSQ from traders using BSQ as trade fee

I think the inflation/deflation balance did not

[2021-03-05 02:23] chimp1984 commented on #316
Btw. it could be implemented with a new UI screen with the mental model of "staking" (though it uses bonded reputation technically.

[2021-03-05 11:42] MwithM commented on #318
TXID Maker: `76a9156cb787e3457adda8dace0a2e3fc56fff5dca3aef30f0b76d8ec574dead`
TXID Taker: `cce92b31b6920fb88c8a9f4b1b002cc33ca87f6fef6d2f68303adf653258d6ed`

[2021-03-08 03:09] Conza88 opened #319 "Priorities (Bigger Picture Solutions) [Discussion]"
Highlighting: [https://github.com/bisq-network/bisq/discussions/5271](https://github.com/bisq-network/bisq/discussions/5271)

Which easily gets overlooked given in "discussions".

[2021-03-08 12:05] MwithM commented on #319
The function I find for "discussions" is exactly to reduce the amount of unclear proposals and ideas, and leave this repo for those structured and consensed initiatives.
I'm closing this as invalid, although I find your post at discussions very convenient.

[2021-03-08 12:05] #319 closed

[2021-03-08 19:25] wallclockbuilder opened #320 "How long does it take users to go from running bisq to first trade?"
Share bisq zeroToSixty data with the growth team.
zeroToSixty is how long it takes a bisq user to go from creating their wallet to doing their first successful trade.
This will give the growth team a number which they can try to drive down through simplified design and onboarding.

**That sounds like it would burden the p2p network... is this is viable?**
Bisq already has all the data needed.
2 da

[2021-03-08 19:29] wallclockbuilder commented on #320
Does the growth team track how long it takes the average user to go from download to first successful trade? How about the vice-versa, how long users spend in the app before giving up?

Nope

[2021-03-08 19:31] wallclockbuilder commented on #320
i'm not sure it's possible to do this systematically...website analytics can give some idea of performance but the software is a complete black hole, intentionally, to maximize privacy. best thing to do may be to gather anecdata...i.e. sit down with people one by one and determine where in the road to making first trade there is most friction.

There is no personally identifiable information invol

[2021-03-08 19:32] wallclockbuilder commented on #320
i think at a minimum you would need some kind of unique id on the client that feeds data to some kind of a central server to aggregate the data...i'm not sure this "phone-home" kind of behavior is a direction the project would want to take. it deviates from the concept of a proper privacy-first peer-to-peer network.

That thinking is wrong. Bisq already shares deanonymised data with its peers over

[2021-03-08 19:34] wallclockbuilder commented on #320
What about old users that start a new instance to improve privacy?
They would bias the collected data.

Not really, The growth team would not be looking at the lower numbers(that would be considered success) but more closely at the higher 0-60 numbers(those are the peers that had problems getting to their first successful offer).

[2021-03-09 08:29] ripcurlx commented on #320
We have discussed such things in the past already, as I wanted to do something similar. The problem is as soon as you start collecting data, even if you use anonymized data, you get into the danger zone. Atm we only get feedback from users who did their first successful trade through a feedback form they can open in a browser.

[2021-03-09 08:42] RififiCastorjunior commented on #320
A review form can be put in for new comers ?

[2021-03-09 09:47] ripcurlx commented on #320
Yes, I was thinking about this already in the past. Something like: If the client is running and no offer is taken or created for x amount of minutes prompt the user if she could provide feedback why she is not proceeding and directing the user to a web form to do so.

[2021-03-09 12:59] sqrrm commented on #320
One way to collect the data would be a voluntary share after the first trade is done, asking the user if they want to send the anonymized date about time from start to first trade. This would also allow old users with a new client to not share, making it easier to filter those out.

[2021-03-09 18:44] wallclockbuilder commented on #320
"Collecting" data is starting to sound cringey to me. I think this is more like surfacing data. Its same as the trade history on the bisq dashboard. Anonymous usage data that everybody in the p2p network sees. What could possibly go wrong?

zeroToSixtyValue: 17days

What could anyone(other than the growth team) do with that number? Definitely nothing malicious. Bisq has everything to gain. Nothing

[2021-03-09 18:45] wallclockbuilder commented on #320
This allows bisq to stay accountable and measurably sure that new users are not being excluded.

[2021-03-09 18:50] wallclockbuilder commented on #320
Most of us are devs with confirmation bias. We think everyone owns a computer that can handle bisq(an application that locks up 3GB of RAM on start).This data will create room for dispassionate and better yet data driven decisions(about design, marketing and dev). Proposal decisions get less political. Win win for all.

[2021-03-09 21:19] sqrrm commented on #320
We're discussing collecting data, nothing wrong in that. No way to do analysis if you don't have data and it has to be collected or you wouldn't have it.

Broadcasting the zeroToSixty value to the network could work as well, but it would be more within the Bisq philosophy to make the broadcasting optional for the user. Not because the data is deanonymizing or have an impact on anyone's privacy, bu

[2021-03-10 01:07] wallclockbuilder commented on #320
@sqrrm Did the dev team ask users's permission to share trade data with the network? Every user can see a historical record of all 95,000 trades right on the dashboard. I can't find any information about the decision process in the journals or reports.

[2021-03-10 01:45] wallclockbuilder commented on #320
My trades history is also among the 95,000 trades that shows up on every user's dashboard. I was never asked and I never gave explicit permission for that to be broadcast to the network.

[2021-03-10 03:21] m52go commented on #320
You're right that there's probably nothing technically wrong with broadcasting anonymized usage data, but there would be an uproar for doing it nonetheless. Bisq users are purists and I don't think implementing any kind of tracking would go over well.

In any case it's pretty well-known that the current Bisq interface isn't great. As I mentioned in [the discussion](https://github.com/bisq-network/

[2021-03-10 04:17] wallclockbuilder commented on #320
Where is the uproar about live user trade data being currently being broadcast to the network and even beyond?
![Screen Shot 2021-03-09 at 8 14 14 PM](https://user-images.githubusercontent.com/2033945/110575798-5d534780-8114-11eb-934e-c8dfc2dcb794.png)
https://bisq.network/markets/

[2021-03-10 04:18] wallclockbuilder commented on #320
Also @m52go How do we know the UI improvement project moved the needle if we have no benchmark zeroToSixty number to compare against?

[2021-03-10 05:12] pazza83 commented on #295
With BTC on the rise again I thought I would share my thoughts about this proposal:

- Reduce minimum security deposit to 0.003 BTC.
- Keep limits for unsigned traders to 0.01 BTC.
- Keep limits for all payment methods the same as current.

[2021-03-10 10:16] sqrrm commented on #320
@wallclockbuilder Agreed that the trade history is a problematic piece of data. The fact that it is public for everyone to see means that it's not doing any hidden publishing though. That is important, users need to understand what data is shared and this data is clearly visible in the UI. I don't want to discourage the 0260 analysis, I just want to point out that we have to be careful how we gath

[2021-03-10 13:19] m52go commented on #320
As I also said in the other thread, I think systematic usability testing could go a long way. You would gain a lot more insight, just from a smaller sample size. I think it would be more effective overall than a lot of numbers with little context.

Speaking of sample sizes, how about you increase your sample size and ask the community whether they would accept tracking within Bisq, and if so, to w

[2021-03-10 15:45] m52go commented on #295
Yeah this proposal needs more attention.

Maybe it would be easier to translate talk into action by splitting into separate proposals that only concern distinct variables:
- minimum security deposit (currently 0.006)
- maximum signing amount (currently 0.01)
- trade size scaling factor (currently 2)

[2021-03-11 12:27] flix1 commented on #170
![image](https://user-images.githubusercontent.com/4233784/110787244-699ee800-826d-11eb-88e9-00a22eb31b70.png)

I can make no assurance that USDT would have a high volume on Bisq. Maybe traders who use it would simply not be interested in the speed, liquidity, fees, ux of Bisq. But the **cost** of trying it is very low. The potential **profit** for Bisq is very high. I see making the attempt as a

[2021-03-12 17:08] BtcContributor commented on #295
I think this is the most prioritary change that we need to implement ASAP.
It is easy to do and will probably bring a lot of liquidity easy.

[2021-03-14 01:27] pazza83 commented on #295
@m52go

Good idea might help get to consensus quicker.

I would be happy to make a proposal for the first two, if you could do the third one (I am not fully aware of how trade size scaling factor works)?

[2021-03-14 02:18] pazza83 commented on #307
Shared guidelines on:

Reddit - https://www.reddit.com/r/bisq/comments/m4le6f/new_dispute_resolution_guidelines_for_trades_that/
Bisq Forum - https://bisq.community/t/new-dispute-resolution-guidelines-for-trades-that-enter-mediation/10556

[2021-03-14 06:34] RififiCastorjunior commented on #307
Things like this can escalate, and make the bank account close. And if either pair reach the support of the bank and logically provide detail of the trade they will mention "Bisq and bitcoin"

 After all of that the seller/buyer can keep his security deposit ?
I miss this discussion, but all of this chart are just suggestion traders can make they own suggestions ?

[2021-03-14 07:48] ghost commented on #307
Oversimplifying can be unjust and there are differences in the severity which should be considered. Also the motivation of the trader must be taken into consideration, if he presumably had bad intentions or if he was just careless.
Open for discussion, a three-level methodology:

| Violation class  | Violation | Penalty |
| ------------- | ------------- |  ------------- |
| Minor rule violation  |

[2021-03-14 09:55] MwithM commented on #295
Closing as superseeded.

[2021-03-14 10:50] MwithM commented on #308
Moved to [discussions](https://github.com/bisq-network/bisq/discussions/5301)

[2021-03-14 10:50] #308 closed

[2021-03-14 11:25] clearwater-trust commented on #307
GARBAGE REWARD SCHEDULE FOR FAILED TRADES.   NOBODY KNOWS WHAT TO EXPECT NOW.  Thanks to the robots for ruining what should be a simple reward schedule. Mediator/arbitrator fee collusion and confusion is still alive and well. Solves nothing and only makes things worse.

[2021-03-14 22:42] sqrrm commented on #307
It's great to have clear guidelines on how to deal with cases. I think this will lead to mediators having an easier time and a more consistent mediation experience for bisq users. I support this effort.

[2021-03-14 23:56] Conza88 commented on #307
Agree with this.

From Hoppe's Property, Causality, and Liability:

So whilst the guidance helps.. if it's pretty clear someone is scammer/being deliberately deceptive/fraudulent etc. then the punishment should be far worse (to the extent they lose everything), that should be possible to enact.

Agreed for sure. Don't quite understand Clearwater's explosiveness.

**"Buyer does not respond to media

[2021-03-15 07:06] Conza88 commented on #320
Anyway to do this at uninstall process? lol. Because then you know they're truly gone.

Would be interested in what time this would trigger... if it was providing handy FAQ's, a prompt of sorts / directions to some of their concerns / pushing to Keybase community for help & assistance etc.. could certainly drop the rate.

And then at bottom an onboarding feedback form they can fill out.

Would not

[2021-03-15 08:20] MwithM commented on #318
Approved through DAO voting.

[2021-03-15 08:32] ripcurlx commented on #320
There is no uninstall trigger on most OSes. At least I'm not aware of it. You just drop it in the trash and it is gone or people just forget that they have the app installed and just don't open it anymore.

Yes, I think this can be a positive experience for the user. We don't need to sell them special deals, just try to help them to buy/sell BTC.

Yes, but we have to be super cautious if we start

[2021-03-16 08:51] m52go opened #322 "Reduce maximum trade size for unsigned payment accounts"
Maximum trade size for unsigned payment accounts should be addressed quickly.

[The last proposal on this](https://github.com/bisq-network/proposals/issues/295) was open since January but bogged down and stalled by a mix of concerns. Here I want to solely address maximum trade size for unsigned accounts.

It is currently possible to trade >500 USD without signing with risky payment accounts in act

[2021-03-16 08:53] m52go opened #323 "Reduce minimum required security deposit"
The current minimum required security deposit is currently 0.006 BTC. **This proposal seeks to reduce it to 0.001 BTC.**

In dollar terms the current minimum of 0.006 BTC is well over 300 USD, which is way higher than intended and makes trading on Bisq impractical and inaccessible for many people, especially for those in emerging markets. The proposed rate of 0.001 BTC is ~55 USD at current rates,

[2021-03-16 09:07] BtcContributor commented on #323
I totally agree with this proposal and I think it should be implement ASAP to not lose market participants.
I also agree with the fact that we should not get rid of a minimum deposit for the reasons exposed above.

Final thought: what do you think about establishing a USD value for minimum deposit (e.g. $50 USD) that automatically converts to BTC? Just to avoid that future volatility will affect m

[2021-03-16 09:35] sqrrm commented on #322
I agree that we need to lower the unsigned offer limit. Just changing both placing and taking requirements simultaneously would cause issues for traders with open offers for 0.01 since upgraded clients wouldn't be able to take those offers.

I think it makes sense to limit new offers to 0.0025 but still allow taking of unsigned 0.01 offers as a first step. Then in a later release the taking of 0.0

[2021-03-16 09:36] MwithM commented on #323
I agree with this proposal, but if we go through laser eyes and this becomes a problem again I would think about removing the min security deposit at all, and leave it to the general min 15% security deposit. Then mining fees probably will make it absurd to trade less than 200USD and the 15% min security deposit should still protect from future trades (it's optional to raise it so a small trade am

[2021-03-16 10:22] Conza88 commented on #322
(1) There was talk on various forums/places about accounts not being signed (when they should have, and was a bug). Has that been addressed at all?

(2) This is going to kick the can down the road ONCE AGAIN. Why is it not possible to mark it as a fixed % of current BTC price in fiat terms?

(3) I am principally for _**no**_ minimum security deposits at all (once signed), and **_no_** maximum limi

[2021-03-16 10:28] sqrrm commented on #322
@Conza88 There was one user who had trouble getting signed. Turned out his account data had not propagated on the network so the signed wasn't able to sign. Once the user removed the account and created it new with a different salt they got signed.

I guess it would be possible to use the current bisq price feed to set a limit in USD, problem is that some offers would then move out of range as BTC

[2021-03-16 11:33] Conza88 commented on #323
_ (2) This is going to kick the can down the road ONCE AGAIN. Why is it not possible to mark it as a fixed % of current BTC price in fiat terms?

(3) I am principally for _**no**_ minimum security deposits at all (once signed), and **_no_** maximum limit either (once signed).
As part of that I would be clearly AF communicating to users who may be taking particular offers that don't have any securi

[2021-03-16 15:33] chimp1984 commented on #322
Another option to deal with it and which makes it easier to deal with future price increases (e.g. if BTC goes to 200k we will have more such events) is to deploy a filter fields with the limit and to show a popup to makers who have offers which are above that limit. Once that limit is deployed such offers cannot be taken anymore. To shoothen the process we can add a data to that limit change when

[2021-03-16 15:59] wallclockbuilder commented on #323
Lets keep it simple . Make minimum security deposit the BTC equivalent of 55USD. Calculatable at offer creation time.

Scalable as it stays the same in USD but floats up/down with the BTC price.

[2021-03-16 17:31] chimp1984 commented on #323
I agree that we should decrease that. As far I am aware its not verified by trade peers, so a change will not break protocol rules. Its defined in Restrictions.getMinBuyerSecurityDepositAsCoin and Restrictions.getMinSellerSecurityDepositAsCoin.

We should consider to peg it to an USD value, should not be too hard. I think a value of 20-50 USD seems reasonable to provide enough incentives to follow

[2021-03-16 18:13] sqrrm commented on #322
@chimp1984 I think it's more transparent to add this in code rather than as a filter. Best would probably be as a DAO parameter but that would take a while to implement. My suggested changes would allow for immediate deployment in the coming release with cutoff tomorrow and the follow up on limitation in the release after.

[2021-03-17 00:27] pazza83 commented on #307
Yes, but only because mediators cannot suggest the suspected fraudulent trader lose everything. As there would be no incentive for them to accept the mediation.

If the trade ends in arbitration the arbitrator / refund agent can reward everything to the victim / wronged trader.

[2021-03-17 00:29] pazza83 commented on #307
Thanks for the feedback. Based on the suggestions what trade scenarios that end in mediation would a trader not know what to expect?

[2021-03-17 00:32] pazza83 commented on #307
@sturmsignal thanks for the feedback. The idea was to base the table on the trade amount rather that the deposit amount. Reason for this was that deposit percentage can be variable and also minimum security deposit would potentially unjustly penalize traders of small amounts of BTC.

Hopefully using a percentage of the trade amount makes this more equitable.

Based on the above what percentages do

[2021-03-17 00:38] pazza83 commented on #307
Thanks @Conza88, I think mediation should not be conflated with judgement. Mediators should be impartial and act to allow two traders to reach a consensus.

In the Bisq dispute resolution process, arbitration, is more akin to judgement.

The above protocols do not cover arbitration. The arbitrator is free to make their own judgement based on the facts presented to them.

[2021-03-17 00:40] Conza88 commented on #307
Ah right. Yeah, I wasn't clear on that.
Probably best to highlight that distinction in future, unless I'm the only one who didn't pause long enough for it to sink in.

[2021-03-17 00:44] pazza83 commented on #307
Hi @sturmsignal

This being a protocol for mediators I tried to keep the proposals based on objective facts and disregard subjective opinions.

I think mediation is about considering the facts and making a suggestion that moves both traders forwards in the resolution. Having clear guideline helps facilitates this as it gives all parties something to refer back to.

This protocol does not cover arb

[2021-03-17 00:45] pazza83 commented on #307
Yes, in hindsight I should have made this distinction earlier!

[2021-03-17 00:50] pazza83 commented on #307
Hi @clearwater-trust

What if the buyer is 1 hour past the trade window? What about 36 hours, what about 72 hours? Should they be penalized the same or not at all?

What if the payment is made 72 hours late but the price of BTC has increased by 20%, what if it has dropped by 20%? What if the seller no longer wants to trade due to late payment? Can they refund the buyer?

[2021-03-17 01:56] pazza83 commented on #322
I worry about the negative user experience impact decreasing the trade size for unsigned accounts will have.

My assumptions are:

- Unsigned accounts accounts will likely be accounts of new users
- New users are more likely to 'take' offers rather than 'make offers' at least initially
- Taking offers requires 3 transactions (roughly 3 times mining fees)
- New users are coming from environments wh

[2021-03-17 02:14] pazza83 commented on #322
Just to share some anecdotal experiences from my limited experience on https://bisq.wiki/Keybase-Buy_Bitcoin for small amounts of BTC.

- New users looking to buy 0.007 BTC are generally happy to complete the trade based on quoted prices
- New users looking to buy of <0.0035 BTC are 50/50 happy to complete the trade based on quoted prices (bearing in mind it is only the seller in this instance tha

[2021-03-17 02:38] pazza83 commented on #323
I agree with all aspects of the proposal.

A 0.001 BTC min security deposit would decrease the friction having the required funds needed for trading for both new and existing users.

[2021-03-17 03:52] chimp1984 opened #324 "Off-chain trade protocol for small amounts using merit, bonds and proof of burn"
I would like to propose a model for off-chain trade protocol inspired by the [off-chain keybase channel experiment](https://bisq.wiki/Keybase-Buy_Bitcoin) of @pazza83. It will have some limitations and will work only for lower amounts, but I think it could help in that area where the high capital requirements for collateral and high miner fees hurt most.

## Overview:
- Seller is maker and does no

[2021-03-17 03:53] chimp1984 commented on #322
@pazza83 FYI https://github.com/bisq-network/proposals/issues/324

[2021-03-17 07:59] huey735 commented on #307
@pazza83 @clearwater-trust @sqrrm @Conza88 @chimp1984 @leo816 @sturmsignal @RififiCastorjunior  I invite you to move the discussion of penalties to [this discussion board](https://github.com/bisq-network/bisq/discussions/5324).

[2021-03-17 08:19] clearwater-trust commented on #307
I refuse to play your what if game.

HOW WILL WE ACCOUNT FOR ARBITRATORS IF THEY CAN SELECT FROM A HUGE SCHEDULE OF REWARDS?

We must limit the confusion and collusion so we can **ACCOUNT FOR FEES** and be able to easily understand the work arbitrators are doing for us.

This huge reward schedule WILL NOT WORK.

[2021-03-17 11:36] RefundAgent commented on #322
Euro should not be subject to these limits, since SCA as part of PSD2 is being rapidly implemented in the Euro-area with most countries being fully compliant and the rest following in rapid succession: https://okaythis.com/blog/sca-deadlines-across-europe

The consensus within Bisq is that traders are extremely sensitive already to the trading fees (average about 0.4%). One should thus be very cau

[2021-03-18 09:20] MwithM commented on #324
Using merit is a great measure for buyers, but stops me or other contributors from creating a sock puppet account to gain privacy.
I don't think there would be many sellers under this conditions.

[2021-03-18 15:05] chimp1984 commented on #324
For fiat privacy is very limited anyway as the trade peer will know your payment account data which in many cases include the name.

[2021-03-18 15:09] MwithM commented on #311
Closed as rejected through DAO voting on Cycle 22. You can keep discussing this issue here or at discussions, and open a new proposal if it's going to be voted again (DAO voting is mandatory as it's a DAO parameter).

[2021-03-18 23:22] Leopold-Klotz commented on #88
Looking at reviving this discussion or am open to updates if anything has happened concerning it. Would love to hear if there is any other interest!

[2021-03-18 23:42] pazza83 commented on #324
Thanks @chimp1984 for making this proposal.

Taking away all miner fees would enable small offers of $300 or under to be made more of benefit to both buyers and sellers.  This would likely result in more offers of $300 or less being made / taken.

I agree that the risk would be low considering the high bond amount.

I can see how merit hardens security but I also think it would decrease participat

[2021-03-19 11:23] MwithM commented on #300
Closed as approved.

[2021-03-19 11:23] #300 closed

[2021-03-19 11:29] MwithM commented on #314
At next Cycle (Cycle 24) Bisq will use the 30D average at the beginning of the cycle. https://github.com/bisq-network/compensation/issues/805

[2021-03-19 11:30] MwithM commented on #314
Closed as approved with modifications indicated at previous post.

[2021-03-19 11:30] #314 closed

[2021-03-19 15:59] chimp1984 commented on #324
To limit offers by bond would not be too complicated, just to follow open/closed trades is the hard part which is likely not possible without a blockchain.
The merit could be also used optionally to signal extra security for the buyer. Bond can be defined by allowed parallel offers, so per offer some bond amount. maybe burned BSQ as well...

But the main problem is still how to add new protocols a

[2021-03-19 20:40] MwithM commented on #315
Closed as approved. Welcome.

[2021-03-19 20:40] #315 closed

[2021-03-19 23:38] pazza83 commented on #322
[Lower tolerated small amount #5318](https://github.com/bisq-network/bisq/pull/5318)

[2021-03-19 23:59] pazza83 commented on #283
The current minimum required security deposit is currently 0.006 BTC (~$360).

The new minimum security deposit will be reduced to 0.001 BTC (~$60) in next release:
[Reduce minimum required security deposit #323](https://github.com/bisq-network/proposals/issues/323
)

It will therefore, make sense to transition the buy-bitcoin channel for maximum offers of 0.002 BTC (~$120).

I will leave it runni

[2021-03-21 12:10] pazza83 commented on #322
I am disappointed this was not discussed further.

[2021-03-21 20:13] Conza88 commented on #322
Is this ACTUALLY a problem?

Where is the data?

How many unsigned amounts over this ended up falling/getting escalated?!

Or is this theoretical fear based on "what if"?

And consequences are reducing liquidity even further!?

[2021-03-21 20:49] ripcurlx commented on #322
As it seems to be this change needs more discussion going forward please leave a :+1: if https://github.com/bisq-network/bisq/pull/5318 should be reverted for the v1.6.0 release and on master.

[2021-03-21 20:53] ripcurlx commented on #322
I can confirm that within Austria of the four banks I'm using all of them have 2FA with a mobile app already in place.

[2021-03-21 21:04] m52go commented on #322
Nothing about this proposal is theoretical...allowing trades larger than 100 USD without safeguards was a problem in the past which almost crippled the network. I don't remember the exact figures but I believe some of the chargebacks in early 2019 were for smaller 300-400 USD amounts. The result: **all new users were barred from buying more than 0.01 BTC at a time for 6+ months of 2019.** Talk abo

[2021-03-21 21:13] pazza83 commented on #322
I see it as a principle that changes should be made through following Bisq's [project management process](https://bisq.wiki/Project_management)

I think the hast to implement a fix has meant that the process has not been followed as it should have.

I think more discussion is needed regardless of outcome.

[2021-03-21 21:20] m52go commented on #322
This topic has been [under discussion since January](https://github.com/bisq-network/proposals/issues/295) and it's been almost a week here.

It's a matter of network security, and given the risks at hand, I don't think any of the objections so far warrant avoiding this change in the upcoming release. Short-term fluctuations in growth and adoption won't matter if a few bad actors do chargebacks an

[2021-03-21 21:23] Conza88 commented on #322
What payment methods does this effect specifically?

All that require signing?

[2021-03-21 21:23] m52go commented on #322
Yes.

[2021-03-21 21:36] pazza83 commented on #322
Yes, but no consensus was reached on #295 and from my perspective no consensus was reached on this thread. I was surprised when I saw it was being implemented: https://github.com/bisq-network/bisq/pull/5318

I was not aware the process was different for proposals. I assumed a rough consensus would still be needed.

There has to be a balance between network security and accessibility. My thoughts a

[2021-03-21 22:24] BtcContributor commented on #322
Or maybe we could choose something in the middle between 0.0025 and 0.01.
For example, 0.005 I think it could be a good compromise.

[2021-03-21 22:50] cocaesprit commented on #322
I don't think limiting trade amount is the solution. After all a signed account states that the peer successfully traded ONE time (at least). To me this doesn't seem like a proper measure of a peer's reliability, a scammer could get signed before and chargeback later.

Limiting trades is a rather unelegant and superficial way to patch the problem. I believe in giving peers the power to choose whic

[2021-03-21 22:54] sqrrm commented on #322
The model put in place a couple of years ago was a hard coded limit at around USD100 in BTC. This risk model hasn't changed and no new consensus has been found so it makes sense to keep this limit until we have a new consensus.

I understand that a lot of new contributors were not around and might not be aware of the previous discussions and past issues with scammers. The result of those discussio

[2021-03-21 22:58] m52go commented on #322
Another option, as mentioned in the opening post of this proposal in the "Workarounds" section, is to keep the limit high and make it extra-clear to sellers that offers in the 0.0025 - 0.01 range carry more risk. Ideally this would be accompanied by an option for sellers to specify that their offers only be take-able by signed buyers.

With the above solution, the signing trade amount could be rem

[2021-03-21 23:08] cocaesprit commented on #322
Well Bob enters Bisq v1.6.0, sees that the only tx he can take are ~24% up in seller's premium, he then proceeds to deinstall Bisq, forget it and never check it out 3/4 months later.

Then Alice also enters Bisq v1.6.0, sees that the only tx she can take are ~24% up in seller's premium, she's disappointed but proceeds to take the offer, but as soon as she sees the high fees which in proportion to

[2021-03-21 23:10] pazza83 commented on #322
Most of the volume for fiat on unsigned accounts go through:

- SEPA
- Zelle
- Revolut

I would argue SEPA is very low risk.
Not sure about Zelle. Do you know what level of risk of chargebacks this has?
Revolut is much higher risk of chargeback due to payments being on the same platform. This is the one I would be most concerned with.

[2021-03-21 23:13] Conza88 commented on #322
We could see the actual data if: @wallclockbuilder's [https://github.com/bisq-network/proposals/issues/320](https://github.com/bisq-network/proposals/issues/320) gets over the line.

[2021-03-22 01:50] m52go commented on #322
Zelle is generally low risk but chargebacks are possible...it should still require signing, I think. I believe the past chargebacks were carried out with SEPA and Zelle. Seems like things may be changing soon with SEPA but I'm not aware of any such changes with Zelle.

---

To add some perspective: payment account security has always been problematic for new user experience. Before account signing

[2021-03-22 02:44] Conza88 commented on #322
What does scrambling to control the fallout look like? So bulk chargebacks from scammers? More support tickets? A hot fix attempt to change?

[2021-03-22 03:01] m52go commented on #322
If it's anything like last time, I believe trading was blocked altogether for certain high-volume payment methods, then trading for all new risky accounts was limited to 0.01 BTC **indefinitely** (ended up being ~7 months), and the whole time people were wondering just what the heck was going on.

Bisq trading activity is 2x - 4x what it was in those days. And its public profile is much higher...s

[2021-03-22 03:04] Conza88 commented on #322
Is there any 'compromise' position between the two current takes? An easier thing for all to accept short term, until next release?

[2021-03-22 03:22] m52go commented on #322
I would say that if signing limits are not reduced in 1.6.0, there should **at the very least** be a pop-up displayed on the make-offer screen for sellers clarifying the situation so they can deal accordingly. Maybe a toggle to require that takers for particular offers be signed or unsigned could be added in an upcoming release, [which would absolve the need for this signing limit entirely](https:

[2021-03-22 03:47] Conza88 commented on #322
I am continually for allowing choice to users (buyers/sellers), along with the proper education (UX) to assist in that decision making process. What the risk/rewards are, so no-one can claim to be uninformed. Whether that's informative "(i)" hover overs, or links to wiki pages.

**(1)** So very much on board with ability for makers to toggle whether signed or unsigned can accept their trades. Trad

[2021-03-22 04:29] m52go commented on #322
Totally agree with last part -- this is something we should work toward never encountering again.

But I would be cautious about settling on a compromised reduced limit:
- As it is, reducing this signing trade limit is a rather disruptive change that will need to be rolled out [over a span of 2 releases](https://github.com/bisq-network/proposals/issues/322#issuecomment-800103508). Is it worth the

[2021-03-22 04:37] Conza88 commented on #322
Good points. Geezus, that's drawn out. Especially around re-education, and when signing limit will be removed anyway (ideally)...
The signal to market/impression would be "wtf is going on?' 'one week this, next week that... ugh!"

That's fair enough.

Yep, definitely onboard with that. Pop-up or altered gives knowledge about risk/circumstance etc. awareness for those accepting risk. And limits as

[2021-03-22 04:52] m52go commented on #322
The signal to market/impression would be "wtf is going on?' 'one week this, next week that... ugh!"

Exactly, would be best to avoid such friction points, or at least consolidate them as much as possible.

Yes I think feedback from developers @sqrrm @jmacxx and others would be important to get an idea of if/how this could happen.

[2021-03-22 10:20] ripcurlx commented on #322
As SEPA is our biggest "signed account" market and most of the EU countries will follow suit in providing 2FA (non-sms) by end of March, except UK (> 14th Sept), Belgium (> 18th May), Ireland (>1st July), Switzerland (> 15th Sept), we could remove the signing limitations for SEPA, SEPA Instant, National Bank, Same Bank and Specific Bank with release (v1.6.1) on a country basis. So signing will onl

[2021-03-22 10:35] ripcurlx commented on #322
As I'm about to merge the revert of the "Lower tolerated small amount". @m52go Could you please come up with a text for the case someone is making a sell offer <= 0.01 BTC or when taking a buy offer <= 0.01 BTC of an unsigned account?

@jmacxx Would you have time to implement those popups for the v1.6.0 release?

[2021-03-22 13:33] m52go commented on #322
@ripcurlx
[code]

[2021-03-23 00:04] pazza83 commented on #322
I think a long term solution is needed.

When limits were set at 100 USD mining fees as a percentage to BTC trade amount where a lot lower.

From my perspective an initial 0.0025 max limit seems low for unsigned accounts when accounts that do not require signing can trade immediately at 0.25 BTC levels. This is a 100 fold increase. To me this seem disproportionate.

If we do nothing and BTC price

[2021-03-23 12:51] m52go commented on #322
Yes, this proposal is more intended of a stop-gap measure for the immediate future. I think the worst thing that could have been done for the 1.6.0 release is nothing.

Preventing fraud is a pretty hard problem for billion-dollar companies with tons of information, so for a fledgling peer-to-peer network predicated on privacy, I think account signing has worked rather well so far. But you're certa

[2021-03-24 03:03] HeadyWook commented on #323
I'm trying to grasp this. So if the minimum security deposit (i.e., collateral) is changed to 0.001 BTC then that would allow more smaller trades. That is good. However, how will this correspond to larger trades? For example, a user should not be able to post a trade for 0.01 BTC with a security deposit of 0.001 BTC because that would create incentive to cheat. It should be some percentage of the

[2021-03-24 03:05] HeadyWook commented on #323
Using fiat won't work if price goes up. It sounds like a fixed fiat amount is being suggested? If that is the case and price does increase then it would create incentive to cheat because the fiat value of the security deposit is so small.

[2021-03-24 04:03] m52go commented on #323
@HeadyWook this proposal only changes the absolute minimum security deposit. Security deposits will still be determined as a % of trade size. I believe the current permissible range is 15% - 50% (determined by offer maker), but instead of the absolute minimum being 0.006 like it is now, the absolute minimum will be 0.001.

Examples:
1. 0.01 trade with 15% deposit specified means both traders depos

[2021-03-24 05:58] HeadyWook commented on #323
OK, I'm understanding. Thank you.

What is the plan to handle the smaller trades where the current security deposit is 0.006 BTC? Currently there are 11 offers to buy BTC where the security deposit is greater than the buy amount.

[2021-03-28 19:53] pazza83 commented on #323
They will get taken over time by people who are not concerned with the deposit amount (it will be refunded anyway), alternatively if they are not taken they can be edited or cancelled.

[2021-03-28 20:05] pazza83 commented on #322
@m52go

How about considering other ways to decrease fraud rather than lowering trade sizes.

Would it be possible to add into the protocol a 7 day period where the seller can wait before releasing funds to buyer to ensure no chargebacks etc.

This waiting period prior to singing would protect the seller from any chargebacks and buyer would still get their BTC as the agreed price albeit with a 7 d

[2021-03-29 03:48] m52go commented on #322
@pazza83 I remember you proposing the idea of a longer trade period for signing trades on Keybase last week...I think it's a nice solution, in theory. I'm not sure 7 days is long enough, but however long the period is, the prospect of locking BTC for several days will probably be unattractive for both parties (especially buyers).

Still, time really is the key to proving integrity in a transaction

[2021-03-31 07:17] BtcContributor commented on #170
Any update on this? Adding USDT/USDC would be easy I think and could lead to a lot of users.

[2021-04-01 23:24] stopfeds commented on #138
Apparently, there are quiet a few Traders bonding for a reputation bond. Is there a specific reason why they do this? I mean, the bonded reputation in the DAO doesn't have a benefit (yet), right?

[2021-04-02 00:18] pazza83 commented on #138
I think a few have done it for the buy-bitcoin and buy-bsq channels on Keybase as these are small OTC transactions that take place with no security deposits.

[2021-04-02 01:45] pazza83 commented on #316
This discussion is a little quiet but I think a discussion of how to fix the burningman problem is something that could be discussed in one of the [team meeting](https://github.com/bisq-network/bisq/discussions/5378)?

@chimp1984 is it possible for you to link to all the issues / proposals created that address this so they can be discussed?

[2021-04-02 02:28] pazza83 commented on #283
Going to re-assess the 0.002 BTC limit as some sellers of 0.01 BTC or less are choosing to use a deposit over 15%. Will re-assess at the end of this month.

[2021-04-02 03:13] chimp1984 commented on #316
Here are some related proposals:
https://github.com/bisq-network/proposals/issues/304
https://github.com/bisq-network/proposals/issues/317

I think that proposal might be problematic from securities regulations point of view.

[2021-04-02 03:18] pazza83 commented on #316
Thanks, What do you mean by PR?

[2021-04-02 03:27] chimp1984 commented on #316
Ah sorry, proposal I meant... Will change the comment...

[2021-04-02 03:37] pazza83 commented on #322
This seems to be agreed. Are any devs able to implement this? @ripcurlx would you like me to create a separate issue for this request?

[2021-04-02 18:24] pazza83 commented on #283
I made a couple of graphics that can be used to promote the buy-bitcoin channel on Twitter and other social media platforms:

![Starter pack - 3](https://user-images.githubusercontent.com/66367547/113442927-dfb7ea00-93e8-11eb-9ce1-564df9e34034.png)

![Starter pack - 4](https://user-images.githubusercontent.com/66367547/113442937-e5153480-93e8-11eb-9797-103ab329e729.png)

[2021-04-03 11:25] MwithM commented on #323
Merged in pull request 5236.

[2021-04-03 11:25] #323 closed, assigned to nobody

[2021-04-04 09:20] MwithM commented on #318
Closing as an update is required on Cycle 23.

[2021-04-04 09:20] #318 closed

[2021-04-04 09:23] MwithM opened #325 "BSQ trading fee update on Cycle 23"
This proposal keeps a record of the [process](https://bisq.wiki/Updating_BSQ_trading_fees) to keep the BSQ trading fee at 50% discount to BTC trading fee. It will remain open until we need to update BSQ trading fees again.

Last update was on #318

## Cycle 23
**Parameters** ([see issue](https://github.com/bisq-network/proposals/issues/289))
* USD/BTC price: 49.100
* USD/BSQ price: 2.28
* Current

[2021-04-05 08:29] sqrrm commented on #322
@pazza83 please open a separate issue, under bisq-network/bisq to track this to avoid muddling the discussion in this issue.

[2021-04-05 11:22] MwithM commented on #325
Maker txid: 9493be2d14df0382196b51205d0175a8c9ca7722dafd248e10bc16739e51c15a
Taker txid: b687a86936b4ff675d6effeeec20dc909a7dfdf3e77193b62235db6ca5be6768

[2021-04-05 20:42] chimp1984 opened #326 "Promote that Bisq contributors run Tor relay nodes"
Bisq supports since long ime payment in BSQ for running a Tor relay node to support the Tor network. Unfortunately this never got traction and beside people running Tor nodes anyway I am only aware of one who added a relay.

To advertise this better I would suggest a lottery payment for anyone who starts to run a Tor relay node. The Tor nickname could be used to detect those who partizipate in tha

[2021-04-07 12:40] chimp1984 commented on #326
Here a usefule link for relay node setup: https://github.com/coldhakca/tor-relay-bootstrap

[2021-04-07 13:46] chimp1984 commented on #326
As it seems the proposal get some basic support, I would add more specifications:

- Once there are > 30 nodes with "bisq" (lowercase) in the relay nickname at a new DAO cycle the **Tor-boost-initiative** starts
- At beginning of a new DAO cycle the compensation request maintainer takes all the nodes found at https://metrics.torproject.org/rs.html#search/bisq%20flag:fast which have an uptime > 3 d

[2021-04-08 09:11] leo816 opened #327 "Eliminate the "Keep funds in bisq wallet" and "Move funds to External Wallet" button"
_On yesterday's support call we mentioned this topic:_

After a trade is completed you get the option to "keep funds in your bisq wallet" but the reality is that the funds are automatically added to your wallet and the button serves no real purpose. The "Move funds to external wallet" does make sense but I see it as a confusing step that is not necessary. A user can just go into send funds and mov

[2021-04-08 10:07] MwithM commented on #327
This proposal is not a "significant project-wide changes or new initiatives where a broad consensus of contributors is neded", so I'm closing as invalid.
I'm not sure wether [discussions](https://github.com/bisq-network/bisq/discussions) or [bisq/issues](https://github.com/bisq-network/bisq/issues/new?assignees=&labels=&template=bug-report.md) fits better for this requests, since this is not exact

[2021-04-08 10:07] #327 closed, assigned to nobody

[2021-04-08 15:09] ghubstan commented on #327
@leo816  FYI, I had to add a `keepfunds` method to the API to accomplish what that button does from the UI:  move a completed trade's internal state to CLOSED.  You have a point about the button's apparent lack of usefulness to an end user, but some interaction from the user is needed to close a trade.

[2021-04-11 10:13] Kixunil commented on #312
Very happy to see this moving forward, awesome folks!

There's also [generalized lightning implementation](https://github.com/LNP-BP/lnp-node) written in Rust which aims to be even more extensible than Rust-Lightning and already supports colored coins via RGB.
I'm not sure if it's possible/beneficial to move BSQ to RGB as I don't understand the details deeply. Pinging @dr-orlovsky who could clarif

[2021-04-11 19:02] boldsuck commented on #326
Because that was a bit outdated i updated the script for Debian buster:
https://github.com/boldsuck/tor-relay-bootstrap

I set up all my relays with it: https://metrics.torproject.org/rs.html#search/TorOrDie4privacyNET

[2021-04-11 19:05] cbeams commented on #311
This proposal has been submitted for approval in Cycle 23 (which is currently in the blind vote phase as I write this), but the status of the proposal here in GitHub remains closed and rejected.

@bisq-network/proposals-maintainers, perhaps it should be re-opened to reflect the fact that @wiz has actually re-submitted it and to avoid confusion.

[2021-04-11 19:09] cbeams commented on #325
This proposal appears to have been submitted twice for Cycle 23. I assume this was an accident, @MwithM can you confirm?

<img width="1132" alt="image" src="https://user-images.githubusercontent.com/301810/114317819-353b7780-9b0a-11eb-9e12-fe3bd3e35e80.png">

[2021-04-11 22:36] MwithM commented on #325
The same proposal affects 2 different parameters, BSQ trading fee for maker, and for taker. The previous comment has the 2 different TXIDs for the two different parameters, which are included into this 325 proposal.

[2021-04-15 10:45] cristiang2312 opened #328 "I'm here for a proposal, listing a cryptocurrency native to the World Wide Web on your platform, which is WebDollar."
Greetings fellow crypto enthusiasts!

I started looking into your project a while ago and it looks like you guys are doing a great job, keep up with the good work!

One other project in which I'm very interested is WebDollar, as mentioned in the title it is a cryptocurrency native to the World Wide Web. Why do I believe in this coin? Because of its simplicity.

You just have to visit their website

[2021-04-15 12:17] MwithM commented on #328
This is not a _significant project-wide changes or new initiatives where a broad consensus of contributors, users, and stakeholders is desired_. https://bisq.wiki/Proposals

Listing new assets is on hold. https://github.com/bisq-network/proposals/issues/166

Closed as invalid.

[2021-04-15 12:17] #328 closed, assigned to nobody

[2021-04-21 22:39] pazza83 commented on #244
Although this method looks promising, and despite some information to the contrary, I am not convinced peer to peer payments are easy to set up. It seems to be more business to consumer orientated. I am investigating with https://www.ideal.nl/en/consumers/what-is-ideal/ and will create a new issue if feasible.

Tikkie seems to be purely business to consumer orientated so that is a non starter.

[2021-04-22 16:22] pingiun commented on #244
Tikkie is actually meant as peer to peer. The page you visited is probably oriented towards businesses who want to receive payments using Tikkie to avoid the hassle of setting up their own iDEAL payments. I will show you some screenshots to show how it works for regular people.

![IMAGE 2021-04-22 18:05:55](https://user-images.githubusercontent.com/1576660/115747284-641cdd80-a395-11eb-939b-44d40a0

[2021-04-23 22:29] wiz commented on #198
Due to the recent high transactions fees on Bitcoin's base layer, @jmacxx has expressed interest in working on this project. We will work together to create a project proposal next.

[2021-04-24 00:48] pazza83 commented on #244
Hi @pingiun cheers for this, much appreciated. The info is really helpful.

I will reopen as advised as Tikkie. I will cc you in so you can check the proposal. I had trouble accessing Tikkie from my region so it would be great to have your input.

Many thanks

[2021-04-24 03:03] chimp1984 commented on #279
@sqrrm @stejbac
I tried to recap the whole concept. Please let me know if my conclusion is correct and if it represents the latest state of the discussion.
There has been some discussion to use private keys instead of the nonces but I am not sure if a solution has been found with that approach.

## Preparation:
Alice:
Creates nonce: N_a
Sends hash h(N_a) = h_a to Bob

Bob:
Creates nonce: N_b
Sends

[2021-04-24 10:47] sqrrm commented on #279
I think this is a fair recap.

The size of the deposit tx would be larger than the current deposit tx but I think smaller than the two txs needed if we were to just remove the trade fee txs in the current protocol. Once taproot is available it would be possible to hide the branches of the script and only the default payout option shown which would reduce the size further and also make the txs more

[2021-04-24 13:37] sqrrm opened #329 "Federated trade fee aggregators"
This is an idea inspired by https://github.com/bisq-network/bisq/discussions/5418 and recollecting the issues with an off chain protocol as discussed in https://github.com/bisq-network/proposals/issues/32

### Problem
Trade fee transactions are low value transactions that cost a lot in mining fees and are difficult to handle. Currently they're paid as either BTC outputs to the burningman or by bur

[2021-04-24 22:30] hodlwave commented on #279
This is a great idea @sqrrm.

I'm not a cryptography expert, but I think the protocol would benefit from a combination of Taproot and MuSig2 to greatly reduce the cost of either party spending their Deposit Tx output in the happy path.

Extending the example @chimp1984  provided above where Alice is selling 1 BTC to Bob and we use a 0.1 BTC security deposit.

Deposit tx:

Input 1: Alice 1.1 BTC
In

[2021-04-24 22:41] Conza88 commented on #279
From a branding/marketing perspective—hazing Taproot & Schorr is massive 👍👌🏆 . Being one of the first to implement that would be novel in of itself for new users to check out. Combined with single transaction, new UX design, and multi payment method 🌚🚀

[2021-04-25 01:23] chimp1984 opened #330 "Bisq 2.0 - A multi-protocol DEX (working title Misq)"
## Overview
The suggested new architecture supports multiple trade protocols and security mechanisms as well as multiple blockchains.
The separation of the security mechanism and the asset transfer provides a lot of flexibility to adjust to users needs and preferences.

The problem of market fragmentation can be mitigated by supporting multiple protocol and security options and allow the taker to

[2021-04-25 02:08] chimp1984 commented on #329
The FA would learn about the trade history of the users which have choosen that FA, right? If so that would be a serious problem.

[2021-04-25 02:09] chimp1984 commented on #329
The FA would learn about the trade history of the users which have choosen that FA, right? If so that would be a serious problem.

[2021-04-25 10:29] sqrrm commented on #329
The FA would learn about the fees paid, which would correspond on amounts traded of course. I think it's not necessary to use trade ids, a nonce generated for the trade could be used for verification of fee payment for a trade. Still, the FA would be able to get a reasonable picture of the kinds of trades made by the user, that is true.

[2021-04-25 19:35] chimp1984 commented on #330
## Next steps

Tried to get a bit of a plan what needs to be done if the proposal finds support. Also did a very rough estimation which ended up in 200 person days, which would be about 3 months for 3 full time devs. Probably its more, but too early at that stage but I guess a range of 2-6 months for 3 full time devs might be realistic.

### Validate concept
- Get basic concept ACK
- Concept refin

[2021-04-25 22:22] ghost commented on #330
It sounds very ambitious!

Positives:

- starting from scratch helps that there is no legacy stuff to inhibit dev productivity.
- the point about developing API-based seems an important one, UX/UI can be built separately / different timeline.
- moving away from BitcoinJ to a wallet-agnostic solution would be a huge win.
- adding a social trading option like keybase sounds good, would like to under

[2021-04-25 22:35] chimp1984 commented on #330
I bet you will beat me, at least you produce less bugs ;-)

The modular approach should not be visible to users. For users its just one app where they can enable features (chains). But sure not much worked out yet how that will work.

Generally UX is probably a main issue. Not sure how it can work out to make it easy for users to select the options without the mental costs of understanding all the

[2021-04-26 01:22] chimp1984 commented on #330
I tried to sketch a bit the basics of the UX and to my surprise it might not be that hard and different to the current model. Sure it adds more options and with that comes more complexity but a good UX designer can hopefully design it so that it becomes acceptable.

The step based approach is just an example, could be done differently as well. Some options might be also set at initial setup or in

[2021-04-26 08:17] ripcurlx commented on #330
I like the ideas a lot! I think it is a good idea to focus on protocol and API, but we need to make sure to start soon with developer relations/documentation, development funds?,... for devs to come up with slick UIs or other implementations leveraging the API (I think 0x.org has done a good job in that regard)

My concerns:
- Dev time will be longer (as @jmacxx already mentioned), so we have to t

[2021-04-26 15:14] flix1 commented on #330
I like the idea, especially making it modular so that it can evolve and grow in the future while avoiding bottlenecks. It makes a lot of sense to separate the base layer modules from the trading mechanism.

But... my concern is that it seems very ambitious and will require a lot of effort and time to build, even modules that already exist in Bisq.

Why not re-use the Bisq P2P network, offer book a

[2021-04-26 15:34] ghubstan commented on #330
- **Ambitious**  I would want to work on Misq for the mid/long term, but wonder (like everyone else) if it is possible to build this and keep Bisq going with the current number of devs.  That said, I'm ready to dive in.

- **Roadmap**  You suggest developing a parallel Lisq version separate from Bisq, then integrating Lisq into Misq.  I suggest new work begins on Misq, while calling it Lisq.  As s

[2021-04-26 15:45] flix1 commented on #330
OK here is an even more radical proposal that would minimize work and time needed: have everything that does not need to be in Bisq outside Bisq. Use Bisq only for what it does best: security features, dispute resolution and DAO governance.

**P2P network layer:** Don't use Bisq. Use bittorrent.
**Message board:** Don't use Bisq. Use keybase, a wiki or bittorrent.
**Direct communication channels:*

[2021-04-26 16:51] flix1 opened #331 "Bisq 2.0 - A simplified DEX (working title Sisq)"
This suggested new architecture uses existing Bisq features for security, while significantly reducing the need for on-chain Bitcoin transactions to reduce cost. The idea is to keep changes to a minimum for speed of development.

**P2P network layer:** Use existing Bisq 1.6.2 system.

**Offer Book:** Use existing Bisq 1.6.2 system.
Add a new market (eg: LN-BTC/EUR) that allows users to publish no-

[2021-04-26 16:59] mpolavieja commented on #331
Very interesting.  Should that LN-BTC/EUR market have a maximum limit per offer?

[2021-04-26 17:01] flix1 commented on #331
Does it really matter? That market is just a signalling mechanism without any Bitcoin tx, fees or security deposit. The only real limitation it will probably need will be some anti-spam feature to prevent DDOS. It won't even be a binding contract, just a way for traders to get in touch and message each other...

It would basically be a P2P message board with the ability to open a direct chat to an

[2021-04-26 17:06] mpolavieja commented on #331
I knew you were going to answer that ;).  I suggested it just to prevent very lame Bisq user (newbie) for being scammed a significant quantity.  I guess that it would be really strange to happen. As of today, a user that uses Lightning Network and has installed Bisq most probably knows rather well what is he doing....  But I don't know, just in case....

[2021-04-26 17:41] flix1 commented on #331
This system would require that mediators know and understand this type of trade and that it is not against the Bisq rules. Mediation would be relatively similar to what exists now:

-Proof of fiat payment would be exactly the same.
-Proof of Bitcoin payment via Lightning Network is relatively easy, even compared to existing altcoins.
-Mediation fees would still work the same, since the BTC/BSQ tx

[2021-04-26 18:12] flix1 commented on #331
![image](https://user-images.githubusercontent.com/4233784/116131248-7025d980-a6cc-11eb-877c-c2583cafde67.png)

This is how easy it would be to create the Sisq order book. Literally a shared spreadsheet.

I still remember when the Bisq DAO was a shared spreadsheet... just a few years ago. Of course eventually you want a P2P network over Tor to make it uncensorable... but the point is that you can

[2021-04-26 18:36] flix1 commented on #331
Thinking about it, I don't see why we should limit it to just simple exchange... we could have many types of contracts: options, futures, loans...

![image](https://user-images.githubusercontent.com/4233784/116133634-399d8e00-a6cf-11eb-8d72-30b94d2e6fff.png)

[2021-04-26 18:50] chimp1984 commented on #331
That might be a good way to test out the acceptance of the base idea (having multiple flexible contracts/protocols/security tools). We could use current Bisq as one form or protocol. So there is a generic offerbook/spreadsheet where a user can post I have a BTC-EUR offer on Bisq and if one want to take that with the Bisq secruity model they both just use Bisq. If they trust each other because they

[2021-04-26 20:11] Conza88 commented on #331
I am A LOT happier with this than all the other proposals (besides single transaction).

Don't like the sense of splitting. Where this instead adds on.

[2021-04-26 20:19] chimp1984 commented on #330
Yes it should be done in parallel, so Bisq just continues as it is until the new project is mature enough to take over and even then the old Bisq could be kept running if there is demand.

Not so sure anymore if a renaming is a good idea, as it might confuse users and we managed to build up a very valueable brand. But maybe its good to have a working title to not confuse normal Bisq with the new o

[2021-04-26 21:36] mpolavieja commented on #331
I've been always very impressed that in Argentina Bisq does not take off.  There is a very big bitcoin group in facebook (and probably in other social media) where people exchange bitcoin, and it is based on trust and reputation.

As @flix1 and @chimp1984, it could be a good idea that Bisq could funnel those trades, but without the need of all the security measures if the parties trust each other.

[2021-04-26 21:40] mpolavieja commented on #331
I also like the modular / layering approach suggested by @flix1, starting with very simple developments that could be dumped without too much shame if there is no demand for them.

[2021-04-26 22:08] mpolavieja commented on #330
I think that this proposal would be very similar to Thorchain model.  BSQ would play the role of their token Rune.  The difference, of course, is that unlike Bisq they cannot handle fiat trades.

[2021-04-26 22:32] chimp1984 commented on #330
I think the idea posted at https://github.com/bisq-network/proposals/issues/331 is quite interesting and can help to get further here as well.

I think to have an iterative process with continuous results to the end user is very important to avoid to get lost and see early what works and what not and be able to adjust.

As it seems the general idea has found support I started a Bisq project at htt

[2021-04-26 22:43] chimp1984 commented on #331
@flix1

If I understand your proposal right it would only work between 2 traders who use a BTC/BSQ trade to lock up the deposit, then use that lockup funds as security for other out of band trades like LN-fiat. Once a trade is done they can re-use the already locked up deposit for another trade.
But that limits it to 2 users who want to repeat traded which I assume is a minor use case.
To re-use t

[2021-04-26 22:52] chimp1984 commented on #331
Adding a refund to seller option would also allow a loan or future/option trading.
Alice wants 50k USD loan for a 1 BTC collateral for an agreed time period. Alice has to pay back the 50K at that expiration date or Bob will take the 1 BTC.
Alice lockes up 1.1 BTC and Bob 0.1 BTC to a MS.
Bob sends 50K USD to Alice.
After expiration date Alice pays back 50k USD to Bob and both unlock the MS and bot

[2021-04-27 07:41] flix1 commented on #331
An LN invoice contains a preimage. If you have paid that invoice, you have the preimage. In LND thereis a _listpayments_ command that lists lightningpayments. It contains destination node, amount, hash and preimage among other things. The preimage is shared by the destination only upon successful payment.

With LN, you always have a proof of payment in your channel history. The buyer should also h

[2021-04-27 08:02] flix1 commented on #331
Not exactly, you could have several use cases:

1. Traders who use the order book to contact other traders and exchange small amounts _without_ any security feature. This could be a very frequent use-case for small amounts.

2. Traders who use this system for multiple trades with 1 trading partner secured by a BSQ/BTC tx

3. Traders who use a BSQ bond (for example bonded market makers) to secure m

[2021-04-27 08:33] MwithM commented on #330
Maybe I miss some important difference, so if you are more familiar with those models and automated trading, please add your view on that.

I think I never found anyone complaining about this, but you are right. When trying to provide liquidity for rskswap I knew I would not want to provide for the DOC/RBTC pool but for the BPRO/RBTC pool because of volatility.

[2021-04-27 08:48] ripcurlx commented on #331
Of course depending on how many offers he publishes at the same time.

[2021-04-27 15:45] flix1 commented on #331
Of course. Common sense should be enough to see that at a small scale. IF only if things get bigger we can add the necessary mechanisms to automatically indicate if a security measure is undercapitalized. Or if this mechanism simply does not scale... but we already have something that works for larger trades: **Bisq**. It's for smaller trades that we need all this effort to reduce tx fees.

The Bi

[2021-04-27 16:02] chimp1984 commented on #331
@flix1
Ok I understand. Yes the bond for multiple traders/trades is not secure but can be good enough or small trades. The Bonded reputation feature is made for that. So you can proof your bond in Bisq.
To secure multiple trades/different traders with 1 bond was the challenge for the off-chain protocols and is considered to be not solveable without a blockchain. So we should not put hope into that

[2021-04-27 16:21] chimp1984 commented on #330
Investigating to really understand those models takes time and effort. Most users probably don't invest that much money that it justifies a lot of due dilligence effort. Thats one reason why regulation tries to protect retail investors as its much easier to scam 10000 small investors than to scam 1 pro invester who spends weeks for due dilligence and comes with a lot of experience.

[2021-04-27 16:54] flix1 commented on #331
I'm thinking we could even create a DAO **inquisitor** role, whose job would be to check offers secured by bonds against those bonds to hunt possible scammers. Since any successful inquisition would result in BSQ from the bond being burned, it would make sense to reward the inquisitor with a percentage of those BSQ.

Initially (say with fewer than 500 published offers) there would not be much need

[2021-04-27 21:23] pazza83 commented on #331
Hi @flix1 thanks for posting this. Looks interesting.

Trying to imagine how this would work but I lack imagination!

To help me understand better here are a couple of questions :)

1. Would revenue for the DAO be created from just the voluntary on-chain BTC/BSQ trade?
2. Could anything be traded? eg any altcoin, gold coins, physical products?

[2021-04-27 22:32] pazza83 commented on #330
I agree with this. Currently trades done on Bisq have a reduced community / social aspect to them than is present on Bisq's social platforms. I think there is lots of potential to develop this and utilize Bisq's community strengths.

Having multiple protocols on one platform sounds fantastic. For example it would be great to use Misq to provide liquidity to a BSQ / BTC pool, do regular small EUR t

[2021-04-28 09:08] flix1 commented on #331
Yes. From BTC/BSQ trades and also from locked-up BSQ bonds (which increase demand for BSQ).
It's a freemium model. The DAO offers value-added security services, but if you don't want them you pay nothing. Of course the DAO takes **zero** responsability for unsecured offers and there will be very loud disclaimers to that effect.

The advantages for the DAO of attracting new users with a very low ba

[2021-04-28 09:13] flix1 commented on #331
After a bit of discussion here  https://github.com/bisq-network/projects/issues/51

I've modified the suggested format somewhat.

![image](https://user-images.githubusercontent.com/4233784/116378832-c69d3000-a812-11eb-9258-a02ac517a61e.png)

[2021-04-28 18:17] Mentors4EDU commented on #330
Do you mind if I make a social trading proposal as an expansion to this, I already have lots of details ready (protocols, utility, design specifications) and been wanting to do one for a while? @chimp1984

[2021-04-28 18:33] chimp1984 commented on #330
Hi @Mentors4EDU, sure please share your ideas!

[2021-04-29 15:48] flix1 commented on #331
Since real life is the best test, I thought that while we build something better we could play around with a Google Sheets. I know it's not the best for privacy, but I will delete it in a couple of months.

[Sisq order book 0.1 just testing](https://docs.google.com/spreadsheets/d/1ZbNeKtW8dkWI_SM-soKwQknoDVZcGXsjnSYVFb-ZA0c/edit?usp=sharing)

Minimum viable product and iterate...

Feel free to pla

[2021-04-30 07:32] flix1 commented on #331
![image](https://user-images.githubusercontent.com/4233784/116663052-de052600-a996-11eb-9189-094ea56f9447.png)

A dozen offers so far. Nice variety of payment methods, etc..

[2021-04-30 18:33] flix1 commented on #331
Already a few trades reported, 20 offers and a few improvements made...

![image](https://user-images.githubusercontent.com/4233784/116738829-3e29b580-a9f3-11eb-81cd-5ced0487d584.png)

Considering how hard it has proven in the past to kickstart a new market on Bisq, I think it makes sense to keep all the offers in the same place.

It's also nice to see somebody already using one of the suggested s

[2021-05-01 11:35] flix1 commented on #331
My idea of a perfect #DEX is based on an open market, bazaar or souk: part improvised and spontaneous, but also part organized. Based on a complex tangle of property rights, customs and spontaneous order.

Not completely anonymous... but 99% of interactions are between strangers.

![image](https://user-images.githubusercontent.com/4233784/116781200-c5256f00-aa81-11eb-97de-26ea72d9621c.png)

Most t

[2021-05-01 18:35] chimp1984 commented on #331
And such an experience is very distinct to the cold attitude of plain online-business. I think the social and colorful aspect is heavily under-utilized.

[2021-05-02 10:09] mpolavieja commented on #331
What a great insight @Flix1!!   I love the analogy with the bazaar and how you have analyzed it.

Regarding UX, I am no expert at all either.  But I'll throw a couple ideas:

- **Proof of ownership:** If possible, and of course optionally, if the buyer/seller has an easy way to proof ownership of the asset (i.e. a signed message of an unspent BTC UTXO), that could be enough assurance for small qua

[2021-05-02 19:03] chimp1984 commented on #331
@mpolavieja
Regarding tx graph:
That is an interesting approach to use the existing blockchain data.
This data is used by chainanalysis spies anyway, so better make it explicit visible to the users so they can see the reality and act on that by either doing a coinjoin to break the chain of txs or using it for their benefit as reputation.
I think that can be seen as different tools and use cases:
-

[2021-05-03 06:47] Mentors4EDU opened #332 "Bisq 2.0 - Social Trading Expansion Proposal"
**Background:** In response to #330 having social trading, and me wanting to also do social trading for a while as well, I decided to work on this proposal. I think Bisq can utilize some variation of social trading and I have a general idea of features I would hope for.

#### Table of contents

1. [Overview](https://github.com/Mentors4EDU/Bisq-Proposal#overview)
2. [Base Modules](https://github.co

[2021-05-03 06:49] Mentors4EDU commented on #330
Submitted, I tried being as detailed as possible!
Keep in mind until it receives an *ACK*, it is still technically a draft, so you are welcome to comment.
@chimp1984

[2021-05-03 08:03] yoshimo commented on #329
When we think about the upcoming Schnorr Signatures and the research done over at
https://github.com/zkSNACKs/WabiSabi/
Wouldn't it make sense to aggegate both fees and value transferred to save on btc fees?

[2021-05-03 09:55] sqrrm commented on #329
There are two reasons to avoid merging the fee into the trade tx
1. The fee inputs and outputs cost extra, a segwit inputs are about 70 vbytes extra and segwit outputs 31 vbytes.
2. The fee payment acts as a marker on Bisq txs making them stand out on-chain. That is bad for privacy.

Compared to the current multi tx protocol it's better to merge the fees as it would result in lower mining costs an

[2021-05-03 10:32] dmp1ce commented on #279
@hodlwave I like the idea but how can the nonce which is exchanged be guaranteed to be correct? If alice decides to send a bad nonce for example, does it resort to arbitration and multisig for bob then.

[2021-05-03 13:20] chimp1984 commented on #332
Thanks for the detailed write up!

As you said as well privacy is the core aspect of Bisq and even if we are moving in the direction to provide more choice for users to make their trade-offs between privacy and cost/convenience in the context of new trade protocols based on reputation I am a bit skeptical if the suggested model would still fit into the core model of Bisq.

I am aware that it is op

[2021-05-03 19:12] pazza83 commented on #244
Hi @pingiun I am closing here as I have opened [Add Tikkie as a new payment method (popular in The Netherlands) #247](https://github.com/bisq-network/growth/issues/247)

[2021-05-03 20:32] Mentors4EDU commented on #332
Hi @chimp1984
In regards to the ambition of this project, is it overly ambitious? Yes, but so was the Mona Lisa. In the age of "DeFi and Yielding applications that don't have much usecases", I feel like a proposal like this can be a starting point for meeting actual needs in regards to some missing aspects the core market is looking for.

In regards to privacy, a few things to focus on:

1. Featur

[2021-05-04 14:23] mpolavieja commented on #331
@flix1 This website looks a lot like what you envision, just centralized in a website.

https://paxful.com/buy-bitcoin?fiat-min=100&group=bank-transfers&hasScroll=true

Almost 400 payment methods:
![image](https://user-images.githubusercontent.com/17677608/117021158-636e3a80-acf7-11eb-82ac-14fe70e19c4e.png)

A sample of offers:
![image](https://user-images.githubusercontent.com/17677608/117021379-

[2021-05-04 16:44] flix1 commented on #331
@mpolavieja sure Paxful, Localbitcoins and other P2P websites have done an amazing job making it easy for people to buy and sell Bitcoin in almost any country... just the same as Shapeshift did a great job making it very easy to exchange cryptos back in the day... I even interviewed [Jeremias Kangas](https://bitcoinmagazine.com/culture/jeremias-kangas-bitcoin-cannot-be-shut-down-1371225649) (Local

[2021-05-04 16:47] mpolavieja commented on #331
Yeah, that is the key issue.   I knew about localbitcoins and shapeshift, but never used them.  Did not know about paxful and I found a way lot more of payment methods than I expected.

[2021-05-04 16:49] flix1 commented on #331
![image](https://user-images.githubusercontent.com/4233784/117039692-58240a80-ad09-11eb-9afd-ab62186a5d96.png)

Paxful has been doing a pretty amazing job, especially in Africa and South America. See their volumes: https://coin.dance/volume

...and they have managed to work in China, something that we have had a lot of difficulty with in Bisq.

[2021-05-04 17:05] mpolavieja commented on #331
I think the two layer approach might do the trick.  A top p2p light layer fully decentralized where users and not so much developers lead how the software is used, and then a second layer for larger and more secure transactions.

Probably, to avoid censorship, it would be good that the top light layer is somehow unrelated or not very directly related to the secure layer (Bisq) where we have the DA

[2021-05-04 17:12] chimp1984 commented on #331
I think for China you need local people to help to get the right understanding.
We in the west have a very distorted and incorrect view of China. Was my experience when I visited it many years ago and get it confirmed when learning more about China from insiders (which is still very hard to find good resources - here is one: https://www.youtube.com/channel/UCTdWsl15oEt0nZZy9Z1fnhQ).

[2021-05-04 22:15] chris-belcher commented on #279
A couple of thoughts:

1. If I understand correctly, the big scripts (involving OP_EQUALVERIFY, OP_IF, etc) have to be recorded into the blockchain for each bisq trade. This costs miner fees and degrades privacy. But there should be a way to avoid this using a coinswap transform, which is when the coins are held in a 2-of-2 multisig with a pre-signed transaction that pays to the big script. In the

[2021-05-05 12:14] flix1 commented on #332
I'm still not sure about the risks of using identity... even if it is voluntary and replaceable. Rather than having reputation tied to user identity I prefer tying it to "payment account" which has to be diclosed between parties anyway to make a transaction. We already use a type of this via payment account age and payment account signing. Why not build on top of that?

Personally the data point t

[2021-05-05 13:23] chimp1984 commented on #332
This is not that easy in a decentralized and privacy protection way. It need to be verifyable by the peer and if so it will be verifyable be everyone thus revealing the whole trade history... There might be tricks to find ways to get some metrics which are similar to those at LBTC but so far they are not found.

[2021-05-06 04:43] Mentors4EDU commented on #332
Hi, @flix1 the concept of reputation isn't just general to this Bisq proposal. That said, in regards to privacy-centered features or capabilities, there are many. Outside of opting out for profile sections if the users doesn't want to opt into them, the trades can show up as percentages rather than time intervals since they are being followed or copied anyways.
![et](https://user-images.githubuser

[2021-05-06 04:50] chimp1984 commented on #332
A key challenge is how to verify any reputational data in a decentralized and privacy protecting way. In Bisq the base model is that the peers are verifying each other. Centralized services have it much easier as they are the in posession of all the data.

[2021-05-06 13:18] flix1 commented on #330
![image](https://user-images.githubusercontent.com/4233784/117417154-567d6100-af1a-11eb-89c1-ffb2cf661b50.png)

How I imagine a modular architecture for Misq - multiprotocol Bisq 2.0

A shared marketplace, order book, communications protocol... which can then connect to many different trade protocols. All resources can be pooled for the shared infrastructure, but then each project can work on thei

[2021-05-07 03:13] Mentors4EDU commented on #332
Hi, @chimp1984 For reputation, I am wondering if there is a way it can be either one of the following:
- Some sort of P2P escrow mechanism
- Multi-Signature Verification System
- An anonymized voting mechanism
I think one of the three or a combination of the three might be a solution, and once we figure out the type of mechanism, an expansion on how it is built can be discussed further. For sake o

[2021-05-07 03:54] chimp1984 commented on #332
I do not have any concrete idea. Decentralized reputation is a hard problem. OpenBazaar had a paid researcher working on it for years and I am not aware if they found a feasible solution.

[2021-05-07 10:44] MwithM opened #333 "BSQ trading fee update for Cycle 24"
This proposal keeps a record of the [process](https://bisq.wiki/Updating_BSQ_trading_fees) to keep the BSQ trading fee at 50% discount to BTC trading fee. It will remain open until we need to update BSQ trading fees again.

Last update was on #325

## Cycle 24
**Parameters** ([see issue](https://github.com/bisq-network/proposals/issues/289))
* USD/BTC price: 56.345
* USD/BSQ price: 2.27
* Current

[2021-05-07 10:45] #325 closed, assigned to nobody

[2021-05-07 10:47] flix1 commented on #331
There's been some discussion of the modular Bisq 2.0 multi-protocol idea...

But how would that work specifically for Sisq?

The idea is to keep it really simple but very flexible... so you would download the default Bisq 2.0 multiprotocol client with all the core communications, wallet, DAO functionality, offer book, etc...

![image](https://user-images.githubusercontent.com/4233784/117441314-75d

[2021-05-07 10:48] MwithM commented on #333
Should we remove the cap for increasing the BSQ trading fees? Upvote if you agree on removing the cap or downvote if you want to keep it like now.
If enough upvotes on this comment are submitted, the change would be applied if an increase was required on Cycle 25. The BSQ discount would be updated always to the 50%.

[2021-05-07 11:37] flix1 commented on #332
I've just thought of a really simple way to do reputation on Bisq, without having to change Bisq at all.

Since many traders have accounts on multiple platforms... just link to your profile on Paxful or Localbitcoins!

Obviously you sacrifice privacy, but since it is totally voluntary... it's up to users to link an offer to their identity and reputation elsewhere. The advantage for Bisq is that al

[2021-05-07 14:42] ghost commented on #333
Could you explain (or link to) the reasoning behind the introduction of the cap, and why it should be removed now?

[2021-05-07 17:57] chimp1984 commented on #331
The UX challenge how to present the multiple options is an open task. I think we should try to figure out new ways like doing aa user onboarding which combines education about the context (trade offs between wallet options, blockchains, protocols,...). Ledger has done a great job with their desktop app, maybe we can find some inspiration there.

[2021-05-07 18:46] MwithM commented on #333
We had difficulties to accept a sudden increase for BSQ trading fee in the past, but it was previous to adjusting them monthly. https://github.com/bisq-network/proposals/issues/173#issuecomment-583493059
In #202, this method was discussed. I feared that contributors would reject drastic increases of BSQ trading fees.
Maybe increasing the cap to 20 or 25% is more realistic (meaning that they won't

[2021-05-07 20:21] ghost commented on #333
There is considerable value to leaving a procedure alone that is already working well and obviously not broken.

[2021-05-07 22:01] pazza83 commented on #332
Hi @Mentors4EDU

Thanks for posting this.

I think improving the social experience of using Bisq would be great, if it does not sacrifice any privacy.

I think Bisq should encourage the privacy of all users. Many users choosing not to be private makes the network more prone to attack from regulators etc.

Having read your proposal here is my feedback. I have tried to provide feeback from the persp

[2021-05-07 22:09] pazza83 commented on #332
@flix1

I am not a fan of the reputation models on Local Bitcoins / Plaxful.

Showing number of trades and positive/negative feedback from other traders leaks privacy.

I get the impression the reason why the traders there are happy with this is because they are all registered as crypto traders in their countries, the banks and the tax authorities know they are trading crypto. They are, therefore

[2021-05-08 01:07] pazza83 commented on #283
Re-assessing the limits for sellers in the Keybase channel.

Looking at Bisq most offers of 0.01 BTC or less are choosing to use a deposit well over 15%.

I think it makes sense to keep the limit for sellers to 0.007 BTC for the moment.

The [wiki](https://bisq.wiki/Informal_Market_for_Small_BTC_Trades) was updated to 0.002 BTC if anyone has any objections to me updating it back to 0.007 BTC let m

[2021-05-08 04:12] Mentors4EDU commented on #332
Hi, @pazza83 This will be privacy-preserving.
I will be replying soon with further details on how it is privacy preserving and will answer some of your questions.

[2021-05-08 12:01] huey735 commented on #329
@chimp1984 @sqrrm Is there a way to make the trade transactions not public? In the current the protocol the Deposit transaction includes an OP_RETURN output with the hash of the trade's contract. Why is that? Plus it has a very distinct relationship with its previous and following transaction. Making the whole trade have a significant fingerprint.

If we are to always rely on the BTC blockchain to

[2021-05-08 15:40] sqrrm commented on #329
I think the contract OP_RETURN that's part of the deposit tx is not necessary. The same security could be had by both parties signing the contract with the pubkeys used in the deposit tx and have the parties save that copy locally.

As long as BSQ or payment to burning man/woman is part of the trade tx it would still be possible to profile Bisq trade txs so that's where the FA would help. The FA w

[2021-05-08 18:49] flix1 commented on #332
@pazza83 Let me be clear about this: The Bisq default should be ***privacy***. User control of funds, user control of data. No KYC, no identity.

That is the only way to preserve censorship resistance.

However there are some power traders, market makers, etc... who prefer to be known, have a reputation and encourage return business. As long as it is voluntary I would be OK with giving them the op

[2021-05-08 19:03] flix1 commented on #331
![image](https://user-images.githubusercontent.com/4233784/117550588-722f5700-b041-11eb-98ee-a79858124733.png)

The test spreadsheet will be moving very soon to something better than Google Sheets... probably https://cryptpad.fr/

We are also seeing some fun experiments with reputation systems... Localbitcoins reputation, Twitter reputation, BSQ reputation bonds... the flexibility of an open sprea

[2021-05-09 00:29] pazza83 commented on #332
I am in two minds about this.

On one hand I think it is fine to let users mention other profiles they have sales on. It is their choice.

One the other hand, I think it exposes other users to risk from regulators etc. Linking multiple account eg Bisq, Plaxful, Local Bitcoins and Hodl Holdl account together would makes any investigations easier.

[2021-05-09 10:23] flix1 commented on #331
New shared spreadsheet: https://cryptpad.fr/sheet/#/2/sheet/edit/tE42iuR--PZ3PsQOyayt9JFo/

[2021-05-09 10:25] mpolavieja commented on #331
I am getting this error:

![image](https://user-images.githubusercontent.com/17677608/117568619-9468b980-b0c1-11eb-81cd-eafb2cd0e20c.png)

[2021-05-09 10:26] flix1 commented on #331
Try this:  https://cryptpad.fr/sheet/#/2/sheet/edit/tE42iuR--PZ3PsQOyayt9JFo/

![image](https://user-images.githubusercontent.com/4233784/117568672-e6114400-b0c1-11eb-8f0a-00d466c6064c.png)

[2021-05-09 19:20] yoshimo opened #334 "Batch Transactions and Consolidate Them to Save on Fees"
Recently the mempool was rather full and it was quite expensive to get things through.
This affects both the many small fee transactions as well as the final payment transactions.

Payment is rarely done instant and the bought goods are not immediately required, so maybe we could benefit from the research done over at the Wasabi Research Club.

https://github.com/zkSNACKs/WabiSabi/ introduces a bl

[2021-05-09 23:14] pazza83 commented on #334
Hi @yoshimo thanks for creating this proposal.

Please check the [guidelines to creating a proposal](https://bisq.wiki/Proposals).

Please can you have a read and either edit your proposal to include the required information or alternatively create it a [topic for discussion](https://github.com/bisq-network/bisq/discussions).

[2021-05-09 23:18] pazza83 commented on #79
Hi @mpolavieja thanks for the proposal. I am doing some housekeeping on the proposals. Please can you take steps to move this forward or alternatively close the proposal.

Ref: https://bisq.wiki/Proposals

[2021-05-09 23:20] pazza83 commented on #277
Hi @kilrau thanks for the proposal. I am doing some housekeeping on the proposals. Please can you take steps to move this forward or alternatively close the proposal.

Many thanks.

Ref: https://bisq.wiki/Proposals

[2021-05-09 23:22] pazza83 commented on #276
Hi @MwithM thanks for the proposal. I am doing some housekeeping on the proposals. Please can you take steps to move this forward or alternatively close the proposal.

Also see recent post here on using RSK smart contracts to solve the burning man problem: https://github.com/bisq-network/bisq/discussions/5477

Many thanks.

Ref: https://bisq.wiki/Proposals

[2021-05-09 23:24] pazza83 commented on #275
Hi @sqrrm thanks for the proposal. I am doing some housekeeping on the proposals. Please can you take steps to move this forward or alternatively close the proposal.

Many thanks.

Ref: https://bisq.wiki/Proposals

[2021-05-09 23:27] pazza83 commented on #269
Closing as superseded by #270

[2021-05-09 23:27] #269 closed

[2021-05-09 23:32] pazza83 commented on #256
Hi @leo816

Has there been a proposal or any documentation of the following:

We have a new @refund-agent2 so should there preferences be considered? or is the 0.5 BTC limit imposed as larger amounts represent a risk to the DAO?

Either way it would be good to be defined and documented in a wiki so traders of over 0.5 BTC can know what to expect.

[2021-05-09 23:35] pazza83 commented on #255
Closing as accepted but subsequently superseded by https://github.com/bisq-network/projects/issues/48 Specifically the creation of a [Table of Trade Penalties](https://bisq.wiki/Table_of_penalties)

[2021-05-09 23:35] #255 closed

[2021-05-09 23:36] pazza83 commented on #246
Hi @sqrrm thanks for the proposal. I am doing some housekeeping on the proposals. Please can you take steps to move this forward or alternatively close the proposal.

Many thanks.

Ref: https://bisq.wiki/Proposals

[2021-05-09 23:39] pazza83 commented on #211
Hi @cbeams / @wiz thanks for the proposal. I am doing some housekeeping on the proposals.

I will close this as accepted but please can you update as the status of the work to decentralize and eliminate the Domain Name Owner and DNS Admin roles. You may wish to consider making a [project](https://bisq.wiki/Project_management) for this work.

Many thanks.

[2021-05-09 23:39] #211 closed

[2021-05-09 23:56] pazza83 commented on #278
Hi @stejbac thanks for the proposal. I am doing some housekeeping on the proposals. Please can you take steps to move this forward or alternatively close the proposal.

Many thanks.

Ref: https://bisq.wiki/Proposals

[2021-05-10 00:00] pazza83 commented on #279
Hi @sqrrm thanks for the proposal. I am doing some housekeeping on the proposals.

I will close this as approved.

I understand you are working on this already and am excited about it's implementation.  Please consider if it would be beneficial to make a [project](https://bisq.wiki/Project_management) for this work.

Many thanks.

[2021-05-10 00:02] pazza83 commented on #281
Hi @MwithM thanks for the proposal. I am doing some housekeeping on the proposals. Please can you take steps to move this forward or alternatively close the proposal.

Many thanks.

Ref: https://bisq.wiki/Proposals

[2021-05-10 00:05] pazza83 commented on #283
Closing as was approved. I will create a project for the works still to do.

[2021-05-10 00:05] #283 closed

[2021-05-10 00:13] pazza83 commented on #288
Closing as stalled. Maybe implementation would be less of a problem when offers are moved to a new protocol such as [Misq](https://github.com/bisq-network/projects/issues/51)

[2021-05-10 00:13] #288 closed

[2021-05-10 00:21] pazza83 commented on #294
Hi @refund-agent2 I am doing some housekeeping on the proposals. Please can you take steps to move this forward or alternatively close the proposal.

Also not sure if you are already doing as proposed?

Many thanks.

Ref: https://bisq.wiki/Proposals

[2021-05-10 00:26] pazza83 commented on #296
Hi @refund-agent2 I am doing some housekeeping on the proposals. Please can you take steps to move this forward or alternatively close the proposal.

Many thanks.

Ref: https://bisq.wiki/Proposals

[2021-05-10 00:26] pazza83 commented on #297
Hi @MwithM  I am doing some housekeeping on the proposals. Please can you take steps to move this forward or alternatively close the proposal.

Many thanks.

Ref: https://bisq.wiki/Proposals

[2021-05-10 00:27] pazza83 commented on #304
Hi @chimp1984 I am doing some housekeeping on the proposals. Please can you take steps to move this forward or alternatively close the proposal.

Many thanks.

Ref: https://bisq.wiki/Proposals

[2021-05-10 00:31] pazza83 commented on #307
Closing as was approved. @leo816 thanks for this proposal.

Updates can be see in the [Project Improve support and mediation](https://github.com/bisq-network/projects/issues/48)

[2021-05-10 00:31] #307 closed

[2021-05-10 00:37] pazza83 commented on #311
## Cycle 23 - Proposal for changing a parameter

Result: Accepted

Threshold: 100.0% (required > 75.01%);  Quorum: 156085.29 BSQ (required > 100000.00 BSQ)

Tx ID: 3373c55d8d48c37f9cbac60cce07d762975c57a0efb35553ee6e5c330ecbd1be

[2021-05-10 00:45] pazza83 commented on #311
Hi @wiz

Closing as accepted.

Please can you make a plan for what next steps are needed eg; communicating changes to the bond holders affected and updating the information in the relevant places on the wiki etc.

Many thanks.

[2021-05-10 00:45] #311 closed

[2021-05-10 01:58] chimp1984 commented on #326
Seems the proposal did not reach any momentum. 5 Bisq nodes only...

[2021-05-10 01:58] #326 closed, assigned to nobody

[2021-05-10 06:25] MwithM commented on #297
I think that closing it as stalled makes sense.

[2021-05-10 06:27] MwithM commented on #281
Close it as superseeded or stalled, there is a similar discussion now going on: https://github.com/bisq-network/bisq/discussions/5480

[2021-05-10 06:27] #281 closed

[2021-05-10 07:28] MwithM commented on #333
Makertxid: `f577b0477c111a39c163a2bae5fac1a9111d9420e57ea7e2de036ee6b94f047e`
Taker txid: `ff9dd36683d36b482a5ea0b0beb7e35fdd1feb992da2e04d731862f0ac9893ab`

[2021-05-10 08:08] refund-agent2 commented on #256
Right now, I'm reimbursing up to 0.5BTC, 2 times max per cycle and only if the proposal phase is not close, and leaving the rest for the DAO.
My role is not dangerous for the DAO, as I need to get reimbursed from the DAO in BSQ and all the refunds are paid from my own BTC. This limit is to reduce the risk I take performing this role.

[2021-05-10 09:19] refund-agent2 opened #335 "Applying arbitration fee"
I've been gradually been not reimbursing the full amount sent to DAO address at delayed payouts since Cycle 22, but there was no clear documentation about it or proper discussion, as @pazza83 [pointed out](https://github.com/bisq-network/roles/issues/93#issuecomment-835922865).
This arbitration fee is kept by the DAO and should at least cover DAO's arbitration expenses, but also could generate a r

[2021-05-10 11:55] leo816 commented on #335
Thank you @pazza83 and @refund-agent2 . Will add it to the bisq.wiki

[2021-05-10 22:20] Mentors4EDU commented on #332
Hi @pazza83
I want to emphasize a few things:
1. Features such as adding a description and website to your profiles aren't mandatory for the user to fill and the core of the application is still privacy focused. If people don't want others to not know their site, they simply don't fill their site URL, as simple as that.
2. Also somebody who has an anonymous profile may want to add a description su

[2021-05-11 05:40] viperperidot commented on #331
I agree that adding a more social element to Bisq would be awesome if we can implement it while still allowing users who wish to remain completely anonymous the ability to trade. Maybe it would be possible to use your successful trade history as part of your reputation without discloses any trade details? We should try and port over a users account ageing into the new system in some form so they g

[2021-05-11 10:40] sqrrm commented on #246
I have no intention of implementing this right now, it's just an idea that might have some value in the future. Perhaps it could be used to remove the trust placed on seed nodes when implementing bisq 2.0.

Closing.

[2021-05-11 10:41] sqrrm commented on #275
This would be part of the #279 protocol, closing.

[2021-05-11 20:49] pazza83 commented on #335
Hi @refund-agent2

Thanks for the write up.

I think the costs of arbitration should be covered by the trade fees. No trader ever really knows when you might need it.

I like the idea of DAO insurance for when things go wrong, but in reality the BTC being burned is not differentiated in anyway.

With regards the fees suggested as a percentage of security deposit I think a standard percentage of se

[2021-05-13 07:57] refund-agent2 commented on #335
You are correct, arbitration should never be worse than mediation for the part who did the right, unless mediator did a mistake.
What I have been already doing in this cases is just giving the winner the amount decided by the mediator and leave the rest for the DAO. Buyer would be refunded 0.00181 BTC and the 0.0005 BTC that should be awarded to seller if accepted mediation is now kept for the DAO

[2021-05-13 09:23] sqrrm commented on #335
I think this is a good refund agent scheme. The option is for the trader to wait for a refund request to the DAO which would take much longer and also run the risk of not being accepted. This way the trader gets refunded quickly and in full while there is less pressure put on the DAO.

[2021-05-13 22:48] Mentors4EDU commented on #332
Hi, @chimp1984 @flix1 @pazza83
Please see my above comment and do let me know if there is anything else you would like to expand upon?

[2021-05-13 23:00] chimp1984 commented on #332
I would need to see concrete concepts how to implement privacy protecting and verifiable reputation in a decentralized network. A trade is a private interaction between 2 traders. They can verify each other for that single trade but all beyond is problematic.
As mentioned verious times to have number of trades or durations of trades, or even more difficult performance of trades. How should that be

[2021-05-13 23:05] Mentors4EDU commented on #332
Hi, @chimp1984 I already have the privacy-preserving protocol in mind but it is a few pages. Is it fine if I do a proposal as a follow up to this one and if the privacy-preserving protocol is acceptable, this can be approved at the same time as well?

Please note, I wouldn't expect to need extra funding for the development of the privacy protocol given it is part of the development of the social t

[2021-05-14 23:48] pazza83 commented on #332
Hi @Mentors4EDU

Thanks for the comments

Understood. I would still have concerns about trading privately on a platform where there multiple users that chose to make their information public. Maybe it is just me but I feel like it has to do with a network only being as strong as it's weakest link. I would be concerned the more people with connected real life identities the less private the network

[2021-05-15 20:35] Mentors4EDU commented on #332
Hi @pazza83
Actually what you said about profile description and link makes sense. I am gonna edit the proposal and comment back here soon to reflect that.
In regards to issues in liquidity, I will respond more to that, but now I am gonna focus on that edit and the privacy layer.
Thanks for the helpful feedback!

[2021-05-16 00:25] pazza83 commented on #335
Thanks @refund-agent2 for answering my concerns.

Indirectly the traders entering arbitration would pay for it by receiving a lessor amount in compensation. I still think the costs of arbitration should be covered by trade fees in the same way everything else is. The extra amount could then be allocated to an insurance amount in the same way you propose above.

Also I think that if going down the

[2021-05-16 00:58] pazza83 commented on #312
Hi @stejbac

Closing as approved.

Please action what is needed and consider making a [project](https://bisq.wiki/Project_management) if appropriate.

Many thanks.

[2021-05-16 00:58] #312 closed

[2021-05-16 00:59] pazza83 commented on #313
Closing as approved

[2021-05-16 00:59] #313 closed

[2021-05-16 01:00] pazza83 commented on #316
Hi @chimp184 thanks for the proposal. I am doing some housekeeping on the proposals. Please can you take steps to move this forward or alternatively close the proposal.

Ref: https://bisq.wiki/Proposals

[2021-05-16 01:01] pazza83 commented on #317
Hi @chimp184 thanks for the proposal. I am doing some housekeeping on the proposals. Please can you take steps to move this forward or alternatively close the proposal.

Ref: https://bisq.wiki/Proposals

[2021-05-16 01:02] pazza83 commented on #320
Hi @wallclockbuilder thanks for the proposal. I am doing some housekeeping on the [proposals](https://bisq.wiki/Proposals). Please can you take steps to move this forward or alternatively close the proposal.

[2021-05-16 01:04] wallclockbuilder commented on #320
@pazza83 i think a moderator is supposed to summarize the sentiments in the comments section into yay or nay. I suppose that person is @MwithM

[2021-05-16 01:17] pazza83 commented on #320
Hi @wallclockbuilder it is myself now who is the proposal maintainer.

The next step is to [evaluate](https://bisq.wiki/Proposals#Evaluate) the proposal which I will do in a couple of weeks if there is no more discussion.

[2021-05-16 02:33] #316 closed

[2021-05-16 02:33] #317 closed

[2021-05-16 17:58] Mentors4EDU commented on #332
Hi @pazza83 As you can see [here](https://github.com/Mentors4EDU/Bisq-Proposal/blob/main/README.md), comments regarding profile description and site field have been crossed out. Now I will expand more on the privacy section and update back soon.

[2021-05-16 23:09] pazza83 commented on #322
After reviewing this and considering the comments from @RefundAgent:

I think it is not appropriate to remove Signing Requirements for SEPA.

SEPA chargebacks would still be an issue. SEPA payment scheme has provision for 'Request for Recall" for multiple reasons. More information can be found here:

[EPC135-18 v2.0 Guidance on Reason Codes for SCT R-transactions.pdf](https://github.com/bisq-netwo

[2021-05-16 23:09] #322 closed, assigned to nobody

[2021-05-17 00:26] pazza83 commented on #228
https://github.com/bisq-network/growth/issues/192

[2021-05-17 00:26] pazza83 commented on #227
https://github.com/bisq-network/growth/issues/193

[2021-05-17 00:28] #334 closed, assigned to nobody

[2021-05-18 09:24] refund-agent2 commented on #335
I found that [mediation penalties](https://bisq.wiki/Table_of_penalties) are based on a trade % amount which benefits protocol violators who used a small security deposit: It doesn't matter if the penalty is 20% of the trade amount when the security deposit is 15% of the trade amount.
Both methods have pros and cons, I think using the same method would make it easier for mediators and refund agent

[2021-05-18 10:29] MwithM commented on #333
New trading fees accepted on Cycle 24, this issue remains open until an adjustment is needed.
Wiki has been updated.

[2021-05-20 10:33] flix1 commented on #331
![image](https://user-images.githubusercontent.com/4233784/118964164-7fb0df00-b967-11eb-8874-97c021bb021e.png)

Some useful info from the feedback section of the spreadsheet.

Feedback poll link:
https://cryptpad.fr/poll/#/2/poll/edit/4GKLiedU7uugHvSMdYL6Nw8q/embed/

[2021-05-21 17:16] chimp1984 opened #336 "Remove attachment feature from dispute chat"
The attachments are likely a main factor for large mailbox messages. Currently it is about 4-5 MB of data for new users to download at initial data request. We optimized that to keep those data locally so repeated start ups will only request the missing data.
But 5 MB is already pretty heavy for slow connections and increase the risk for connection timeouts. So I would suggest to remove the attach

[2021-05-21 17:25] chimp1984 commented on #336
Sorry I have not though enough about it before publishing ;-).
I think the added security risks and complexity for the user to encrypt the screenshot and for the mediator to decrypt it is not worth it.
We should have separated the attachment from the message so we could treat those lower prio data differently. But for now I think its better to keep it as it is. Mediators and arbitrators should avo

[2021-05-21 17:25] #336 closed, assigned to nobody

[2021-05-21 21:06] Mentors4EDU commented on #332
Sorry for the late update, about to finish the privacy implementation sections quite soon. Gonna comment back here w/ that new information :+1:

This Bisq 2.0 thing can really become the future of crypto trading

[2021-05-22 11:47] sqrrm commented on #336
I agree that the attachment feature is problematic. Perhaps it would be better to only allow sending them as direct messages while both peers are online and fail rather than storing as mailboxmessage if the peer is offline. Message could be sent later when the peer comes online and UI could suggest to stay online for proper message delivery. Not the greatest UX but might be a way forward.

[2021-05-22 15:53] chimp1984 commented on #336
Yes might be a compromise. For misq we will separate all mailbox messages by the content type, so it is easier to apply different strategies.

[2021-05-23 23:58] pazza83 commented on #336
I think a requirement for user and mediator to be online at the same time would result in more problems and delay mediation / arbitration.

I think the better solution would be to utilize a file upload service as @chimp1984 mentioned above.

[2021-05-25 00:22] bisqubutor commented on #326
Don't give up yet, more will follow soon.

Should use fingerprint, the IPv4 address could change.
In future no IPv4 will be required but IPv6 enough for relay flags valid running.

[2021-05-27 20:58] Mentors4EDU commented on #332
Hi, @pazza83 @chimp1984 I have done some edits, please look over them: https://github.com/Mentors4EDU/Bisq-Proposal#readme

Particularly:

## Addressing Liquidity
In regards to liquidity, it is of my opinion that liquidity wouldn't be too much of an issue in the long run. Also, it may not be the best reason as to why something should or should not be developed. While Bisq still isn't in its infanc

[2021-05-28 22:44] csralvall commented on #331
Maybe I'm misunderstanding what you mean. But I think that [umbrel app framework](https://github.com/getumbrel/umbrel/blob/master/apps/README.md) could be a good source of inspiration to look at when trying to implement a flexible application with core functionality and multiple add-ons.

[2021-05-29 00:18] chimp1984 commented on #331
Ah thanks for the link. Definitely a good inspiration. The Ledger app is also dealing well with a similar challenge.

[2021-05-31 11:36] pazza83 commented on #324
Hi @chimp1984 thanks for the proposal. I am doing some housekeeping on the proposals. Please can you take steps to move this forward or alternatively close the proposal.

Not sure if this is something to be considered / included with the development of Misq?

Re: https://bisq.wiki/Proposals

[2021-05-31 11:46] pazza83 commented on #320
Closing as stalled, looks like the idea of collecting user data is acceptable if it can stay anonymous.

@wallclockbuilder you might want to consider re-submitting the [proposal](https://bisq.wiki/Proposals#Create_GitHub_Issue) at a future date with more information, context and objectives.

[2021-05-31 11:46] #320 closed

[2021-05-31 11:49] pazza83 commented on #296
Hi @refund-agent2 just following this up.

Please can you move this proposal forward or close it.

Also I was under the impression that partial reimbursements have started is this the case?

[2021-05-31 11:53] pazza83 commented on #277
Closing as stalled, looks like the idea of collecting user data is acceptable if it can stay anonymous.

@kilrau you might want to consider re-submitting the [proposal](https://bisq.wiki/Proposals#Create_GitHub_Issue) at a future date with more information, context and objectives.

[2021-05-31 11:53] #277 closed

[2021-05-31 11:57] pazza83 commented on #276
Hi @MwithM thanks for the proposal.

I am closing as rejected.

[2021-05-31 11:57] #276 closed

[2021-05-31 12:01] pazza83 commented on #79
Closing as stalled.

Ideas look promising and might be a direction that is taken in the future to enhance fiat account security.

[2021-05-31 12:01] #79 closed

[2021-05-31 12:11] #324 closed, assigned to nobody

[2021-05-31 12:11] pazza83 commented on #256
Hi @leo816 / @refund-agent2

I will keep this proposal open.

I think the limit of 0.5 BTC being refunded has been accepted as in practice refunds of over 0.5 BTC are now not happening.

The outcomes for this proposal still need documenting.

Still unclear is:

- [Partial reimbursements](https://github.com/bisq-network/proposals/issues/296)
- What BTC/BSQ rate to be used?
- Where the information i

[2021-05-31 12:17] pazza83 commented on #331
Hi @flix1

Many thanks for this proposal.

I am closing this proposal as approved.

Please consider opening a [project](https://bisq.wiki/Project_management) if needed to outline process, set objectives, and a budget for the development of a simplified DEX.

[2021-05-31 12:17] #331 closed, assigned to nobody

[2021-05-31 12:26] pazza83 commented on #330
Hi @chimp1984 thanks for this. It looks like a very exciting development.

Closing as approved.

Links to the related projects that are the outcome of this propsal are:

- [Bisq 2.0 - A multi-protocol DEX (working title Misq)](https://github.com/bisq-network/proposals/issues/330)
- [Prototype for offer book and create offer UX for Bisq 2.0 (Misq)](https://github.com/bisq-network/projects/issues/57

[2021-05-31 12:26] #330 closed, assigned to nobody

[2021-05-31 12:42] pazza83 commented on #332
Thanks for the edits.

Here are my comments from you proposal https://github.com/Mentors4EDU/Bisq-Proposal#readme

A link to website and ability for others to view your trade history reduces privacy. As Bisq is P2P I am not sure why I would want someone following my trades, or how this would work in practice?

What is it users earn?

Why would a user want to be ranked? If a user is ranked highly c

[2021-05-31 14:34] pazza83 opened #337 "@pazza83 to assume mediator role"
This is a proposal for myself to assume the role of mediator.

**Why do we need a new mediator?**

Currently there are two active mediators @leo816 and @huey735. Having a third mediator would enable more mediation support to be provided when mediators are unavailable for any reason.

Another mediator would enable an increase in the speed mediation cases can be handled.

**Why me?**

- I have been

[2021-05-31 15:53] leo816 commented on #337
I approve this request as Support [Team Lead](https://bisq.wiki/Compensation#Team_Lead).
Given some recent events and expecting that volume will increase in the future, it seems logical to add another mediator so that our workload isn't a bottleneck for trades being resolved. Right now me and @huey735 are coping fine, but this may not be the case in the near future.
@pazza83 Will give this more ti

[2021-05-31 15:58] mpolavieja commented on #79
Ok, sorry for not reacting.  I just saw the message.

[2021-06-05 04:11] Mentors4EDU commented on #332
Hi, @pazza83 I will have a thorough response in regards to this quite soon. I'm really pushing for approval, so I can start development, but understand the parts you need further clarity on. Expect a quick update on this thread soon.

[2021-06-05 04:21] chimp1984 commented on #332
I still don't see any concrete concept for solving the privacy and verification problems.

[2021-06-05 04:28] Mentors4EDU commented on #332
@chimp1984
I am going to start w/ reiterating the questions regarding profile and trade history and hopefully that provides further clarity. This creates an infrastructure that is both privacy-preserving and anonymous while integrating the social aspect to it. Also, any ranking system this integrates is still privacy-preserving given that the thing being ranked is hashed and fully anonymous.

[2021-06-09 18:15] pazza83 commented on #337
I made a proposal for the role tx id: 7a6d4da9fd6e3fb7f4ea166289164381f59334eb8b558284a3d0df267572ec25

[2021-06-12 07:13] MwithM commented on #333
## Cycle 25
**Parameters** ([see issue](https://github.com/bisq-network/proposals/issues/289))
* USD/BTC price: 35.515
* USD/BSQ price: 1,57
* Current BSQ discount: 49%

![imagen](https://user-images.githubusercontent.com/50149324/121768312-eb006200-cb5d-11eb-857d-e93a49b8c472.png)

![imagen](https://user-images.githubusercontent.com/50149324/121768324-f6538d80-cb5d-11eb-8f82-3c8b3464e07f.png)

In

[2021-06-12 07:16] MwithM commented on #333
I removed my own upvote to the proposal to [remove the cap](https://github.com/bisq-network/proposals/issues/333#issuecomment-834261118) for increasing the BSQ trading fees, my view is now neutral. I find @jmacxx position of "don't touch what is working" appropriate.

[2021-06-13 03:35] Conza88 commented on #320
Still think important info to have

[2021-06-14 13:42] lukaskotvan opened #338 "Issue raised on back of closed request #928 (leo816)"
Hello,

I have made trade (buying 0.01 btc) on 23 FEBRUARY 2021, due to technical issues I got disconnected. When I have logged back in - there was no sign of any trades. I could not continue, dispute or finalize this trade: "transaction". My onion address is znngrloovnqdbdpeemckbsowjmvbmuyptug55yqebasoqmmhm5iuo3yd.onion:9999  https://mempool.space/tx/c5818b8e674b25d94b1bec860ec96e142310a9ee97f599

[2021-06-14 21:30] dan-da commented on #153
imho, a "decentralized exchange" should not be in the business of regulating what assets users can exchange.    Rather, it should provide a mechanism for bringing parties together and exchanging whatever assets they wish.  Along with search and categorization of assets.  I think bisq had a lot of early potential but really lost the plot on this, and instead wandered off deep into dao land.

[2021-06-18 03:52] Mentors4EDU commented on #332
Hi, @chimp1984
Regarding reputation, why don't we use bonded reputation or some sort of hashed pseudonymous roles/users, sort of like what was approved for #311?

The rest of the social trading protocols can integrate similar things, but everything would still be P2P and directly hashed w/ no KYC. There is no reason not to be having these features if they can be done in a privacy-preserving way.

[2021-06-20 02:33] pazza83 commented on #338
Hi @lukaskotvan

This repository is for proposals.

Please post compensation requests here: https://github.com/bisq-network/support/issues

[2021-06-20 02:33] #338 closed, assigned to nobody

[2021-06-25 02:07] pazza83 commented on #337
The proposal was accepted :)

I have locked up a 5,000 BSQ bond.

Tx ID: 2c62e227c08e188c22ce1f147a09bf2b11b717bf2c156d725e3fbb4a886df8a0

Looking forward to my first cycle as a mediator.

[2021-06-25 02:07] #337 closed, assigned to pazza83

[2021-07-02 23:26] pazza83 commented on #335
Following discussion with @refund-agent2 on Keybase

I would be in agreement with the following:

## Arbitration Fees

An arbitration fee will be applied in all cases where a trader is not responding.

An arbitration fee will never be applied for bugs when involved parties are doing their best to help to fix it.

Effectively, the arbitration fee is applied by not reimbursing the full amount sent t

[2021-07-19 01:02] pazza83 commented on #332
Hi @Mentors4EDU many thanks for this proposal. I am going to close as rejected due to lack of support for the initiate. Please feel free to open another proposal in the future.

[2021-07-19 01:02] #332 closed, assigned to Mentors4EDU

[2021-07-19 01:05] pazza83 commented on #329
Hi @sqrrm please can you review this proposal and either close it or move it forward. There does not seem to be much feedback  currently on this proposal.

[2021-07-19 01:06] pazza83 commented on #296
Hi @refund-agent2 just following this up. Are you currently partially reimbursing traders?

[2021-07-19 01:07] pazza83 commented on #294
Hi @refund-agent2 just following this up are you already doing as proposed?

[2021-07-19 01:09] pazza83 commented on #278
Hi @stejbac thanks for creating this proposal. I will close this proposal as stalled. Please feel free to reopen in the future.

[2021-07-19 01:09] #278 closed

[2021-07-20 08:28] refund-agent2 commented on #294
Yes. I reserve my right to sell at market if prices are higher though. I think I've been losing money performing this role.

[2021-07-20 08:30] refund-agent2 commented on #296
Yes, I think it was only needed once, for trade NVLSXv in Cycle 24.

[2021-07-20 20:22] MwithM commented on #333
## Cycle 26
**Parameters** ([see issue](https://github.com/bisq-network/proposals/issues/289))
* USD/BTC price: 29.900
* USD/BSQ price: 1.22
* Current BSQ discount: 53%

![imagen](https://user-images.githubusercontent.com/50149324/126390278-24fd8136-dde8-4e2b-8227-e841511ef050.png)

![imagen](https://user-images.githubusercontent.com/50149324/126390314-25b78e53-1909-4997-adc6-a145ca4ef642.png)

In

[2021-07-23 15:53] sqrrm commented on #329
It's an idea but I don't think it has much support right now. I will close it.

[2021-07-23 15:53] #329 closed, assigned to sqrrm

[2021-08-10 08:28] bisqubutor commented on #326
Added two new relays with the bisq prefix Nickname and with proof of that I'm the Operator:
[🚀 OrNetStats](https://nusenu.github.io/OrNetStats/bisqubutor.github.io.html)

2TB bandwidth plan can relay <1TB.

data transfer |

time | 1 month
data | 1 TB (terabyte)
results into average data rate | 3.044 Mb/s (megabits per second)
= 380.5 kB/s (kilobytes per second)
= 0.3805 MB/s (megabytes per second)

[2021-08-16 11:21] boldsuck commented on #326
Nice unmetered relays in Luxembourg with FreeBSD & IPv6 :-) Do you know [HardenedBSD](https://hardenedbsd.org/) from the emerald onion people?
Hint: At frantec, you can run Tor Exit's.
Please read [AUP](https://buyvm.net/acceptable-use-policy/) beforehand and open a ticket to francisco.

@all _Cheap bare metal (not throttled at the moment) at servdiscount._

[2021-08-18 17:32] pazza83 commented on #256
Closing as accepted. This proposal has been implemented and there have not been any opinions to the contrary

[2021-08-18 17:32] #256 closed

[2021-08-18 17:34] pazza83 commented on #335
Closing as approved as this is now happening and there have been no additional views to the contrary

[2021-08-18 17:34] #335 closed, assigned to refund-agent2

[2021-08-18 17:35] pazza83 commented on #296
Closing as approved as this is now in practice and there have been no views to the contrary

[2021-08-18 17:35] #296 closed

[2021-08-18 17:36] pazza83 commented on #294
Closing as approved as this is in practice and there have been no views to the contrary

[2021-08-18 17:36] #294 closed

[2021-08-21 14:12] MwithM opened #339 "BSQ trading fee update for Cycle 27"
_This proposal keeps a record of the [process](https://bisq.wiki/Updating_BSQ_trading_fees) to keep the BSQ trading fee at 50% discount to BTC trading fee. It will remain open until we need to update BSQ trading fees again._

Last update was on #333

## Cycle 27
**Parameters** ([see issue](https://github.com/bisq-network/proposals/issues/289))
* USD/BTC price: 48.800
* USD/BSQ price: 1.47
* Curren

[2021-08-21 14:13] #333 closed, assigned to MwithM

[2021-08-22 11:22] MwithM commented on #339
BSQ maker fee proposal tx: 8c75c63afa675d412815d255eb69269142fba4ce05e8b5335844216f4dbee747
BSQ taker fee proposal tx: 64eecefd91125d55867bf85dacb64935bfd7a927fd936955bccd1db349d03b65

[2021-08-22 20:28] pazza83 opened #340 "Proposal for a new Comptroller role"
## Proposal for a new Comptroller role

**Background:**

- [Running the numbers on Bisq DAO revenues](https://github.com/bisq-network/bisq/discussions/5171)
- [Summary – Bisq DAO](https://docs.google.com/document/d/1MxajknrXxZvJ4MKMhtaVhXfkb6TlaINTbqmryCbCUbw/edit)

**Related projects:**

- [Add semi-automated DAO reporting to website](https://github.com/bisq-network/growth/issues/245)

## Problem

[2021-08-23 15:46] m52go commented on #340
I think it's more important that the project first have some serious conversations about its priorities and roadmap.

No amount of reporting will fix these deeper, existential issues.

[2021-08-23 17:47] clearwater-trust commented on #340
In your mind/heart/body/soul,  what are the existential issues/priorities?  Thank you.

[2021-08-23 21:20] m52go commented on #340
@clearwater-trust my concerns are somewhat described [in this report](https://docs.google.com/document/d/1MxajknrXxZvJ4MKMhtaVhXfkb6TlaINTbqmryCbCUbw/edit). I'm not sure it's clear _what_ the project seeks to accomplish in the mid-to-long-term, and so talking about _how_ it should manage stuff with a new administrative role seems like jumping the gun.

I'm not opposed to the role on principle but

[2021-08-24 12:16] clearwater-trust commented on #340
@m52go - Let's discuss the report you provided.

---
Important issues of the DAO:
-       unclear distribution of responsibility is a problem – if no one feels responsible, issues will fall through the cracks. But on the other hand, since anyone can do what they want, there is a potential to cover everything that needs to be covered if it was clear for new contributors how they could pick up some

[2021-08-24 14:07] m52go commented on #340
My concern isn't about adding new roles. It's about getting the project back on track.

The interface limits the program to the most motivated power-users in developed markets. Lack of interoperability cuts it off from integrations with other software and other companies. The lack of mobile cuts it off from emerging markets. Mining fees will eventually make the trade protocol unfeasible. Monero vo

[2021-08-25 11:16] clearwater-trust commented on #340
Can you not see what is happening? The policies put into place by our corporate/government overlords will eliminate most of the issues you describe. The _show_ is only beginning.

IN THE VERY NEAR FUTURE:

“First-world” populations cannot access legacy banking refusing to take part in medical apartheid.

Entire segments of working class people unable to engage with ‘transaction’ services of banks/

[2021-08-26 00:45] pazza83 commented on #340
Thanks @m52go and @clearwater-trust

I am in agreement that Bisq should remain not centralize in any way.

I also agree that it is more important (that implementing this role) that the project first have some serious conversations about its priorities and roadmap. I also agree reporting does not fix this.

I do not think having a comptroller role makes Bisq any less decentralized.

I think that re

[2021-08-29 09:36] MwithM commented on #339
The proposal was accepted and the [wiki](https://bisq.wiki/Trading_fees) updated.

[2021-09-02 14:46] daveblack1 opened #341 "Bisq regulatory issues"
The US is on the verge of passing regulatory requirements that will effectively ban cryptocurrency software development:
https://www.coindesk.cc/coinbase-warns-infrastructure-bill-s-crypto-provisions-could-impact-20-of-us-population-39813.html
GitHub is owned my M S.
Bisq would be in danger of being regulated out of existence.
Should the team consider moving development to a non-US, crypo-friendly

[2021-09-08 07:33] devinbileck opened #342 "Develop a fully featured cross-platform graphical user interface to the Bisq network supporting mobile, desktop, and web clients"
# Summary
As discussed in a [recent dev call](https://github.com/bisq-network/projects/issues/60), improving and expanding the capabilities of the mobile app is a high priority.

The current mobile app is very simple and designed to only receive push notifications about important events from a running Bisq desktop app (see specification [here](https://github.com/bisq-network/bisqremote/wiki/Specif

[2021-09-13 21:46] pazza83 commented on #170
Re-opening this for discussion. Seems to be renewed interest in adding stable coins with Tether being preferred.

[2021-09-13 21:59] leo816 commented on #170
Yes, also believe we need to re-visit this discussion and I think bisq will benefit from having Tether.

[2021-09-13 23:04] devinbileck commented on #342
I have ammended this proposal to be for a fully featured cross-platform graphical user interface to the Bisq network supporting mobile, desktop, and web clients. Feedback welcome!

[2021-09-14 03:28] yoshimo commented on #342
How would a Web based application work in terms of storing and processing payment related data?
For me that feels weird when we care about being de central and secure.

[2021-09-14 04:44] devinbileck commented on #342
It is just an interface to your own Bisq node, potentially running on a different machine (for example on an Umbrel device). Instead of using the Bisq desktop client, you would use your web browser.

[2021-09-14 07:52] ripcurlx commented on #342
@devinbileck Thanks for bootstrapping this investigation phase for a mobile app! I think the first prototype could/should be a simple rewrite of the current mobile notification app. This would already allow us to test the whole pipeline including additional notarization steps. Based on my experience you are not able to fully judge which toolset to use until you have an app downloaded from an app s

[2021-09-14 11:03] ricardosaurio commented on #170
as always, the market says something that the technology and the work behind it seems totally contradictory. This is an exchange and it will benefit the best from USDT but the shadiness behind USDT makes me to at least suggest DAI be listed along with USDT. At least DAI goes a lot better with the spirit and narrative of Bitcoin and Bisq

[2021-09-14 11:15] clearwater-trust commented on #170
Listing  "_tokens of invisible tether_" coins would eventually expose their fraud. As it would only take a few trades outside their "**stable**" price to break the levy of fakery behind these scams. Plus, it would provide more revenue. Assuming people actually trade their fake tokens on Bisq. Generally, I am for adding new listings.

I thought Bisq was aiming for a pay to play scheme when adding n

[2021-09-14 13:29] flix1 commented on #170
I'm not going to repeat all the arguments in favour listed above. I think it will be good for Bisq.

However, given the amount of time that this issue has been unresolved I would ask those opposed to please state their reasons clearly here so that we can have an open debate.

If no-one is opposed I would please ask for no more delays and for this to be added in the next release.

If it helps... I

[2021-09-14 14:44] pazza83 commented on #170
DAI is already listed. Albeit not used that often.

USDC and TrueUSD are also listed already.

Maybe the UI of the offer book drop down list of currencies can be improved to make this clear. Think they might all need to be manually added by users at present.

[2021-09-14 15:03] m52go commented on #342
Thanks for a detailed and well-thought proposal. Such an app would provide a HUGE usability boost for existing users.

Beyond that, I'm skeptical that a mobile app that needs to connect to the desktop software (as it is now) can expand the user base. What's needed is:

1. ability to run bisq on rpi / umbrel / etc (enable growth in established markets)
2. ability to run bisq on mobile in some self-

[2021-09-14 15:59] chimp1984 commented on #342
Probably worth to look at some mobile Bitcoin/LN/Liquid wallets or apps to see what they use. They did for sure some research regarding security as well.

**Blocksteam Green** (BTC and Liquid wallet) use [Java/Kotlin](https://github.com/Blockstream/green_android) and  [Swift](https://github.com/Blockstream/green_ios). It is based on https://github.com/blockstream/gdk a C++ lib with native bindings

[2021-09-14 18:06] cbeams commented on #342
Acinq’s Phoenix uses a single Kotlin Multiplatform Mobile (KMM) codebase across their iOS and Android apps.

[2021-09-15 07:31] devinbileck commented on #342
The choice of framework/language is tricky as we either utilize native languages to develop apps for each platform - which gives the best performance/UX but increases the amount of work, or we implement a hybrid approach - which reduces the amount of work but potentially at the cost of reduced performance/UX. With our limited development resources, I don't think it is feasible to maintain separate

[2021-09-15 11:42] chimp1984 commented on #342
Thanks for sharing! Will try it out now...
Here their blog post with background: https://medium.com/@ACINQ/when-ios-cdf798d5f8ef
They use Swift also on iOS for the UI part.

[2021-09-15 12:13] chimp1984 commented on #342
Yes, reusable code base for library code is absolutely needed. But I think that native implementations for the UI have emerged as standard for most mobile wallets. And doing the pure UI is not that of a hack as well IMO. Also comes with the question which type of developers we want to attract. As seen in the above wallet examples, only one wallet was using a javascript based approach. For other ap

[2021-09-15 19:55] MwithM commented on #170
Until you know about [Dollar On Chain](https://moneyonchain.com/).
Adding this pegcoin at Bisq doesn't makes much sense, though. It's better to change BTC to RBTC at Bisq and then use the dapps at RSK (sovreign, MOC...) to exchange the RBTC to DOC.

[2021-09-15 20:16] chimp1984 commented on #342
Read more about [Kotlin Multiplatform](https://kotlinlang.org/docs/multiplatform.html). It sounds pretty powerful and Acinq’s Phoenix is using that approach. Tried out their Phoenix wallet and its next to Muun the best LN IMO.

Beside JVM and native targets KMP also support javascript as target.

Would be interesting to see memory and performance difference if Bisq would be compiled as native app

[2021-09-16 00:51] bisqubutor commented on #326
@MwithM

[2021-09-16 10:13] chimp1984 commented on #342
Has anyone experience with multi-os-engine (MEO)?

Seems an interesting approach.
https://doc.multi-os-engine.org/multi-os-engine/2_Introduction/Introduction.html

Benefit over KMM:
- Can use Java code, no need to convert to Kotlin. Java libs can be reused, which is a big benefit.
- Maybe better performance (KMM seems to have pretty weak performance, but have not found yet comparisons with MEO)

T

[2021-09-16 16:04] chimp1984 commented on #342
Unfortunately MOE seems to be based on Java 7 and they work atm to use substrate vm instead of ART.
https://www.noisyfox.io/substratevm-on-ios.html

Its really a shame that after so many years there is not solid cross platform solution out there as well for mobile development.

[2021-09-17 17:59] devinbileck commented on #342
Thanks for the info. I had not heard of KMM but it sounds pretty promising and should be able to meet our needs. I think implementing a PoC would allow us to determine if it is the right approach for us.

[2021-09-17 18:58] chimp1984 commented on #342
The main downside is that you cannot use java libraries, which adds quite some limitation if one consider a longer term goal for a more complex application (e.g. like bringing more Bisq features into it). So all code need to be in Kotlin.

I guess long term GraalVM could become the major option as there Oracle puts lot of effort into it, but hard to say when that will become usable for real world

[2021-09-19 20:58] pazza83 commented on #341
Hi @daveblack1 thanks for making this proposal. Please would you be able to expand on it. For more info please see https://bisq.wiki/Proposals

[2021-09-19 22:39] Conza88 commented on #341
Oz is US's biatch. So yeah, matter of time.
Whole nuclear sub deal thing reiterates close relationship.

[2021-09-20 09:42] ripcurlx commented on #342
Are you sure about that? To me it sounds more like there is a 100% compatibility between Kotlin and Java libraries.
https://kotlinlang.org/docs/java-interop.html

[2021-09-20 11:00] chimp1984 commented on #342
Yes Kotlin itself is compatible if run in the JVM, but for iOS its Kotlin/Native and there as far I saw is no support for java (libraries). For the Android target I guess you can use Java as it is not using Kotlin/Native for that.

https://stackoverflow.com/questions/59572289/using-java-library-with-kotlin-multiplatform

[2021-09-20 12:17] ripcurlx commented on #342
True - missed that part: https://kotlinlang.org/docs/multiplatform-library.html#native

[2021-09-22 10:31] MwithM commented on #339
## Cycle 28
**Parameters** ([see issue](https://github.com/bisq-network/proposals/issues/289))
* USD/BTC price: 42.000
* USD/BSQ price: 1,62
* Current BSQ discount: 49%

![imagen](https://user-images.githubusercontent.com/50149324/134328095-508d732f-c0ab-46fa-a305-9159f8b568ea.png)

![imagen](https://user-images.githubusercontent.com/50149324/134328144-2a0fb2b3-0ab7-45ab-91a4-ae01222f3961.png)

In

[2021-09-22 17:01] leo816 commented on #340
Since there is no one automatizing this role, I would encourage @pazza83 to take over meanwhile. I believe a 75 USD monthly compensation seems fair. A monthly report of a clear PNL seems crucial in my opinion.

[2021-09-26 01:16] pazza83 commented on #170
Seems there is consensus for adding USDT.

USDT was stalled last time due to multiple blockchains supporting it and no agreed decision of which to add.

To keep things simple, and avoid funds being lost with user confusion, I propose adding the ERC-20 version of UST. I am proposing the ERC-20 version as it has the largest holding of USDT. About 50% of USDT is held on ERC-20. Ref: https://wallet.te

[2021-09-29 03:23] thunderbiscuit commented on #342
Hello everyone.

It's my first time commenting on a Bisq repository and I'm just getting familiar with the project so take my thoughts with a grain of salt. I just saw the call on twitter to provide feedback and thought I might contribute with some of my expertise/experience with mobile.

### Kotlin Multiplatform
I think Kotlin Multiplatform is becoming more and more a valid option for production,

[2021-09-29 07:56] chimp1984 commented on #342
Great thanks for the input!

As far I understand we can still use the jvm for desktop. Kotlin Native is only required for the iOS target as far I see.

The biggest issue I see is that java libraries cannot be used when Kotlin Native is used. The good thing is it helps to reduce dependencies to the absolute minimum and some low level stuff like crypto libs could be used via native bindings and we g

[2021-09-30 14:03] yshwanth commented on #342
React Native should be better option compared to kotlin as it has more developer community and active.

[2021-09-30 15:05] nodejsjs commented on #342
Jetbrains is working on a multiplatform UI toolkit called Compose, originally developed by Google for android. Compose by Jetbrains targets desktop and web https://www.jetbrains.com/lp/compose-mpp

I've tried out Compose for desktop and it works super great. Copy-pasting android compose UI code into desktop project worked flawlessly. Building targets for different desktop platforms is literally ju

[2021-09-30 15:50] chimp1984 commented on #342
Thanks for the input! Sounds very promising!
Who knows what the future with Apple brings, they have kicked out all BTC apps back in 2013 where there was no legal pressure. Now with likely upcoming hostile regulations Apple might become a no-goal for Bitcoin apps anyway. But until that is the case I think its still better to keep the iOS target as a requirement.

[2021-10-10 20:22] GordianLN opened #343 "Allow 1sat/vByte fee for withdrawals"
When withdrawing funds off the application, you can enable custom transaction fee, but it can only be lowered down to 2sat/vByte, trying to set 1sat/vByte returns an error.
This will lead to spend fees 2x than needed during empty mempool periods, like this one; some might argue it is a minimal cost, and indeed it is, yet it still weights on the total costs, and should be trivial to alter in the ap

[2021-10-10 22:11] GordianLN commented on #343
Thank you @pazza83 , I also forgot to mention that in the worst case scenario, where you were so unlucky to withdraw at 1sat/vB right before a huge mempool rush lasting for weeks, it wouldn't be much of a hassle even without RBF, since someone could probably do a CPFP or wait for the transaction to disappear to find the funds back in Bisq wallet.

[2021-10-11 12:22] UX-P opened #344 "New role request- User Researcher"
Hello, I would like to make a proposal in regards to creating a new role possibly within the Growth team. A User Researcher. This will consist of conducting one on one user interviews which will take place via zoom where interviewees have the option to turn their cameras off if preferable, for privacy reasons.  User focused questions will be discussed in order to really identify the interviewee’s

[2021-10-11 13:46] m52go commented on #344
This sounds like a good idea but I'm not clear about what to expect on an ongoing basis to justify creating another role.

Perhaps you can coordinate with an existing or upcoming project and provide an example of what you can deliver first so people can better evaluate what such a role would accomplish.

[2021-10-11 19:04] UX-P commented on #344
@m52go  Thank you for your encouraging feedback. I will definitely take this on board and apply my strategy to specific projects and share the outcome with the appropriate teams.

[2021-10-18 04:08] pazza83 commented on #340
Closing as approved due to feedback in comments and discussion during team meetings.

[2021-10-18 04:08] #340 closed, assigned to pazza83

[2021-10-18 05:03] pazza83 commented on #342
Marking as approved but will leave open for ongoing discussion.

@devinbileck please consider if opening a [project](https://bisq.wiki/Project_management) would be beneficial.

[2021-10-18 05:05] pazza83 commented on #341
Closing due to lacking information.

@daveblack1 please feel free to expand on your proposal. Information about how to create a proposal can be found here: https://bisq.wiki/Proposals

[2021-10-18 05:05] #341 closed, assigned to daveblack1

[2021-10-18 05:08] pazza83 commented on #170
Approved. Many thanks to @jmacxx for completing this ready for version 1.7.5

@flix1 hope you can get some liquidity added to this market :)

[2021-10-18 05:10] pazza83 commented on #343
Hi @asvdf  thanks for making this proposal.

I think this is an important issue for discussion but would benefit from you expanding on the proposal to stand the best chance of engaging users. For more info on how to write an effective proposal please see https://bisq.wiki/Proposals

[2021-10-18 05:18] pazza83 commented on #344
Hi @UX-P thanks for the propsoal.

Feel free to browse the [approved proposals](https://github.com/bisq-network/proposals/issues?q=is%3Aissue+is%3Aclosed+label%3Awas%3Aapproved) for ideas, or alternatively [current projects](https://github.com/bisq-network/projects/issues) for ideas.

[Keybase](https://keybase.io/team/bisq) may also a good place to discuss with other contributors how you could ass

[2021-10-18 05:20] devinbileck commented on #342
As this is a seperate application from the Bisq core code base, I have created a [new repository](https://github.com/bisq-network/bisq-client) and started defining tasks and milestones within. So a dedicated project should not be necessary.

[2021-10-18 07:52] flix1 commented on #170
I will do my best to kickstart it and attract other traders.

[2021-10-18 08:16] GordianLN commented on #343
Thank you for getting back to me, I think I understood your post as "make the point so it will be more interesting for other users to accept", so I reworded the OP to this extent.

[2021-10-19 12:57] UX-P commented on #344
Hi @pazza83 that's excellent, thank you. I have seen a project that would really benefit from a user researcher's perspective, I will discuss this in Keybase and be updating in the coming weeks.

[2021-10-20 19:21] MwithM opened #345 "BSQ trading fee update for Cycle 29"
_This proposal keeps a record of the [process](https://bisq.wiki/Updating_BSQ_trading_fees) to keep the BSQ trading fee at 50% discount to BTC trading fee. It will remain open until we need to update BSQ trading fees again._

Last update was on #339

## Cycle 29
**Parameters** ([see issue](https://github.com/bisq-network/proposals/issues/289))
* USD/BTC price: 66.200
* USD/BSQ price: 1.62
* Curren

[2021-10-20 19:22] MwithM commented on #339
Closing as new fees are proposed on Cycle 29.

[2021-10-20 19:22] #339 closed, assigned to MwithM

[2021-10-23 11:04] MwithM commented on #345
Parameter proposal change for maker TXID: 227d3d6ae7a4309d816aaa28b87b210c9cba1723c0ea31751ab9c741fc2f4481
Parameter proposal change for taker TXID : e9457ce914c855ea607003ea2fe4f70dd31721590cbf125d95d27acd2f23cdca

[2021-10-25 11:33] Liisachan commented on #343
Basically, this is simply widening options without breaking anything that already exists in the current version.

When sending something to your peer, you should obviously try to do that quickly, paying reasonable fees if necessary, because your peer is waiting. But here we're talking about withdrawal, a solo/private action of the user. Even if such a transaction takes forever or even fails, no on

[2021-10-25 13:27] GordianLN commented on #343
At current prices, we are looking for 10c saved, or little less, for each transaction, by being able to set 1sat/vB per withdrawal. Don't know about you, but if I found a penny on the street I'd pick it up, so all the more reason not to throw away 10c in unneeded fees 😄

[2021-10-28 21:44] UX-P commented on #344
I have analysed the comments left by users on Keybase support and designed an [affinity map]( https://miro.com/app/board/o9J_lo8abDg=/?invite_link_id=107283228134
) grouping the most common subjects and talking points.
Below is a summary of possible solutions based on these key points and takes into consideration the heuristics web standard.
This list is also applicable to any new releases (maybe

[2021-10-28 22:35] pazza83 commented on #343
Are any of the @bisq-network/dev able to comment as to the benefits / negatives of reducing withdrawal fees to 1 sat/vB?

Is the 2 sat/vB min limit is to reduce potential support requests for users that fail to make a withdrawal with the appropriate fee? Or is there another reason/s?

[2021-10-28 23:06] GordianLN commented on #343
We are probably looking at a long while (if not forever) with low onchain fees, thanks to a lot of traffic moving on lightning, so I'd say no reason not to let users save on fees.
Plus, anything that will get stuck on mempool at 1sat/vB, would probably get stuck at 2sat/vB as well, just a little less.

[2021-10-28 23:22] chimp1984 commented on #343
I think lowering it is ok but going too low adds risks for stuck txs. It is not only the users risk but extended to any trade peer as unconfirmed inputs are ok to be used but if they never get confirmed because of too low fees the trade for both traders end up as failed and both need to do a SPV resync which is a bit painful user experience. So it is a bit different to a normal wallet where in the

[2021-10-28 23:26] GordianLN commented on #343
We are talking withdrawal fees in this topic, after trade has been concluded and you send your funds to private wallet, so 1sat or 2sat per vByte makes no difference at all, doesn't involve trades nor trade peers, and is a hardcoded limitation that I fail to understand.

Regarding trades miner fees, YES, they could be cheaper indeed. I almost intended to open another proposal for those as well, in

[2021-10-28 23:30] chimp1984 commented on #343
But the change outputs of any withdrawal can be used as inputs for a trade, thus affecting another trader.

[2021-10-28 23:34] pazza83 commented on #343
Many thanks for the explanation. Makes sense,

Would it be possible to reserve the btc the moment they are attempted to be withdrawn to prevent them being used in subsequent trades?

[2021-10-28 23:34] GordianLN commented on #343
True, albeit I find it far fetched as I'd think someone would be interested in withdrawing only whole utxo's, and then send trade deposits from their external wallet.
In any case, 1sat vs 2sat is not the deciding point of a confirmed transaction vs one in limbo, only sure thing is that you're saving half of the fees... choice should be left to the user, I think it would be fair to those who know w

[2021-10-28 23:36] GordianLN commented on #343
internal wallet should definitely be able to prevent spending unconfirmed utxo's to fund new trades

[2021-10-28 23:53] chimp1984 commented on #343
That would decrease usability a lot. Much worse impace than to pay 20 cents instead of 5 cents on miner fees.

Just looked up a random tx. 5 sat is about 50 USD cents atm. So I think we are discussing nothingburgers here....
https://mempool.space/tx/e19a5fce774e8ea0566d446a067174f5a70ff5f7d9ab1e40a7fa1a09753e5f65

The problems when a trade tx gets stuck to loose weeks until the issue is clear and

[2021-10-29 02:18] Liisachan commented on #343
Correct me if I'm wrong but if that is allowed, the exact same problem can happen already, when one sends BTC with 1 sat/vB from another non-Bisq wallet to Bisq and use it for trading before confirmations. Also, if 1 sat could cause a problem, 2 sats (already allowed) can cause similar problems too.
True, when mempool is kept super-crowded for a long time, 1 sat would never work. But in such a sit

[2021-10-29 02:44] wiz commented on #343
Hi there,

The minimum transaction fee is dynamically set for all Bisq nodes by the Bisq price servers once per minute. It is calculated by multiplying the "minimum fee" from mempool.space by 2, in order to avoid transactions being rejected or purged by the Bitcoin network in the event of a congested mempool. This works very well while the mempool is full, and when the mempool is empty it drops do

[2021-10-29 07:17] GordianLN commented on #343
People spent probably a few cumulative hours of human time to discuss the issue of 1sat vs 2sat, while actually implementing the change in the code would have taken less than 5 minutes.

I beg to differ from wiz, the withdraw minimum custom fee is not set to double the mempool's suggested (probably you meant the trade miner fee?) I have had, and successfully took, the option of withdrawing funds a

[2021-10-29 07:51] Conza88 commented on #343
Will bite my tongue re: save another rant, but allow the individual to control their own funds.

Give warnings, educate, remove mediation possibilities/escalations after properly indicating the risks etc etc. But allow FREEDOM OF CHOICE, I mean gawd damn.

[2021-10-29 08:54] cd2357 commented on #343
There were periods when the min fee was 1sat/vB and when the mempool filled up for a few weeks, it caused countless issues with failed trades, DAO voting, BSQ compensation, support tickets, etc. People complaining
- "Bisq is broken, has too many bugs, it should just work"
- "My trade is hanging, I want my money back"
- "My trade failed, I want my fees back"

Many of us have spent a lot of time to

[2021-10-29 11:33] GordianLN commented on #343
Thank you for the detailed reply, I am on point for each bullet of that last list :)
To let me get this straight: letting users go down to 1sat/vB fee when withdrawing funds from Bisq wallet to private wallet could be a problem because, if they then go and spend those unconfirmed UTXO's to start a new trade, it might mean a big headache if mempool fills up suddenly.
And this won't happen by paying

[2021-10-29 12:40] chimp1984 commented on #343
BitcoinJ has not implemented it and Bisq use BitcoinJ.
Beside that it would not help for trade transactions as they are created interactively by both traders. Thus a RBF tx would required to re-do the trade process and as it cannot be assumed that both peers are online at the same time after the trade this is not feasible to do.

10 sat might be too high, I think reducing min. fee to 5 sat might b

[2021-10-29 18:05] GordianLN commented on #343
I think you are still talking about trade fees while I am talking about withdrawing my own funds to my own wallet and being able to choose my own fee, be it even 1sat/vB, being totally fine to get it after a week, if ever.
I could do CPFP if I really need it, but let me get down to 1sat/vB when withdrawing to my own wallet, and remove the 2sat/vB limitation please.

[2021-10-29 19:21] chimp1984 commented on #344
@UX-P Great thanks for all that work! Very valueable collection of issues to improve.

Regarding shortcuts:
I think those which are more essential should get a button in the relevant UI screen to open the info directly. Shortcuts have been intended to be for non critical info and for expert users. But some of those you mention clearly do not fall into that category.

Maybe @jmacxx find some dev ba

[2021-10-29 19:27] chimp1984 commented on #343
You seem to ignore my comment that a change output of a withdrawal can be used for the next offer/trade and thus affect other users. Sure there can be the isolated single user case but most users are not aware of the details (like change). Requireing confirmation before using funds for offers/trades would decrease UX a lot, so thats our of question and was also never a problem, beside the cases wh

[2021-10-29 20:01] pazza83 commented on #343
Having read the comments about the risks of low fees for withdrawals I am giving this proposal a thumbs down. I a a big fan of low fees and the ability to transfer out sats at a miner fee of your choosing, but not when it will potentially impact subsequent trades negatively impact the experience of other users.

Still think it would be good in the long run to look at ways to reduce miner fees on t

[2021-10-29 20:13] pazza83 commented on #344
Thanks @UX-P for this feedback.

I like the affinity map as a way of presenting the Keybase support enquires. Makes for interesting reading.

I agree with these points. I suggested promoting [Keybase in the Bisq app](https://github.com/bisq-network/bisq/issues/4904) to streamline users that have issues to Keybase where issues can be most effectively handled.

I agree with this also. It would be gr

[2021-10-29 20:26] pazza83 commented on #344
With regards the user researcher role. I think it would make sense to limit the role initially to one project at a time.

On a recent [Bisq dev call](https://github.com/bisq-network/projects/issues/60#issuecomment-944453142) the issue of the following was discussed:

`Monero is our most traded altcoin, we should learn as much as possible and make sure we are doing what we can to attract as many us

[2021-10-29 20:59] GordianLN commented on #343
I wasn't actually ignoring this peculiar use case, rather placing it in its context, which is in fact peculiar: someone withdrawing funds to external wallet by using just part of a UTXO, and spending the unconfirmed change to make/take another trade... even if withdraw fees were not the issue at hand, it seems curious to even let users do that in the first place (spending unconfirmed UTXO on trade

[2021-10-29 22:13] chimp1984 commented on #343
To use unconfirmed inputs for the trade has no security issues as a doublespend would render the whole trade txs invalid. The usability costs to need to wait for a confirmation when funding your wallet are much higher than the benefit to let users choose minimal miner fees in withdrawals and require them then to wait for confirmations of change outputs to avoid the risk that it leads to failed tra

[2021-10-30 19:17] MwithM commented on #345
The proposals were accepted and the [wiki](https://bisq.wiki/Trading_fees) has been updated.

[2021-11-01 00:27] UX-P commented on #344
@chimp and @pazza thanks for the receptive feedback, and I agree with the role being applied on a per project basis. I’m glad you recognise the value of the specified UX points, please keep me updated with any changes you are considering applying from the research as it would be great to track the progress.
@pazza yes I would like to help tackle the Monero issue so a new proposal will be made rega

[2021-11-01 09:13] phma opened #346 "Add AXS and SLP to list of cryptocurrencies"
I'd like to see Axie shards (AXS) and Smooth (or Small) Love Potion (SLP) added to the list. These are used in the Axie Infinity game and are ERC-20 tokens. AXS is part ownership of the game; one can stake AXS and gain more AXS, like interest but the rate varies. SLP is earned by winning the game. Breeding Axies requires both AXS and SLP.

There are over eight million Axies in existence and over t

[2021-11-01 20:52] pazza83 commented on #346
Hi @phma thanks for your suggestion.

Currently Bisq has put on hold new altcoin listings.

This means that AXS and SLP can currently not be added.

[2021-11-02 18:56] gustavocandia opened #347 "Bounty to enable Cross Chain Atomic Swaps for NMC"
What if in the not too distant future the demand for .bit domains takes off to the point where people are willing to pay far more for Premium names than their regular registration/renewal cost. It would be incredibly useful to have an application where either NMC or a name can be exchanged for NMC or any other coin.

Jeremy Rand Lead Developer from Namecoin proposed a while back using NAME_NEW out

[2021-11-02 23:33] GordianLN opened #348 "Add "Seller maker/taker" and "deviation from market price" in Market>Trades history"
It would be useful, for decision helping as offer maker, and for analysis purposes, to include in the "all trades history" two more columns, one where it's defined the role of the BTC seller, if maker or taker, and another (right next to the trade price column) for the percentage deviation from current price at the moment of offer taking.

[2021-11-03 04:51] pazza83 commented on #348
Hi @asvdf thanks for making this proposal.

I think however that it would be best posted in: https://github.com/bisq-network/bisq/issues

Apologies if it was myself that recommend you to post as a proposal!

[2021-11-03 12:23] GordianLN commented on #348
Thanks for getting back to me, opening an issue there as we speak

[2021-11-03 18:16] pazza83 commented on #348
Closing as moved to issues https://github.com/bisq-network/bisq/discussions/5804

[2021-11-03 18:16] #348 closed, assigned to nobody

[2021-11-03 18:16] #346 closed, assigned to phma

[2021-11-04 18:29] UX-P opened #349 "Monero Bisq User Research Project"
As discussed with @pazza83  in my previous proposal  #344 , I am interested in applying the User Researcher role to a project based on Monero Bisq users. Learning about the Monero users aims to gain insight on the primary Monero issues/pain points and identify common topics to provide solutions that will satisfy current Monero users, attract new users and grow the Monero Bisq community.

Some focu

[2021-11-07 22:25] pazza83 commented on #349
Hi @UX-P

Thanks for the proposal.

From my perspective there are two user groups to consider:

1. Monero users that are using. or have used Bisq to trade XMR <-> BTC
2. Monero users have never used Bisq to trade XMR

For the first group I would like to know what suggestions, improvements, concerns they have with regards Bisq utility to trade XMR <-> BTC.

For the second group I would like to know

[2021-11-07 22:30] pazza83 commented on #347
Hi @gustavocandia thanks for the proposal and offer of a bounty.

From my perspective the proposal does not provide enough information for effective discussion to take place.

I think it would benefit from you expanding on the proposal to stand the best chance of engaging users. For more info on how to write an effective proposal please see https://bisq.wiki/Proposals

[2021-11-08 17:41] chimp1984 opened #350 "Re-activate GRIN"
Grin has been used in Bisq from the day when it started but had been deactivated due technical problems and the missing tool for verify the transaction (similar to Monero tx key tool).

Those problems have been fixed in the meantime and the tools are available since long.
The Grin community has reached out several times requesting Bisq to re-enable it again. Due lack of dev resources on Bisq side

[2021-11-08 17:42] chimp1984 commented on #350
Tx ID: 00bdf253e1fef760e6a012cfdd508378f8951cea78395e6405c5a190f1c7eecb

[2021-11-10 12:06] UX-P commented on #349
Hi,

Thanks @pazza83,  yes these groups will definitely be considered.

A user researcher's aim is not to be intruding but to get to know our users and thus help to humanise the bisq product for a better UX experience. Here is a breakdown of deliveries:

**Week 1- $35**

- Discussions on social media on topical questions regarding Monero users and the improvements they would like to see on bisq wh

[2021-11-11 03:56] pazza83 commented on #349
Hi @UX-P

Thanks for breaking down costs and plans.

I think $216 USD would be well spent by the DAO finding out more about Monero users.

You have my support to take on this project.

I think give this a couple of weeks to let other users share there thoughts before it can be determined if the proposal if accepted or rejected.

[2021-11-14 19:04] Liisachan commented on #343
Thank you very much. This was very educational and though-provoking.
Some people might be a bit unhappy about this conclusion, but I believe that every user is strongly supporting the fundamental philosophy of Bisq, and thus basically deeply respecting and thankful for those who made this platform possible, especially active developers :) I hope there will be no hard feelings for anyone.

After al

[2021-11-15 00:58] gustavocandia commented on #347
I believe Jeremy Rand will be resubmitting a proposal for this work in a week or so.

[2021-11-18 01:54] #342 closed, assigned to devinbileck

[2021-11-18 01:56] pazza83 commented on #344
Closing as superseded by https://github.com/bisq-network/proposals/issues/349

[2021-11-18 01:56] #344 closed, assigned to UX-P

[2021-11-19 17:20] chimp1984 commented on #349
Hi @UX-P, thanks a lot for the proposal! I am looking forward to your results! I consider your budget request very moderate, I would not have any problems if it turns out to be higher. Just from the quality of the proposal I have best confidence that the result will have great value for Bisq.

You might be aware of a few potential issues Monero users are facing with Bisq yourself but I can give he

[2021-11-19 19:32] pazza83 commented on #349
Hi @UX-P

Many thanks for this proposal.  I have marked your proposal as approved. Looks like it has a lot of support from users.

Please feel free to get to work.

Once you have completed the work you can make a compensation request. Details on how to do so can be found here: https://bisq.wiki/Making_a_compensation_request

It would be great if you can message me on Keybase: https://keybase.io/te

[2021-11-21 15:41] UX-P commented on #349
Thank you for the approval! I will begin working on this from Tuesday.
@chimp1984 I am familiar with a couple of these issues, thank you for the in depth explanation this will definitely be helpful when considering potential UX/UI solutions.

@pazza83 I am glad you are willing to participate, I will be contacting you soon for any questions.

@chimp1984 @pazza83 I am sure you have heard that Kraken

[2021-11-21 16:35] pazza83 commented on #349
Yes, I think the Kraken Monero for UK customers is an opportunity. Most UK customers are also unable to deposit fiat to Binance due to banks following FCA guidance. This means it is harder to purchase Monero in the UK as onramps are being closed. Bisq could help provide UK users with a bridge to Monero.

[2021-11-23 10:54] MwithM commented on #345
## Cycle 30
**Parameters** ([see issue](https://github.com/bisq-network/proposals/issues/289))
* USD/BTC price: 57.100
* USD/BSQ price: 1,96
* Current BSQ discount: 54.8%

![imagen](https://user-images.githubusercontent.com/50149324/143011650-e01f9904-2535-4ac2-8f58-0af9e0bbe2b8.png)
![imagen](https://user-images.githubusercontent.com/50149324/143011703-cea788c1-d3f3-44a2-ab86-465a844a1ac6.png)

I

[2021-11-26 00:25] Artizyou opened #351 "Hi Guys, we love Bisq and we need help to list Artizcoin (BNB) a security solution to protect NFT intellectual property. any advices pls?"

[2021-11-26 01:51] pazza83 commented on #351
Hi thanks for the proposal. currently new assets are closed to listing. No dates yet when this will change.

[2021-11-26 01:51] #351 closed, assigned to nobody

[2021-11-28 00:45] pazza83 commented on #343
Hi, I will look to close this issue in 4 weeks or so. Please feel free to add any comments or give a thumbs up or down in support of the proposal.

[2021-11-28 00:46] pazza83 commented on #349
Closing as approved

[2021-11-28 00:46] #349 closed, assigned to UX-P

[2021-11-28 10:57] GordianLN commented on #343
Watching mempool.space chugging along now I just say, it comments itself, or rather, screams a comment in favor of my proposal :)
I understand this is minor, as trading 0.01btc and being peeved by 141sats more to withdraw is not a game changer.
I also understand the reasons behind this decision by the devs, as explained above.
I don't share the conviction that 2sat/vB vs 1sat/vB would be able to s

[2021-11-28 22:51] pazza83 commented on #343
Yes, understood. From my perspective I would like mining fees on trades to be lower. That being said I appreciate the answers provided above about the reasons this has the potential to cause issues that affects traders.

Yes, understand the point. Anywhere the line is drawn could have the same issues.

This could be another proposal. If accepted it could lead to a different outcome for 1 sat vb wi

[2021-11-30 16:20] UX-P commented on #349
Hello, @chimp1984 @pazza83 @ripcurlx @jmacxx @leo816

### **Week 1**
Here is a link to the customer profiles created from an in-depth analysis based on discussions found and questions asked via social media.

[Monero User Profile](https://github.com/UX-P/Monero-user-profile/blob/main/Bisq%20Monero%20User%20profile.pdf)

These profiles represent the typical Monero Bisq user and should be used to ma

[2021-12-01 13:58] clearwater-trust commented on #349
Thoughts from a mutant:

Great data. Thank you.

I had the inclination to read up on Haveno and chimp1984 reply here:  https://github.com/bisq-network/proposals/issues/349#issuecomment-974259817

Is there a _profitable_ reason for the DAO to work with Haveno and/or implement native XMR in Bisq client?
Can the DAO benefit from implementing native XMR? (i would argue yes)
We can _negotiate_: 2 of 2

[2021-12-03 13:34] VlVEK commented on #343
this thread is interesting and critical at the same time if we are expecting  the price of bitcoin to only go up

I appreciate these efforts being done in the past to arrive at a consensus

The ways highlighted by @cd2357 are indeed useful to reduce the overall transaction fees

Here's a calculation for 0.00100000 BTC trade (average expected trade in BTC/INR) using the above ways suggested
1. depo

[2021-12-03 14:52] jkciw commented on #343
I agree with @VlVEK about the maker being able to publish offers with a fee threshold (Fast vs Slow) or (1x vs 2x) etc. Hope someone is able to delineate the implications of such a setup.

[2021-12-04 11:38] Akira45-0 commented on #170
I totally agree. I am all for implementing USDT as a payment method the way wiz described. There will be no demand when there's no trading opportunity created by the availability of the payment method.

As for ERC-20 the Ethereum fees are exorbitant in comparison with fees on Liquid and Tron, so I would like to ask if there's a possibilty of implementing USDT in a "generic" way with checkboxes as

[2021-12-08 04:54] pazza83 opened #352 "Proposal to analyze blockchain data of Bisq trades to report on failed trades, arbitration instances and long-term locked funds"
This is a proposal for myself to analyze the blockchain data for 200 historic trades with fees paid with BSQ and 200 historic trades with fees trades paid with BTC to answer the following questions:

- What percentage of trades with trade fees paid with BSQ failed
- What percentage of trades with trade fees paid with BTC failed
- What percentage of trades with trade fees paid with BSQ went to arbi

[2021-12-08 18:28] UX-P commented on #349
### **Week 2** ###

A link to the [affinity map](https://miro.com/app/board/o9J_lgjWY1s=/?invite_link_id=6795510031) addressing users key comments, pros, cons and issues, I will continue to develop when creating a competitors analysis.

**Findings**

Here is a summary of the main points:

Buzzwords: Private, cheap, easy, fast, secure, fungible and freedom

**The community**

- Identity preservatio

[2021-12-09 18:10] chimp1984 commented on #349
@UX-P
Great thanks for your update!

I think it might be helpful to create some sort of FAQ-like repsonse to some of the circulating critizisms (maybe on the webpage)  as some of the postings are very distorting and causing ongoing damage to Bisqs reputation if not corrected/countered/brought into context.

Here my 5 cents to some I stumbled over from time to time:
- BTC fees ar super high: Yes at

[2021-12-11 02:00] pazza83 commented on #352
Just wanted to outline my definitions of failed trades.

- On-chain failed trades
- Security related failed trades
- Bisq protocol related failed trades

### Failed on-chain failed trades

My definitions of a on-chain failed trade for the purposes of this specific proposal is:

A failed on-chain trade is occurs when something in a users instance of Bisq is not functioning properly that results in

[2021-12-13 18:19] dginovker opened #353 "Proposal: Add BTC <-> XMR Atomic Swaps"
This proposal is to add BTC <-> XMR swaps to Bisq. This follows recent developments regarding the first BTC <-> XMR [atomic swap](https://github.com/comit-network/xmr-btc-swap) implementation and the 1.8.0 Bisq release featuring the first atomic swaps on the exchange.

Note- I'm making this proposal out of strong interest I've seen elsewhere, I'm not particularly interested myself

## Cost

I'll p

[2021-12-18 15:49] UX-P commented on #349
Hi,

Please view my Week 3 update in the two links provided below:

Thanks @chimp1984 I agree, a lot of the confusion can be solved through being informed and educated about Bisq.

Faq will definitely help.  I have listed a few topic ideas in this [competitor's report analysis](https://docs.google.com/document/d/19svHdhqickZAbuqa-cnKayYLuuchJwzLCzN646P-Jm4/edit?usp=sharing).

Yes, also highlightin

[2021-12-18 18:32] chimp1984 commented on #349
I do not think that is a technological issue but a conceptual and human resources issue.
Conceptually a P2P DEX will never reach the convenience of a CEX (ignoring the pain of getting KYCed). I think users have to be aware of the trade-offs and its unfortunate that convenience seems to be the top priority for too many and those are often not aware of the drawbacks or do not have the consciousness