[2021-12-18 18:39] chimp1984 commented on #349
I was not aware that one can trade LTC-XMR via the Monero GUI wallet.

[2021-12-18 18:40] yoshimo commented on #349
Why wouldn't you be able to reach a similiar level of convenience? There are standards for online banking, HBCI and PSD2 in Europe, there are Atomic Swaps, Payment via Paypal/Samsung Pay/Apple Pay, and probably other convient ways for fiat to enter the Bisq world and be compatible with handling&checks by our dex software.
Has someone looked into automatic confirmation & issuance of payments outsid

[2021-12-18 19:26] chimp1984 commented on #349
Atomic Swaps are only possible between cryptocurrencies not for Fiat. BTC-XMR atomic cross chain swap is still in development and on the roadmap for Bisq 2.0.
Payment via Paypal... are insecure due easy chargeback.
Security model of a CEX is very different to a DEX. It is easy to "swap" BTC to Fiat when the CEX holds both your BTC and your fiat. Also company based exchanges are exposed to regulato

[2021-12-18 19:42] chimp1984 commented on #350
Close as accepted

[2021-12-18 19:42] #350 closed, assigned to chimp1984

[2021-12-19 13:08] UX-P commented on #349
@chimp1984 Good spot, no it doesn't. I’ve uploaded an edited copy and actually removed Monero GUI from the table as it’s a wallet solely used to store, send and receive XMR, not for swaps which makes it not too relevant to that particular evaluation.

[2021-12-20 09:13] MwithM commented on #349
@UX-P You can use this [wiki page](https://bisq.wiki/Trading_costs) to reference Bisq costs. This page was created to clarify that "Bisq fees are high" is true only when mining pool is full.

[2021-12-20 09:20] yoshimo commented on #349
As far as i remember it was an official standard for every bank in the region so you don't have to rely on different apis for different banks.
We already had multi-banking apps for desktops and mobile before PSD2 and they only partially relied on parsing the online banking website ;)

[2021-12-23 09:56] MwithM commented on #353
I think that this is a feature all of us we would be like to have implemented, specially if it could work as smoot as in BTC/BSQ swap. Now, at least we have a UX model for how BTC/XMR swaps could be implemented at Bisq.
But I think that this is even a higher technical challenge since two different chains need to be able to communicate between each other, and I would like to see a more detailed pro

[2021-12-23 10:15] MwithM commented on #345
I've realized that in the last Cycle I used wrong current fees, because I forgot to update them from last change at Cycle 29. It's no big deal since an update was not necessary anyway.

## Cycle 31
**Parameters** ([see issue](https://github.com/bisq-network/proposals/issues/289))
* USD/BTC price: 48.600
* USD/BSQ price: 1,63
* Current BSQ discount: 49.2%

![image](https://user-images.githubusercon

[2021-12-24 02:27] pazza83 commented on #347
Closing this for now. Please feel free to submit again with more info

[2021-12-24 02:27] #347 closed, assigned to gustavocandia

[2021-12-24 04:56] chimp1984 commented on #353
Thanks for the proposal. Atomic cross chain swaps is on the roadmap for Bisq 2.

BSQ swaps are a very different thing as BSQ is technically Bitcoin, so a swap is just a bitcoin transactions swapping the inputs and outputs.

The XMR-BTC swap is a very sophisticated project and as far we follow the farcaster project it will still take a bit until it is considered final from their side.

[2021-12-24 09:18] flix1 commented on #353
BTC <-> XMR Atomic Swaps would absolutely be a great thing for Bisq to have.

However as chimp says, it is technically difficult. Others like Haveno (https://haveno.exchange/) and COMIT (https://comit.network) are also working on it and running into many difficulties... however if they manage to get it done, since they are open source, it might be possible to use what they have learned.

[2021-12-25 18:45] MwithM opened #354 "Increase Max BSQ reimbursement amount to 160k"
Edit: This proposal should be **rejected** as it's based on a wrong assumption.

We are exceeding the limit of 80k for this Cycle 31. Total amount of BSQ to be issued through reimbursements on this Cycle is 143k.

Refund:	76256,00
Rtgeek:	25238,11
Polygonk	39331,37
Opticbit:	1042,00
Total	**141867,48**

I'm not sure if the limit applies to a single or overall reimbursement proposals, but as there

[2021-12-25 18:49] MwithM commented on #354
34e2a20f045c82fbcf7cb191b42dea6fba45641777e1751ffb29d3981c4bf413

[2021-12-26 05:57] wiz opened #355 "Migrate primary chat from Keybase to a new self-hosted Matrix team"
Keybase has served the Bisq community very well over the past few years since we migrated from Slack. However, as many of you know [Keybase was recently acquired by Zoom](https://blog.zoom.us/zoom-acquires-keybase-and-announces-goal-of-developing-the-most-broadly-used-enterprise-end-to-end-encryption-offering/), which is not good since [Zoom is accused of censoring calls on behalf of the Chinese g

[2021-12-26 06:26] m52go commented on #355
I've been monitoring the existing Matrix room for Bisq over the past few months and the clients have improved a lot.

One of the biggest complaints I've gotten from people is that Keybase is hard to access since it requires a login that many don't already have _and_ it requires users to download apps to actually chat. Element has a web interface that doesn't require new app downloads.

Users often

[2021-12-26 08:05] cbeams commented on #355
I'm generally +1 on this. My thoughts / feedback:

- Spaces have not been rolled out fully on the iOS Element client yet. So people will have to join the Bisq space via web or desktop and only then will they be able to see them on their (iOS) phone. I just went through this process.
- There are nearly 3,000 members in Keybase. Not sure how many are active, but that's one of the larger Keybase team

[2021-12-26 08:15] m52go commented on #355
For sure. I think we can learn and adapt the room operation and user-oriented messaging in the process to make it smoother over time.

[2021-12-26 08:15] wiz commented on #355
Yeah, I use fluffychat on iOS which is far superior IMO. The UI on iOS Element is just weird.

Sure, our Keybase group won't go away anytime soon, this proposal is more of getting a rough consensus to start the very slow migration to a self-hosted alternative. One day Keybase will probably do something really evil and then we'll uninstall the app but it will be fine since we'll already have been p

[2021-12-27 17:13] chimp1984 commented on #343
I think just the value of work time and effort spent on that proposal exceeds already the potential savings for the few who really want this. Not counting in **potential problems to other traders and mediation/arbitration support**. As state elsewhere its more complex as the people proposing this are willing or able to understand. I don't want to repeat myself as it was discussed in length at the

[2021-12-27 17:29] chimp1984 commented on #354
The max value is per proposal. So easiest is to split the proposal into 2.
It would not have effect for that cycle.
I think its a good security gate and prefer to not change that. The very few times when its required to exceed that it can be easily done by making multiple proposals.

[2021-12-27 18:13] chimp1984 commented on #355
Who would take over the lead for a transition? E.g. communicate, promote, plan transition...

[2021-12-27 18:29] chimp1984 commented on #352
I think it would be good to scan the blockchain for transactions which match the Bisq-trade protocol structure. Its not totally trivial to do that but possible. It will contain some potential false positives but it should be rather small. Would be at least interesting to see that ratio. It sould also be a good match with out trade statistics. If not we should figure out why. The trade statistics a

[2021-12-27 18:53] chimp1984 opened #356 "Adopt Compensation policy for work on Misq/Bisq 2"
For the work on Misq/Bisq 2 it is not really feasible/efficient to package each work scope into defined deliverables and as its all work in progress it is not useable for users yet.
I would suggest to adjust the DAO compensation rules for this area to make every merged PR to https://github.com/bisq-network/misq subject for compensation requests.

UPDATE:
After thoughts from the feedback I think it

[2021-12-27 19:50] cbeams commented on #356
Suggestion: incentivize delivering / shipping milestones, not just merged PRs. Define milestones early and often enough to make sure folks get compensated in a reasonable time frame. Still track compensation based on merged PRs (that remain merged at the milestone boundary). Doing it this way will align everyone on shipping, not just coding. What gets shipped doesn't have to be production-quality.

[2021-12-27 20:07] chimp1984 commented on #356
Yes that was the approach we used so far but I fear it creates too much overhead. For instance @ghubstan provided a suggestion for a config file framework. Such smaller items are hard to fit into a milestone or not worth to create one. On P2P network work there is lot of work which develops more organically during work on it. Enforcing deliveries as initially intended was not really efficient. Def

[2021-12-28 00:23] chimp1984 commented on #356
Actually I think you are right ;-). Should not be too much effort to define a bit more clearly the scope of tasks. Will try to do that via issues as for projects the scope might be too small.

[2021-12-28 07:55] wiz commented on #355
Definitely @m52go is the best person for this job

[2021-12-28 18:46] cbeams commented on #356
You can use GitHub's Milestones feature for this. Create a milestone and then add issues to it using the right nav.

[2021-12-30 12:01] mrosseel commented on #355
@wiz sooner or later we were going to end up on matrix, glad the project has progressed enough to make it viable
So +1 for a phased transition.
Some questions around ownership though:
- is this a bonded role?
- how easy is it to take over the matrix hosting, which creds are needed if any?

[2021-12-30 18:27] wiz commented on #355
Yeah good point, I think there was already a Rocket Chat Operator role or something we can just rename. As for migrating I think it's fine as long as we have 4-5 admins to control the room.

[2022-01-02 09:57] MwithM commented on #354
Closed as rejected.

[2022-01-02 09:57] #354 closed, assigned to MwithM

[2022-01-03 19:10] UX-P commented on #349
Hi all,
Happy New year!

A summary report on Monero Bisq users and non Bisq users based on  research via social media and survey results. (Recommendations in italic).

### **Members of the Monero community are very active on social media.**
Monero is regarded as an ideal medium of exchange due to its fungibility. The community often pitch the idea of financial privacy, freedom from fiat and being

[2022-01-04 03:52] chimp1984 commented on #349
Great thanks for the summary!

Anyone who is willing to take the lead to get the action points implemented?

[2022-01-05 16:23] m52go commented on #355
## Plan

### Now

- change official links on website ([done](https://github.com/bisq-network/bisq-website/commit/5d3c27cc615235dc35c308fcd99ac08a46e11e33))
- create rooms (in progress, mostly done)
  - consolidate existing setup to avoid room inflation
  - get admin/mod permissions set properly
- start encouraging community to migrate with occasional messaging on twitter, keybase, and telegram
- a

[2022-01-05 17:49] chimp1984 commented on #355
@m52go Thanks for taking on that!
When you recreate rooms, use dev_bisq2 instead of dev_misq, as we plan to use bisq2 instead of misq to avoid confusions...

[2022-01-05 19:10] w0000000t commented on #355
Identity can be currently verified on matrix by using keybase as a medium for 2FA: chat on matrix between userA and userB, A asks B to write them message M on keybase, so B messages A on keybase with "M", they can so get verified.
I did verification this way with MwithM and jmacxx.
The great downside to this is Matrix verification not working as web of trust: being reciprocally verified with Mwith

[2022-01-05 19:23] m52go commented on #355
Agree, and this needs to be figured out before Matrix is recommended for support. And it needs to be super-simple, or people will be discouraged or skip over it.

Two approaches I can think of are:
- list matrix user account URLs on wiki, software, etc for known support staff (e.g. https://matrix.to/#/@handle:matrix.org)
- create new matrix server with new domain and closed/restricted signups, suc

[2022-01-05 19:29] w0000000t commented on #355
I like that both are totally independent from Matrix collaboration.
First one is way easier to implement at first and yet I still don't like it would be a trusted method and needing care.
Second one I prefer on the premises of it being much more elegant and "self-contained", but if users on that domain are access-restricted to support agents only, how can users in need of support verify the accoun

[2022-01-05 19:54] m52go commented on #355
That's pretty much how we do it now...Keybase handles are listed on the wiki. I doubt anyone further verifies proofs. We'd just change those handles to Matrix links.

The restricted server would only be used for user accounts, not chat rooms. Users on that server would participate in the #bisq:bitcoin.kyoto space just like everyone else, but anyone could easily check that their accounts are hosted

[2022-01-05 21:37] w0000000t commented on #355
I would still prefer the second method, but I can be overengineering sometimes and I see how this would require more tinkering.
What I like about keybase, is the builtin platform verification where you can show that you are the owner of your reddit/github/twitter/younameit account, and that is trustless, in a way.

[2022-01-07 09:13] MwithM commented on #355
The keybase verification feature is top, but I think that maintaining a list of mediators and support agents links should be enough.
Matrix not being a massive tool plays in our favour, scammers go to the biggest honeypots like Slack, Discord or Telegram. Maybe that was a reason for not having impersonators at Keybase, more than the verification tool.

We could have a *manual* web of trust by veri

[2022-01-09 18:34] ghost commented on #349
Dear @UX-P, thank you for the excellent research report and suggestions.  I'm replying here to try and get a handle on what deliverables are to be expected from your suggestions.

In summary, you suggested:

1. Add an xmr tab to the landing page.
2. Use familiar wording and icons.
3. Accomodate waiting periods with clear indicators.
4. Promote that bisq is non-custodial.
5. Direct users to the buy

[2022-01-12 14:22] UX-P commented on #349
Hi @jmacxx, no problem! I'm glad you see it's value.

Yes those are the suggestions in summary and I will follow your advice and create an issue for each.
In priority order would be best and one at a time as to not overwhelm. @pazza83 's initial proposal appears to be the most urgent and I plan to open an issue starting on this topic.

Thanks for providing contacts, I'll ensure to communicate with

[2022-01-22 15:59] pazza83 commented on #353
There is consensus to add atomic cross-chain swaps for BTC <-> XMR.

I am sure this proposal will be addressed again in the future.

[2022-01-23 14:22] MwithM opened #357 "BSQ trading fee update for Cycle 32"
_This proposal keeps a record of the [process](https://bisq.wiki/Updating_BSQ_trading_fees) to keep the BSQ trading fee at 50% discount to BTC trading fee. It will remain open until we need to update BSQ trading fees again._

Last update was #345

## Cycle 32
**Parameters** ([see issue](https://github.com/bisq-network/proposals/issues/289))
* USD/BTC price: 36000
* USD/BSQ price: 1.41
* Current BS

[2022-01-23 20:39] chimp1984 opened #358 "Using merit for L-BTC fee payment distribution in Bisq 2"
There are open questions how fee payment can be done in Bisq 2.
Here is one idea for trades on Liquid:

A DAO contributor (who earned BSQ by compensation requests) creates signed `fee share requests` and publish those to the P2P network.
The fee share request contains:
- Signature
- IssuanceTxId (from there the EC pubKey can be derived, needed to verify the signature)
- The L-BTC address

Signing

[2022-01-23 21:41] clearwater-trust commented on #358
Please define L-BTC

I guess confidential tx can be used so the fee amount is private.

What is a confidential tx?

Thank you.

[2022-01-23 22:16] chimp1984 commented on #358
L-BTC is Bitcoin on Liquid
https://docs.blockstream.com/liquid/technical_overview.html

[2022-01-23 22:40] chimp1984 opened #359 "Used burned BSQ to become a fee receiver"
An alternative, better idea to https://github.com/bisq-network/proposals/issues/358 is to burn BSQ and use that for giving the right  to receive trade fees. This could be done for BTC fees in Bisq (instead of using the burningman) as well for any new trade protocol where BTC or BSQ is not part of the trade (e.g. Liquid).

When burning BSQ one can attach a hash to the opReturn data. One can put the

[2022-01-23 22:40] chimp1984 commented on #358
Closing in favor of https://github.com/bisq-network/proposals/issues/359

[2022-01-23 22:40] #358 closed, assigned to nobody

[2022-01-24 15:24] MwithM commented on #357
BSQ maker fee proposal txid: 08ac84de80ac01b3be6ebbdc2ebf8e1cc25d63ac44a6bdb1eb5a88abbdc4c7f2
BSQ taker fee proposal txid: 63a53411f41c41f6423ba08e9274bfc851e5a7d119c5bb12bae524de5fb76a97

[2022-01-26 13:15] w0000000t commented on #359
I might not be a smart person, or maybe just mentally tired right now, but I am afraid I didn't understand this.
I know the way you explained it is univocal and just a tad more technical than the average person can decipher, yet, could you try and add a "higher level" explanation, where the technicalities of the first post are left hidden?
I mean, explaining in layman terms, and make a few charact

[2022-01-26 13:45] w0000000t opened #360 "Update "Penalties table" page on Wiki"
During the first support meeting call of 2022, the idea of a new approach to penalties, and a new format of the "Table of penalties" wiki article, has been discussed.

Following this, me and @MwithM collaborated to prepare a new version of the table that is shorter, easier to read and understand, and also allows partial judgment to the mediator, in order to evaluate the severity of each situation

[2022-01-26 13:52] chimp1984 commented on #359
@w0000000t No worry, it is understandable that those who are not too familiar with the DAO technical and some rather exotic conceptual aspects get confused by the description. I will try to give more background....

The economics of the DAO is based on an inflationary and deflationary tendency. By issuing new BSQ at compensation requests we create more BSQ, thus creating inflation as the supply of

[2022-01-26 14:10] w0000000t commented on #359
Yes, I'm 70% there, while before it was probably 20%, thank you for the explanation! The balance will be found just like mining, with difficulty/revenue/BTC price/electricity cost/ASICs' MSRP
For the little it is worth, and at my current level of understanding, this idea finds my favour, especially if contributors can choose to adhere partially to this system, while receiving the remaining part of

[2022-01-26 14:46] chimp1984 commented on #359
I does not affect that. They do their comp request as usual. Its just additional an option for anyone to spend their BSQ for becoming a fee receiver instead of selling it on the market.

It cannot be compared to mining/PoS IMO as it has different context.
BSQ is not a blockchain which require miners/stakers for security.
Here it is only about a decentralized and privacy protecting way how to distr

[2022-01-26 21:11] w0000000t commented on #359
Silly me, I completely misunderstood, then this is completely separate from compensations... I like it even more.

I suppose I was referring to ETH to say "those who own more end up gaining more", yet burningman right now is the ultimate big staker, as is the only staker there is.
But now I also get what you meant back there with "probabilistic payout", "stream of small payments", "even out with t

[2022-01-26 22:36] pazza83 commented on #359
Hi @chimp1984 thanks for the follow up explanation it helped explain how you anticipate it working in practice.

Would there would be a deadline for users to burn BSQ by if they wished to receive trade fees for the following cycle? And that the current amount of BSQ burned would be known by any potential participant?

I like that your idea removes the centralization of burningman and offers anothe

[2022-01-26 22:52] MwithM commented on #359
Indeed, I find this a great idea:
It's a future market prediction on how many trading fees is going Bisq to generate.
It should reduce volatility as the amount of burned BSQ should be more stable than trading fees. Some periods could be very beneficial for BSQ burners, but I see it something like paying an insurance as there will also be times when volume decay, so trading fees will be lower than

[2022-01-26 23:40] chimp1984 commented on #359
Yes exactly. Have not seen it that way but yes its a prediction market.

No details yet defined. but for instance a L-BTC-USDT trade might either have 2 fee payments in the users currency (e.g. L-BTC seller pays in L-BTC and L-BTC buyer pays in USDT, so that does not introduce dependencies in case the user has no money of the asset they will receive yet. Or it could be that one side pays for both

[2022-01-26 23:55] chimp1984 commented on #359
I think to keep time periods short reduces risks for misallocations and lowers potential loss for both sides.
Maybe one cycle is a good unit. So at current cycle one can make a burn BSQ tx to become fee collector for the upcoming cycle.

Yes thats a good question.
One option to avoid that everyone tries to wait until the last block to get more information would be to weight the share with the bloc

[2022-01-26 23:59] chimp1984 commented on #359
Actually using 0% at the last block might be justified. Then there is the full spectrum and the market can find it's sweet spot.

[2022-01-27 08:18] MwithM commented on #359
I thought there would be 1 single pool for all trading fees, so any participant would burn BSQ and provide a myriad of cryptocurrencies addresses to receive the trading fees.
Burning BSQ to get one single niche coin would create too much friction. Maybe a couple pools, one for main currencies (with shorter time scope) and another for niche (larger) would be ok.

What about using a blind bid phase

[2022-01-27 09:24] MwithM commented on #360
The main idea for this update was to simplify the penalties by creating a document that can fit most of the cases, instead of a document where all possible cases are included.

- Penalties shared between buyers and sellers have been merged.
- Most delays are the same, as traders tend to select the excuse with a smaller penalty. There is no increment on the penalties depending on how big the delay

[2022-01-27 15:06] chimp1984 commented on #359
Ah yes true that might be better. If we use the hash we can put multiple addresses in.

That would not work technically with the existing features.
But a better idea is to not bind it to a cycle as suggested above but just have a x days validity of the burned BSQ.
We could even make it dependent on the burned amount. Then we would actually price it, but it might be hard how to define the price. Si

[2022-01-27 15:59] MwithM commented on #359
I find that the administrative option and needing to establish prices is less attractive than a market prediction where X% amount of burned BSQ represents Y% chance of getting the trade fees for trades during Z amount of time.

[2022-01-27 17:44] opticbit commented on #166
Add Terra (Luna), its number 9 by market cap.

$UST is number 16 by market cap, a decentralized stable coin on the terra luna network

theres other stable coins and tokens on the Terra platform, including mirrors to the stock market.  But ust seems to be the important one to be sure to have available to trade.

mining fees are much lower than Ethereum fees.

id pay the dao listing fee for a month

[2022-01-29 14:30] flix1 commented on #359
I've read it 3 times now and don't understand it.

EDIT - OK, I think I get it now. Thanks @chimp1984 for the extended explanation.

It looks like an extremely interesting idea and would remove one of the most centralized aspects still remaining in Bisq. You can count on my help as a beta-tester. I'll happily take the risk of being one of the first to burn BSQ in exchange for fees.

I still expect

[2022-01-30 09:12] cbeams commented on #357
I was just reviewing this proposal, and was confused for a moment on how the fees could be so large, i.e. 89 BSQ for a taker fee. I realized a few minutes later that this is the fee **per 1 BTC**. The only place that's mentioned (so far as I can see is the [wiki](https://bisq.wiki/Trading_fees#Current_rates)). It might be worth being more explicit about that in these proposals in the future, so th

[2022-01-30 22:01] pazza83 commented on #360
Yes I think this is good practice. If more traders start doing this then it will facilitate a scenario where traders can sign the payout transactions themselves (with agreed compensation), therefore, avoiding mediation and speeding up trades.

[2022-01-30 22:03] pazza83 commented on #360
Thanks @w0000000t and @MwithM for updating this. It looks much improved.

[2022-01-30 22:13] #345 closed, assigned to MwithM

[2022-01-30 22:18] pazza83 commented on #343
Hi @asvdf, thanks for opening this discussion.

I am closing this as rejected due to potential issues that could be caused for users with 1 sat vb withdrawals / trades.

[2022-01-30 22:18] #343 closed, assigned to GordianLN

[2022-01-30 22:19] #353 closed, assigned to dginovker

[2022-01-30 22:19] pazza83 commented on #355
Closing as approved

[2022-01-30 22:19] #355 closed, assigned to wiz

[2022-01-30 22:20] pazza83 commented on #352
Closing as approved

[2022-01-30 22:20] #352 closed, assigned to pazza83

[2022-01-30 23:36] w0000000t commented on #360
This might be out of the scope of the _Penalties_ article, and be more appropriately added in the [trading rules](https://bisq.wiki/Trading_rules) section, at least in my opinion; then the _Penalties_ could briefly reference this

[2022-01-31 00:08] pazza83 commented on #360
I think traders discussing and agreeing penalties / compensation between them is within the scope of the article.

The article should be used as a guideline but if traders agree between them something different that is fine and even preferred.

[2022-01-31 01:33] pazza83 opened #361 "Increase altcoin trade size limits to 5 BTC"
The below is something I have thought about a while ago when considering ways to increase trade volume. Seeing how large trades have been reimbursed in BSQ without incident I thought it would be a good time to have a discussion around trade size limits for altcoins.

## Background

All altcoin trades on Bisq currently have a [2 BTC limit](https://bisq.wiki/Payment_methods#Altcoin_payment_methods).

[2022-01-31 07:35] w0000000t commented on #360
I'll make some edits to reflect that, so we can discuss about wording and placement

[2022-01-31 12:54] chimp1984 commented on #361
I see the risks higher as the benefits from it. 2 BTC is already a lot of money.

[2022-01-31 20:47] UX-P opened #362 "Bisq 2 Reputation Protocol/ Social User Research"
I am proposing to carry out user research based on the Bisq-2 reputation protocol in order to optimise the user interactivity of this project. Due to its high level of complexity, it is essential to have a good combination of functionality and design in order for Bisq 2 to reach its users effectively.
To best tackle areas regarding security and usability there must be a good understanding of user

[2022-02-02 15:15] MwithM commented on #357
Proposals have been accepted, [wiki](https://bisq.wiki/Trading_fees#Current_rates) has been updated to reflect the new values.

[2022-02-02 15:22] MwithM commented on #361
In the past I wanted to reduce the limit, now I don't see much difference on what the limit is, because a trader can open as much orders as they need. MIning fees, when trading 2BTC, are not a considerable cost.
This 2BTC limit increases with bitcoin value as numbers go up.

[2022-02-03 05:02] ghost commented on #357
@ripcurlx  Can you update the filter with these new fee rates, per https://github.com/bisq-network/bisq/pull/5826

[2022-02-03 05:32] ripcurlx commented on #357
Just applied the new values to the filter 👍

[2022-02-06 23:58] pazza83 commented on #349
Hi @UX-P sorry missed this comment. What proposal do you mean?

Let me know if you need any assistance with coordinating the implementation of the below:

- Add an xmr tab to the landing page.
- Use familiar wording and icons.
- Accomodate waiting periods with clear indicators.
- Promote that bisq is non-custodial.
- Direct users to the buy-bitcoin channel on keybase. (this will now be Matrix)

[2022-02-07 13:53] chimp1984 commented on #362
@UX-P Great thanks for the proposal!

There are several messanger app based OTC trading channels (e.g. Telegram, Whatsapp,...). I looked a while into some but was very disappointed about UX and scam level. But this type of trade interaction was one inspiration for the social trading project. The main problems I saw was total lack of security, difficulty to find trusted peers and a very high level

[2022-02-08 00:36] UX-P commented on #362
Thanks for the feedback @chimp1984

I’ll have to explore this a bit more, wish me luck...

It’s definitely a good decision to remain niche for this protocol, it helps to simplify the UX process. I say this because It is essential for this particular protocol to be a pleasant experience for a new trader. This is a field that could potentially be brand new for the user and Bisq has a responsibility

[2022-02-08 02:41] chimp1984 commented on #362
Haha... don't risk real money ;-). I did not found anyone who has any meaningful security suggestions. They basically said "I am a company" so trust me, or look at my reputation on the chats...

Yes you are right. Potential is probably much bigger as what we saw from keybase trades.

Maybe @pazza83  has some inputs here.

[2022-02-08 05:50] chimp1984 commented on #356
Close due inactivity

[2022-02-08 05:50] #356 closed, assigned to chimp1984

[2022-02-09 13:40] Emzy opened #363 "Discontinue tor relay operator role"
We support the Tor network right now with 4 Tor relay nodes with a total for 19.06 MiB/s advertised bandwidth.
My proposal is the discontinuation of the tor relay operator role.
I would argue that the traffic from the Bisq Network alone is a net positive for Tor, better anonymization for all.
AFAIK there is no bandwidth problem in the Tor network. Also 19Mbit/s is not really much.

I would prefer

[2022-02-09 13:43] Emzy commented on #363
A discussion on this proposal is appreciated.

[2022-02-09 18:23] chimp1984 commented on #363
I have no stroong opinion, but one option would be to have a limited budget we are willing to spend on that? I think it gives the right signal that Bisq DAO is funding some tor nodes as we heavily depend on Tor.

[2022-02-09 19:30] w0000000t commented on #360
Closing as implemented

[2022-02-09 19:30] #360 closed, assigned to w0000000t

[2022-02-09 20:38] w0000000t opened #364 "Allow maker to restrict offer to takers with specific account age/signing status"
First of all, I feel this has a place among proposals, rather than in "feature ideas", as it's a significant change from the current model of "taker/maker selection", and because it could imply some network validation, rather than just using single clients to filter counterparties; this comes from [today's support call discussion](https://github.com/bisq-network/support/issues/916#issuecomment-103

[2022-02-10 16:45] MwithM commented on #364
This proposal was already discussed:
https://github.com/bisq-network/proposals/issues/133

Apparently it's possible, I wish there was a way to simply implement it now, but I feel this will need to wait for Bisq 2.

[2022-02-11 00:20] bisqubutor commented on #363
There seems to be a need for Tor bridges at the moment.

I had started to operate some bridges about two months ago, until today, not many users have found themselves on them so far no significant use.

http://hctxrvjzfpvmzh2jllqhgvvkoepxb4kfzdjm6h7egcwlumggtktiftid.onion/rs.html#search/bisqubutor

[2022-02-11 08:32] sqrrm commented on #363
I think it's a good thing for bisq as a project to support some tor nodes. It's right to support it since bisq depends on the tor network, at least for now, and it also shows other projects that it can be done.

I'm quite happy to retire my nodes though and let some more experienced ops ppl run better nodes.

[2022-02-11 10:51] w0000000t commented on #364
Checked out that thread, yes it's got some points in common with this request, the present one being more granular IMO.
I also supposed as much  with Bisq2, and actually as of now I always consider my mind time frame as "post-Bisq2" for any feature requests, as it's clear the priority is getting Bisq2 to replace Bisq first, then build on it.
Might as well leave this open for when it can be taken i

[2022-02-11 17:06] MwithM commented on #364
Yes, opening it was ok, so at least it's considered for Bisq 2.
I hope that at Bisq 2 this kind of changes are more flexible.

[2022-02-12 11:11] MwithM opened #365 "Increase BTC trading fee to 1% of trade amount"
### Rationale

Getting BSQ to pay trading fees has very little friction since BSQ swaps were implemented.
Bisq needs to increase the use of BSQ. Currentlly, only around 30% of trading fees [come from BSQ](https://github.com/bisq-network/roles/issues/111#issuecomment-1000632728). BSQ is essential for a decentralized distribution of Bisq's revenue.
From January comptroller's data, Bisq collected 0.6

[2022-02-12 12:14] pazza83 commented on #365
Thanks for creating this proposal.

I am in support of this as it aims to both incentivize more users to use BSQ and increase revenue for DAO from users that use BTC to pay fees.

[2022-02-12 12:20] pazza83 commented on #364
Thanks @w0000000t for this proposal.

I agree that it would be good as a taker to filter offers by age / signed status, and as a maker restrict offers by age / signed status.

[2022-02-12 13:44] chimp1984 commented on #365
The BSQ fees are not increases? I think both should increase so that Bisq gets an average fee of 0.8% instead of the current 0.66%. I think a fee increase of about 20% for bith BTC and BSQ would bring it closer to the target.

[2022-02-12 14:02] pazza83 commented on #365
I did the sums for Jan 2022 with the trade fees above.

Assuming 1% BTC trade fee:

BSQ X% discount trade fees would increase from 0.66% ​to X%

- 60% discount = 0.76% average trade fees
- 55% discount = 0.80% average trade fees
- 50% discount = 0.84% average trade fees

[2022-02-12 14:27] chimp1984 commented on #365
Why not stick with the 50% discount? With higher BTC fees some traders might move over to BSQ which would lower the overall fees, so a slight "overshoot" might compensate that tendency, as well as compensate to the past 'undershoot' of our target.

[2022-02-12 15:07] MwithM commented on #365
If 50% of trades were paid with BSQ, the total income from trading fees would be 0.7% of total volume. If 60% of trading fees were paid with BSQ, total trading fees would be 0.64% of total trading volume.
I think that at that point is when Bisq should evaluate to increase the BSQ trading fee to 0.5%.

[2022-02-12 16:16] chimp1984 commented on #333
I don't see any strong reason why we should limit ourself by that 15% cap. There are caps in the code which we have to respect and which would cause consensus issues if changes. Those are IMO the relevant. The others are IMO guidelines we set by "educated guesses" and should be adjusted if we figure out that those guesses have not worked that well.

[2022-02-12 16:18] chimp1984 commented on #365
FYI my comment on an older discussion re 15% cap: https://github.com/bisq-network/proposals/issues/333#issuecomment-1037277577

I think we should try to get asap to the 0.4% per trader (0.8% total) fee revenue target. How to get there in details I dont care so much, but that we have been so long below that target was not intentional but from our lack of accounting/checking business numbers.
So I t

[2022-02-12 17:11] MwithM commented on #365
I agree with removing the self-imposed maximum allowed 15% raise in BSQ trading fee update.
@jmacxx Do you agree with removing it for good? If the 60% discount target is accepted for this cycle, I would update the BSQ trading fee when BSQ discount is not within the 55-65% range, to restore the 60% target.

I might accept that Bisq should head towards a higher trading fees. 0.8% seems a nice target

[2022-02-14 08:36] flix1 commented on #365
Agree that fees should be raised for BTC.

Agree that changes should be gradual and incremental over several cycles, that should allow users to react and/or complain. Surprise, unilateral changes in economic conditions can cause a lot of anger, especially if they were not previously discussed.  Gradual changes also allow for measurement.

We need to test the hypothesis that "higher BTC fees --> hi

[2022-02-19 23:50] pazza83 commented on #362
Hi @UX-P

We spoke recently about the mediator role and also discussed a little of the upcoming reputation protocol.

Here are some of my thoughts about the reputation protocol and the ideas to date.

**Strengths / Positives**

- I see having a protocol inside Bisq 2 for users to acquire no kyc BTC as vital
- I think small trades with no security deposit as feasible
- Off-chain trades = lower fees

[2022-02-22 11:32] Emzy commented on #363
edcd47dc4c3e8acca56b81740b4acc8fcd37a7960ec4cbfa7af036a6208ab995

[2022-02-23 15:08] MwithM commented on #365
I have sent to DAO voting the Bitcoin trading fee change parameter proposals:
- For maker, the TXID is: `c3a9445a2c2e6f2a6e9edbad2a32694366ee44dc3b1c472649ade30ed07d5dbd`
- For taker, the TXID is: `a503475acd1f55866f9edd8757ce6e435835bde468401a453760f09a86774e11`

I consider the secondary proposal to remove the self imposed 15% cap for increasing BSQ trading fees as accepted, I am updating the [wi

[2022-02-23 15:22] MwithM commented on #357
BSQ trading fees are calculated using the new values proposed at #365.
BTC trading fees are increased to 1% (0.12% maker, 0.88% taker).
Discount target is 60% and should be adjusted back to exactly 60% every cycle if it's not within the 55-65% range.

## Cycle 33
**Parameters** ([see issue](https://github.com/bisq-network/proposals/issues/289))
* USD/BTC price: 38.600
* USD/BSQ price: 1,18
* Curre

[2022-02-27 20:29] UX-P commented on #362
@pazza83 thanks for the summary above and the insightful discussion on helping me to gain a better understanding of the current mediator role. Feel free to share your thoughts and feedback on this [Support Agent summary  ](https://github.com/bisq-network/bisq/discussions/6011#discussioncomment-2261898) for Bisq 2 :)

[2022-03-02 20:06] pazza83 opened #366 "Have a clearly defined process for how users with accepted DAO reimbursement requests can trade with Burning Man"
## Background

About 12 months ago @refund-agent2 started to [partially reimburse high volume trades](https://github.com/bisq-network/proposals/issues/296).

This was done to reduce the risk of human error (eg https://github.com/bisq-network/roles/issues/93#issuecomment-659568163) and the potential for bugs in Bisq (such as https://github.com/bisq-network/bisq/pull/5649) to affect payouts.

This m

[2022-03-02 21:10] w0000000t commented on #366
I don't see the second risk as a proper risk, just how the market works probably... with a hint of security for the reimbursed party on the side, which is what users need to feel safer.
In general I agree with this

[2022-03-03 11:46] refund-agent2 commented on #366
This issues were already discussed when I began as Refund Agent. I launched two proposals: [limit to 0.5BTC](https://github.com/bisq-network/proposals/issues/296) the reimbursements for each trade and [define prices for reimbursement](https://github.com/bisq-network/proposals/issues/294). They were approved without much discussion, but the conclusions weren't submitted to the Wiki.
I agree with th

[2022-03-03 17:15] pazza83 opened #367 "Have a clearly defined process for how Burning man trades BTC from donation and trade fee addresses for BSQ"
References:

[Donation Address Owner - Bisq Wiki](https://bisq.wiki/Donation_Address_Owner)
[Donation Address Owner - Role](https://github.com/bisq-network/roles/issues/80)
[Arbitration; Donation Address Owner - Bisq Wiki](https://bisq.wiki/Arbitration#Donation_Address_Owner)

## Background

The Donation Address Owner, AKA Burning Man, provided an essential role for Bisq. One of their roles is to

[2022-03-03 18:18] ghost commented on #367
Given that BM inventory grows at a quite steady pace 1 - 2 BTC each month, if BM only buys "cheap" / below average prices:
- It can lead to a market stalemate, with BM accumulating a large inventory of BTC waiting for people willing to sell "low".
- Market participants can see the BM inventory growing and refuse to sell "low".
- BM's inventory grows, huge risk to the DAO.

---

The other proposal

[2022-03-03 20:09] pazza83 commented on #367
What would you suggest the percentage over to be?

[2022-03-03 21:05] w0000000t commented on #367
"up to N% over 30d avg" is an elegant solution to both having BM funds spent in BSQ, and also BSQ price go up.
Currently, 3000sats is a rough estimate, 5% over that would be 3150sats, not a whole lot, plus allows for some space in which makers can compete, and BM would still take the cheapest one which would be probably higher than 30d avg anyway.
Just wanted to chime in ;)

[2022-03-03 22:03] MwithM commented on #367
I prefer the laissez-faire option, but with some more transparency.
AFAIK, now burningman just takes best sell BSQ offers.
I think that as long as burningman announces an estimate amount of BTC planned to sell, then the market will adjust to that: more BTC buyers will place offers if burningman announces having a lot of BTC to sell.
Usually there's a lot of sell BSQ offers so burningman buying at

[2022-03-04 01:01] pazza83 commented on #361
Closing as was rejected

[2022-03-04 01:01] #361 closed, assigned to pazza83

[2022-03-06 03:00] pazza83 commented on #366
Ok, following this proposal being resolved I will update the wiki.

Great, I have not spotted this.

Agreed.

My sympathies in this instance are with the partially refunded traders that have been forced to become DAO participants. I agree that DAO participants should expect volatility, but when a trader has only been partially refunded I feel the principle should be they are refunded in full.

I w

[2022-03-06 21:48] pazza83 commented on #363
This proposal was accepted by DAO vote in cycle 33

[2022-03-06 21:49] pazza83 commented on #365
Both proposals were approved by DAO vote in cycle 33

[2022-03-07 08:54] MwithM commented on #365
[Wiki](https://bisq.wiki/trading_fees) has been updated to reflect this changes.

Closing as approved.

[2022-03-07 08:54] #365 closed, assigned to MwithM

[2022-03-09 17:42] ghubstan commented on #367
I like this idea, and I like the effort to make this process more transparent.

I do not have an informed opinion about BM buying N% below, at, or N% above the 30 day weighted average.

[2022-03-09 19:00] leo816 opened #368 "Increase Support Compensation"
Bisq has a history of contributors disappearing due to lack of incentive or sense of coordination within bisq as a unit. In order to incentivize the support team and reward consistency in contribution to the project (as well as inflation) I suggest increasing the compensation after 6 months of consistent contribution so that it would look:

| Role | Current Compensation | New Compensation |
| ---

[2022-03-10 00:23] clearwater-trust commented on #367
I agree. This issue should be priority one, as it directly reflects the health of Bisq.

I don't understand why the address would have anything over a very minimum amount.   What is preventing the address from being FULLY LIQUIDATED on a regular schedule?

**We should prevent this address from becoming a LIABILITY.**

by liquidating its contents on the regular.

[2022-03-10 10:03] Conza88 commented on #288
I believe the privacy concerns are mostly moot... recent launch of auto-deleting trade info, which can be set by user.

IMO, Bisq 2 is WAY too far off. This change is so vital to continued growth of Bisq brand in general, I really do think it needs to be done before **_ANY_** work on Misq / Bisq 2.

[2022-03-11 04:56] apemithrandir commented on #288
My interpretation of the core issue is that we want users to leverage their reserve more, by posting conditional offers and reduce their reserve requirements as a result.

At present if you post many offers you must reserve btc for each offer. The proposal here would allow users to create a special new order type linking a single reserve to multiple conditional offers at the time of offer creation

[2022-03-11 14:35] ghost commented on #288
Kudos to @apemithrandir for out of the blue coming up with a solution that simplifies the UI issue.

I prefer the way you originally described it in Matrix growth room chat with your "**One Cancels Other (OCO)**" option - it is the simplest and most effective solution in my opinion.  If the advanced user enables that feature, when creating subsequent offers that match the fee & reserve requirement

[2022-03-11 17:23] w0000000t commented on #288
Yes, cool idea, and the way @jmacxx describes it also allows for different offers in the same group to share just the BTC amount, while premium and disable price can be customized differently; basically, no improvement is needed over this model, and as a non-java-programmer I still think this could be feasible in Bisq1 without waiting for the next big version, am I wrong?

[2022-03-11 21:32] pazza83 opened #369 "Reimbursement requests to only be valid if submitted within 3 months"
References:

- [Wiki article about reimbursements](https://bisq.wiki/Making_a_reimbursement_request )
- [Reimbursement templates](https://github.com/bisq-network/support/issues/new/choose)
- [Examples of fee reimbursement requests](https://github.com/bisq-network/support/issues)
- [Fee Reimbursement Agent](https://bisq.wiki/Fee_Reimbursement_Agent)

Currently users with failed trades that have los

[2022-03-11 22:08] pazza83 commented on #288
Hi @apemithrandir thanks for sharing your idea. Might be worth creating a new proposal to get maximum visibility for your suggestion. See here for general info about creating a proposal: https://bisq.wiki/Proposals

Increasing liquidity by allowing multiple offers to share the maker's security deposit / allocated trade amount would be a good move forwards.

[2022-03-12 13:35] burningman3 commented on #367
So far I have taken the offers at the best price, I think that is a reasonable strategy. I don't think there should be a minimum amount.

I agree that the amount that is building up in the burn address needs to be traded, but I have been told there are refunds that would trade with me. Since that has not happened for a couple of months it makes sense to assume there will be no refund trades. When

[2022-03-12 14:57] pazza83 commented on #367
Thanks for the input.

I would be in favor of Burning Man trading throughout the week.

What percentage is 'not too far' from the average?

What are your thoughts on making offers at or around 30 day average if there are not enough trades to be taken?

[2022-03-12 16:03] burningman3 commented on #367
'Not too far' from average has to be within an expected range as seen historically. I would measure that vs BTC since that is the pair that is trading. I don't know that number, but it should be possible to find out.

Making offers means I would not continue the burning man role since you would have to be always online. I don't think it would make a big difference to the market if the burning man

[2022-03-12 17:17] pazza83 commented on #367
Thanks, @burningman3.

Is it possible for you to be more specific with "Not too far' from average has to be within an expected range as seen historically."

_Burning Man to take all offers below N% over any 30 day weighted average within the last X months?_

I think the lack of liquidity, large spreads, and Burning Man only being a taker means it would be good for the above to be clearly defined.

[2022-03-13 11:53] refund-agent2 commented on #368
1. I prefer to have this structure: **50 +1.1%**. 50 USD per case is enough, I get much more low amounts than big amounts to reimburse and arbitration fee covers a bigger part of the cost for higher volume trades, while is insufficient for low amounts. The rest (+1.1%) is the cost of "lending" BTC to Bisq and I find it ok to increase it, specially since after a year I roughly have benefits.
2. Iss

[2022-03-14 02:47] apemithrandir opened #370 ""One Cancels Other (OCO)" option to reduce reserved BTC requirements"
This proposal is a follow on from:
- #201
- #288

### Background

Bisq operates as a highly fragmented market in terms of liquidity. You have many currency pairs and within each currency pair you have many different payment methods. None of these offers are fungible or linked in any way. If a liquidity provider on Bisq wants to provide maximum liquidity, they will want to be able to post buy and s

[2022-03-14 10:24] MwithM commented on #370
OCO offers should be implemented sooner or later on Bisq 2 protocols with security deposits. I wonder if API is already contemplating this scenario.
Another thing that should be implemented is to reduce min security deposits for pegcoins like USDT or L-BTC.

[2022-03-14 11:50] MwithM commented on #367
If there are more regular trades and burningman addresses are close to 0 (except amounts reserved for reimbursements) then there is no need to announce how many BTC are going to be bought in advance.
I prefer more regular trades if burningman wants to do it. I thought burningman only bought on Sundays for availability.

About pricing, I think it works ok as it is now, burningman taking best offers

[2022-03-14 13:15] apemithrandir commented on #370
@MwithM how does my proposal differ from Bisq 2 protocols with security deposits? Is there a page I can look at for comparison?

[2022-03-14 15:15] salokiam commented on #370
Smart idea with the cancelling and there are not so many points in the code which need to be changed. That would probably provide some liquidity on the niche markets. Probably none on the main market(s).

[2022-03-14 15:22] w0000000t commented on #367
If by this, it is intended that rather than only buying on sundays, BM will buy whenever, but still regularly at a constant pace, then I'm all for it.

Also, we have discussed extensively this both in support meeting calls, and on other threads on GH... yet I don't have a strong opinion about making sure to buy BSQ only in a selected range of price which is lower than 30d avg for example; since th

[2022-03-14 15:30] w0000000t commented on #370
As I said on matrix (but let's make this official on GH) I like this approach very much, as it doesn't need to overhaul the current UI for offer making, but rather recycles most of it, just adding the grouping field.
The "grouping" concept is the name I came up with, as I know there is a service named Gixen that is used to "snipe" on ebay auctions, and you can set snipes for multiple items on ebay

[2022-03-14 16:00] apemithrandir commented on #370
Thanks for the kind comments @w0000000t and @salokiam.

I am not a proficient programmer myself. Who within the project would have the interest, skills and knowledge of the code base to implement such a proposal?

I also lack knowledge of priorities within the project, to know if this proposal would fit with any of the existing plans that are already underway. If anyone can comment on the planning

[2022-03-14 19:59] MwithM commented on #370
Protocols with security deposits is what I call to what Bisq 1 is offering right now. As I don't think there are going to be any big changes in Bisq 1, I think that this proposal should be considered for Bisq 2.

[2022-03-14 20:02] pazza83 commented on #367
@MwithM

Yes, I think the burningman role is crucial for Bisq and involves lots of trust. That being said I think trust should be minimized as much as possible.

One of the issues I see with having no defined percentage is that a malicious burning man could take their own trades. With the spread being so large a malicious burning man could accumulate BSQ buy buying at a decent percent below averag

[2022-03-14 21:13] w0000000t commented on #367
offers taken by BM are shown in relevant GH thread, correct?

[2022-03-14 22:17] Conza88 commented on #370
A big change is upgrading to taproot or adding lightning, surely.

This would be incredibly impactful to user experience and growth prospects imo. Churn reduction etc. Local community growth. Liquidity.

Very much worth it and Bisq 2 may be YEARS away.

I can't stress enough how much this should be as a top priority for Bisq 1.

Post this change (and maybe single on chain transaction) I'm happy to

[2022-03-15 01:23] apemithrandir commented on #370
@Conza88 I appreciate the vote of support. Though we need someone qualified to commit to doing the work, as well as some buy-in from the community that if the work was done it would be merged.

Because I believe in this proposal and it's potential, I am willing to offer up 1m sats (0.01 btc) bounty to motivate this work to be completed. Some qualifiers:
- 6 month deadline (2022-09-15)
- For iterat

[2022-03-15 13:13] ghost commented on #370
I support this proposal, would like to hear from @ripcurlx and @chimp1984

[2022-03-16 08:21] leo816 opened #371 "Have BSQ on other exchanges"
I agree that it goes against BISQ's principles to be on centralized exchanges BUT if you view BSQ as equity in the project, what you are doing is giving people another way of getting to know more about bisq. We can talk shit about centralized exchanges all day but the truth is they have done an incredible job in being that bridge between the fiat world and crypto. Most people in crypto today are h

[2022-03-16 10:35] flix1 commented on #371
Getting listed on other exchanges will be a difficult process and if liquidity there is low we would be in the same situation. I do agree it should be done, but not that it is the priority or that it will solve the problem.

What would actually solve the issue of low BSQ liquidity?

**Market makers**.

This is exactly what market makers do! For a small fee (1-3%) they ensure that there is a minimu

[2022-03-16 11:34] Conza88 commented on #371
I don't think it would. I think there would be a net loss. I am here, would I be if it started out as not being just 'coloured-bitcoin' but more a kin to a shit coin? No. Too easy to dismiss.

Because of the customer experience, not branding or marketing. Consider why folks go central exchanges route compared to decentralised ;
(1) cheaper fee's
(2) UX
(3) Liquidity

You get more of 3 by improving

[2022-03-16 12:03] chimp1984 commented on #370
Thanks @apemithrandir for the interesting proposal.
I think an easier model would be to allow multiple payment methods to one offer. But also that would come with quite some dev effort.
Your suggestion would come with considerable dev effort IMO. As we have very limited dev resources I suggest to invest it better in Bisq 2 where many things get improved by default:
- Multiple payment methods
- The

[2022-03-16 12:05] chimp1984 commented on #370
@apemithrandir Btw if you want to work on open conceptual issues for Bisq 2 you are very welcome. Best to join the Bisq 2 matrix channel.

[2022-03-16 12:22] MwithM commented on #371
The AOPP issue should teach Bisq that inviting people to use middleman services is not a good strategy.
Bisq can't ban other exchanges from listing BSQ, but actively listing it in CEX's is a bad idea, no matter if it improves liquidity and awareness. If a CEX listed BSQ, Bisq should encourage to their users to stop using it, not the opposite.
At least the AOPP defenders claimed that it made it eas

[2022-03-16 12:36] Conza88 commented on #371
Because any time or resources wasted on shit like that—signals Bisq isn't serious about building the foundations for the future of money (outside the centralised KYC world).

The simple value proposition is BTC, non-KYC, decentralised exchange to go with decentralised money.

A straight forward scam free experience with lowish fee's, liquidity, and a growing non-KYC community that values privacy &

[2022-03-16 14:40] w0000000t commented on #370
Could you explain even in a very short manner how you envision this "grouping" liquidity increase as a significant development effort?
My knowledge is currently limited to the LAMP stack, so it's possible this skews my perception of the complexity of implementing this mechanism on top of the current Bisq with Java

[2022-03-16 15:11] w0000000t commented on #371
All the participants in this thread do know more than me about crypto "politics", so I am not going to argue about the above points made in reply to leo (which, I must admit, are all good points, or at least sound so to someone who knows less than you about crypto politics).
I placed a thumbs up on OP as I still would like to know BSQ is listed on other exchanges as well, yet I understand that Bis

[2022-03-16 16:54] apemithrandir commented on #370
Thanks for the feedback. As I stated I’m unfamiliar with the code base and rely on people such as yourself to comment on the ease of integration of the proposal.

I would be more than happy to join the Bisq 2 matrix channel and see if I can offer any help on conceptual issues. What is the channel link?

[2022-03-16 17:50] w0000000t commented on #370
https://matrix.to/#/#bisq.v2.dev:bitcoin.kyoto

[2022-03-19 14:27] burningman3 commented on #367
Each cycle there is a burning man report where the trades can be seen, like this https://github.com/bisq-network/roles/issues/80#issuecomment-1053702793

I think all offer sizes should be taken, starting with the best price.

I suggest that the trading should not be announced ahead of time. The availability of BSQ should then be more even over time as BSQ sellers keep offers up longer. This is goo

[2022-03-19 14:35] ghubstan commented on #367
...

The situation is bad enough for contributors. Please do not change the process in a way that is more harmful to contributors.

[2022-03-19 16:01] MwithM commented on #367
I don't think that burning man buying more frequently and then not needing to announce when or how many BTC is he buying is bad for contributors, as long as the BTC aren't kept into the DAO address without a justified reason (reimbursements).
I find this much better than the current weekly trading event.
Having a schedule (any day of the week from 20.00 to 21.00 UTC or similar) wouldn't hurt anywa

[2022-03-19 16:34] pazza83 commented on #367
## Proposed process

I have summarized the above, to see is a rough consensus:

Burning Man to use funds from both fee and donation addresses to:

- Trade directly with the Refund Agent shortly following their reimbursement request
- Trade directly with traders that have been partially reimbursed following their reimbursement request (limit of one cycle post reimbursement)
- Use remaining (unalloc

[2022-03-19 17:02] w0000000t commented on #367
I approve of the above; re-reading and re-thinking this though, I wonder if we really want to "stop" BSQ to appreciate at over 20% per month while there is no such limit for depreciation... but maybe that won't really constitute a problem.

[2022-03-19 17:07] ghubstan commented on #367
Can there be some compromise here:

Can he announce 2x per cycle?  Having to constantly stay online is onerous.

[2022-03-19 17:57] pazza83 commented on #367
Yes, I think this is a fair point,

@burningman3 would you to be happy to announce trades at least twice a month for users that do not want to have to stay online al the time?

[2022-03-19 21:45] MwithM commented on #367
I agree with the proposal.

To me it's a question of how many times is burningman going to be trading per cycle. If it's only going to be 4 times per cycle, then announcing when and estimated BTC to buy is very important. If it's going to be more frequently (in a daily basis or at least twice per week) just knowing at which hour would be enough.
I would leave this decision entirely to burningman's

[2022-03-19 22:08] burningman3 commented on #367
The main changes with this proposal should be to have a clear schedule when funds in the donation address can be spent by burning man. More clarity is needed. How long do users have to start requesting a reimbursement? What if the discussions around the reimbursement takes too long to get accepted in the next cycle but are then accepted in the one after?

I don't think there will be a big change i

[2022-03-19 22:36] pazza83 commented on #367
I agree, I opened another issue at the same time as this one:
[Have a clearly defined process for how users with accepted DAO reimbursement requests can trade with Burning Man](https://github.com/bisq-network/proposals/issues/366)

It would be great to have your input on this proposal also :)

I think I proposed reimbursed users should have 1 cycle to trade with yourself following their reimbursem

[2022-03-19 22:40] pazza83 commented on #367
The 30 day weighted average is rolling so ,therefore, BSQ price can still increase by more than 20% each month.

[2022-03-19 22:57] ghubstan commented on #367
It is too vague for me to give a thumbs up.  It is the only issue blocking my approval of the proposal.  The term recommended can mean never.

[2022-03-19 23:08] pazza83 commented on #367
Hi @burningman3 would you be happy to announce at least 50% of the times prior to you choosing to trade?

[2022-03-20 08:04] Conza88 commented on #370
What can be done in Bisq 1 that would allow that, get it over the line? If I and a few others threw some more money at it?

I am not necessarily directly interested in OCO; but whatever can get the job done as end result:

- Buyers/sellers can put in offers in their local markets; in whatever methods they like, and also in other markets. At the same time.

I would have thought when one is taken; i

[2022-03-20 17:12] burningman3 commented on #367
50% announce sounds ok.

How can the burning man verify which transactions belong to what reimbursement case? I don't think it will work to say the burning man should track all reimbursement cases to check which outputs to keep and which not to keep. Right now there is one 2.6 BTC transaction that has not been claimed for reimbursement, some of which I will trade over the coming trade events. The

[2022-03-20 18:32] pazza83 commented on #367
Great, I have edited the proposal above to include this. Hopefully now @ghubstan can turn give it a thumbs up.

I do not think verification is needed. The fact that the user has has a reimbursement accepted by the DAO means they would be eligible to do a direct trade with yourself. The funds used to reimburse they are not required to be from their original deposit transaction / donation address pa

[2022-03-20 19:53] refund-agent2 commented on #367
1 cycle to trade with Burningman is a lot, 2 trade events is more than enough. Window opportunity for option trading needs to be minimal.

0.8 is an estimation for the end of the cycle, now I have spent 0.679. 0.679+2.6=3.279.
The 2.6 UTXO is from late november.

[2022-03-20 21:27] pazza83 commented on #367
Ok, would you be happy with the same terms as partially refunded traders? Have 2 trade events to arrange a direct trade with Burning Man post your reimbursement being accepted?

[2022-03-21 00:08] pazza83 commented on #371
Long term I would like to see BSQ on other exchanges. For the moment however I think it is a not ready yet, maybe the numbers below would need to be at least 10-20 times higher:

Current numbers taken from DAO section:

- BSQ market cap: $4,760,840
- Number of BSQ trades per month: ~ 200
- Trade volume of BSQ trades per month: ~ $200,000

I think if BSQ grows organically then listing on other exch

[2022-03-21 16:07] refund-agent2 commented on #367
Yes, I am fine with it.

[2022-03-22 00:33] #363 closed, assigned to Emzy

[2022-03-24 03:32] apemithrandir commented on #365
I like having the option to pay fees at a discount and we certainly need something like that to remain competitive. I will say, it took my a little while to realise that I could pay in BSQ and then swap some BTC for BSQ to do as such. Embarrassingly it also took me longer to realise that maker fees were a small fraction of taker fees.

The lowest fees possible of a maker paying fees in BSQ, 0.12%*

[2022-03-24 08:02] chimp1984 commented on #365
Good points! I think we also have to consider that new users are mostly Fiat traders with low amounts, so higher fees there will not make a lot of difference in revenue but high fee % might turn off new users. A better strategy might be to try to get better fee rate from the large volume traders. They will benefit currently by being maker and paying in BSQ and with higher amounts the share of mine

[2022-03-24 09:31] apemithrandir commented on #365
Trying to charge a higher fee to large volume traders can be tricky:
- They are engaging in high volume purely to make a profit (as a market maker)
- They will respond by widening their bid-ask spreads to reflect the increased fees
- Wider spread means less trades
- This can lead to a drop in taker fees and overall fee revenue

CEX's often waive fees for high volume traders (market makers) all tog

[2022-03-24 10:38] flix1 commented on #365
Very good points @apemithrandir. Looking at fees charged by the competition is essential.

[2022-03-24 13:23] MwithM commented on #365
it worries me that @apemithrandir didn't know about trading fee structure and derivations.
Any regular trader (to me, that's anyone planning to do at least 1 trade per week) should use BSQ and the incentives to do so are already there. But they need to know they have this option, otherwise they will just fly away, or not coming.

A red, simple "use BSQ to pay less trading fees" popup should appear

[2022-03-24 13:45] MwithM commented on #365
Another consequence of the trading fee structure is that at markets with good volume, negative spreads should be the norm. We are almost there, the outlier is a F2F offer which is on a particular market on it's own, but here on EUR we have a -0.1% spread.
![image](https://user-images.githubusercontent.com/50149324/159929285-e89e0b41-a1d5-40ae-bdb0-6052b804e188.png)

[2022-03-24 13:46] apemithrandir commented on #365
I did a few offers without knowing and then figured it out. Though I also had to do the extra step of acquiring some BSQ. Maybe a link to the BSQ market from the offer page would help with this (though not completely necessary)?

I also found I had to end up buying way more BSQ than I needed due to the min sizes on the BSQ market. Like if a pleb is stacking a few hundred $'s per week they only nee

[2022-03-24 14:03] clearwater-trust commented on #365
What is going on here?
https://github.com/bisq-network/bisq/issues/4579

[2022-03-24 15:17] MwithM commented on #365
Yes, buying small amounts of BSQ is still an issue, although it has improved a lot since BSQ swaps.

[2022-03-27 16:15] apemithrandir commented on #365
For the last 3 days as an experiment I started showing offers in small size in BSQ, and I've managed to trade around 10 times as a maker. These trades have been mostly against unique counterparties, so supports the idea that they are people just looking to get a minimum amount of BSQ for access to lower fees on BTC trades.

This has been fully manual but if I spend a few dozen hours on the [API](h

[2022-03-28 10:33] ripcurlx commented on #365
This is already implemented. You only see it if you don't have enough BSQ to pay the trading fee at hand.

EDIT: I just checked the code and tested it and it seems it doesn't work as expected right now 🤦 .

It should look like this

<img width="852" alt="Bildschirmfoto 2022-03-28 um 12 30 12" src="https://user-images.githubusercontent.com/170962/160380157-7f5103af-f34f-461e-a5d2-d4b402cb3455.png">

[2022-03-28 10:36] ripcurlx commented on #365
It did work for create offer as expected, but not for take offer.

[2022-03-28 10:47] ripcurlx commented on #365
https://github.com/bisq-network/bisq/pull/6121

[2022-03-28 14:17] MwithM opened #372 "BSQ trading fee update for Cycle 34"
_This proposal keeps a record of the [process](https://bisq.wiki/Updating_BSQ_trading_fees) to keep the BSQ trading fee at the target discount to BTC trading fee. It will remain open until we need to update BSQ trading fees again._

Last update was #357

I did a mistake and an update was required for Cycle 33, thus the extreme discount and fee raise now.

## Cycle 34
**Parameters** ([see issue](ht

[2022-03-28 14:18] MwithM commented on #357
Closed as an update is required.

[2022-03-28 14:18] #357 closed, assigned to MwithM

[2022-03-29 09:45] MwithM commented on #372
Maker: 6598e3d26925951e04184c5e19522b48ce5f7cd6c607b2f3f2ff8eb9227d88af
Taker: 8394570a7e7df1755c6556c9ab3802b44296e61c042a053b3bd8428e97c290c5

[2022-04-07 15:23] MwithM commented on #372
Proposal was rejected due to lack of quorum, parameter changes need at least 100.000BSQ to be accepted.

[2022-04-07 15:23] #372 closed, assigned to nobody

[2022-04-07 18:58] ripcurlx commented on #372
Damn - I missed the voting this time because of personal issues 🤦

[2022-04-10 03:18] bwusth commented on #153
December 2019.....?     Listing of new cryptocurrencies has been "on hold" since December 2019....!?    Is Bisq still being actively developed or is it a dead project?

I agree with the suggestion that users should be able to add assets themselves. The assets "added" by the most active users.... automatically get added.  Period.  That would be truly decentralized.

Any news about new DEXs or forks

[2022-04-10 08:38] MwithM commented on #153
Since this hold in new assets was approved, I remember that L-BTC, R-BTC and USDT have been added as exceptions. None of them had much liquidity.
Bisq focus is fiat-btc, listing a myriad of coins won't be very useful for Bisq.
The system Bisq had in the past consumed developers time with no benefits for Bisq, listing coins that weren't traded at all.

[2022-04-10 09:20] bwusth commented on #153
Perhaps listing altcoins doesn't "benefit Bisq" (whatever and whoever that means), but it would clearly benefit bisq USERS --- like me and my friends.   The more coins available on Bisq, the easier it is to promote and recommend Bisq.   Not everything is about trading fees directed to some centralized authority.

Why not allow users to add coins themselves... through the app itself.  Once that abi

[2022-04-10 09:24] bwusth commented on #166
Today is Sunday, April 10, 2022.

The adding of cryptocurrencies seems to be "on hold" PERMANENTLY.

Correct?

[2022-04-10 14:52] MwithM commented on #153
I want that those who propose a coin to have skin in the game. So if someone adds a coin, it needs to generate trading fees, otherwise it's clearly not useful for Bisq or anyone, except maybe for those who can say that their alt is listed somewhere.
My idea on this issue stated that maybe this trading fees should be reimbursed, as I said on this [comment](https://github.com/bisq-network/proposals/

[2022-04-10 15:06] MwithM commented on #153
Please read [about the DAO](https://bisq.wiki/Introduction_to_the_DAO), it looks like you have no idea about the amount of effort it took developers to create a DAO that can work on Bitcoin to reduce the main central point of failure, which is distributing revenue.
Before the DAO existed, they worked for no profit to develop a platform that works to trade BTC for fiat. Once the product was good en

[2022-04-10 15:42] bwusth commented on #153
Most people into crypto investing these days hold more than one cryptocurrency.  The days of it being one-and-only-one almighty Bitcoin... are over... like it or not.  But Bitcoin is still the predominant gateway tool used to buy all of the myriad of newer better competitors out there.  So on one hand, I think that it's very shortsighted to basically censor all new coins on the Bisq platform....

[2022-04-11 15:37] bwusth commented on #153
"alts are welcome" --- Yet they can't be added by users?

"dislike Bitcoin" --- huh?  If you want an alt then you dislike Bitcoin?

[2022-04-11 19:31] pazza83 commented on #368
Closing as approved:

Tagging in @refund-agent2, @burningman3 so they can see to up their compensation requests

[2022-04-11 19:31] #368 closed, assigned to leo816

[2022-04-11 19:42] pazza83 commented on #369
Closed as approved and updated the relevant wikis:

- https://bisq.wiki/Making_a_reimbursement_request
- https://bisq.wiki/Fee_Reimbursement_Agent

[2022-04-11 19:42] #369 closed, assigned to pazza83

[2022-04-11 19:47] pazza83 commented on #367
Approved but will leave open for comments until the relevant wiki pages have been completed and users have a change to comment.

Will post wiki links below when complete.

[2022-04-27 18:13] stejbac opened #373 "Three-party lightning escrow trade protocol for Bisq 2"
### Introduction

In the last part of https://github.com/bisq-network/proposals/issues/312, a lightning-based trade protocol was outlined that used _garbled circuits_ and a third party (escrow agent) to hold the traders' BTC escrow in a way that is arguably non-custodial, with similar security properties to Bisq's current on-chain escrow protocol, which we attempt to abstract below. Unfortunately,

[2022-04-28 21:07] chimp1984 commented on #373
Great thanks for the detailed and well explained write-up!

Regarding:

For Bisq 2 we intend to either use OpenTimeStamp or run such a service ourself for timestamping data like identity creation time (used for reputation purposes). The currently intended use cases do not require a fine grained timestamp (roughly 1 day is good enough) but if we have use cases like in this protocol where a timestam

[2022-04-29 10:56] MwithM opened #374 "BSQ trading fee update for Cycle 35"
_This proposal keeps a record of the [process](https://bisq.wiki/Updating_BSQ_trading_fees) to keep the BSQ trading fee at the target discount to BTC trading fee. It will remain open until we need to update BSQ trading fees again._

Last update was #357

## Cycle 35
**Parameters** ([see issue](https://github.com/bisq-network/proposals/issues/289))
* USD/BTC price: 38700
* USD/BSQ price: 1.24
* Cur

[2022-05-01 11:17] MwithM commented on #374
BSQ trading fee maker change parameter proposal: b22b37a78733fb8e6d1a465537ba54cf2b24b0325b203b00c7ad789fa3c6c9fe
BSQ trading fee taker change parameter proposal: 143afdef6a318135f70c91d7dc57a88addf574766c15819b93c2d21cd3784ea5

[2022-05-01 12:07] ghost commented on #374
@mwithm the new BSQ taker fee should be 109.86, not 124.84.

[2022-05-01 20:54] pazza83 commented on #371
Closing as rejected.

[2022-05-01 20:54] #371 closed, assigned to leo816

[2022-05-02 10:30] Emzy commented on #189
We removed your node because is was a old tor onion v2 address.
Would you like to provide a tor onion v3 address and get added again?

[2022-05-02 17:35] MwithM commented on #374
I'm sorry, I copied the total trading fee instead of the taker trading fee.
It was not a simple typo and the proposals sent are wrong as well. Taker would be paying a higher amount than the desired, and total discount would be too high.
I think that both proposals should be rejected.

[2022-05-09 09:19] MwithM commented on #374
Closed as rejected.

[2022-05-09 09:19] #374 closed, assigned to nobody

[2022-05-09 10:12] sqrrm commented on #373
@stejbac An interesting and rather heavy read. First I have to admit I'm not up to speed on lightning payments, having only read the white paper when it came out and tidbits here and there over the years so excuse my ignorance on that side of the protocol.

1. With that lack of understanding in mind, could you expand on how the delayed payments are safe? Don't they depend on the liquidity on the p

[2022-05-09 10:33] chimp1984 commented on #374
In such cases I suggest to send out at all our communication channels the information to that it does not get voted ok by accident.

[2022-05-14 15:16] Conza88 commented on #288
Status: Closed?

[2022-05-16 03:53] stejbac commented on #373
@chimp1984 Yes, the timestamp creation would be for exceptional circumstances. I don't think block granularity is strictly necessary though - probably granularity of a few hours would be OK. Also, the timestamp would need to somehow certify that the data was actually published to the P2P network before a given time (and thus made available to all the trade parties) and not simply created at a give

[2022-05-18 17:50] w0000000t opened #375 "Add statement about "every BTC is fungible at Bisq" on the wiki"
As a follow up to an event unfolded in the matrix chatrooms, and dealt with in mediation, we felt a good idea to officially state what has been true on Bisq since practically forever, that is, we don't discriminate between utxos, and every coin is fungible on our platform.

This is a mock-up of what I think could be added in a prominent (to be decided) place of the wiki, to both make a clear state

[2022-06-01 15:09] MwithM opened #376 "BSQ trading fee update for Cycle 36"
_This proposal keeps a record of the [process](https://bisq.wiki/Updating_BSQ_trading_fees) to keep the BSQ trading fee at the target discount to BTC trading fee. It will remain open until we need to update BSQ trading fees again._

Last update was #374

## Cycle 36
**Parameters** ([see issue](https://github.com/bisq-network/proposals/issues/289))
* USD/BTC price: 31.100
* USD/BSQ price: 1.05
* Cu

[2022-06-01 16:15] MwithM commented on #375
I'm not even sure that this is a valid proposal, meaning that I don't see a relevant change on how Bisq works. From the [wiki](https://bisq.wiki/Proposals):

But as it's something that might be good to discuss, I find that all BTC at Bisq are valid BTC as long as they follow the Bitcoin protocol. I might have even stated something like that at Bisq's twitter Spanish account.
How to spread this is

[2022-06-01 16:55] w0000000t commented on #375
@clearwater-trust would you mind explaining your thumbs down?

Everyone: the penalty thing, is not by any means a "punishment", but rather just a consequence of canceling a started trade, as the cancel "because of tainted utxo" is not recognized a valid reason.
I am editing the OP to account for this, and try if possible to make the statement even shorter.

[2022-06-01 17:44] MwithM commented on #376
Maker: a63817f4ab43a16ac917b8b708f1d6431906c03436dd2c1a8ea6583ec9027b61
Taker: 00f042819254999416b154f5cf345a90c5fb9d0aed0d3a47ae9cc4e64930ba37

[2022-06-01 18:47] clearwater-trust commented on #375
Thank you. I believe marking every bitcoin trade with a disclaimer about tainted, non-fungible, sanctioned, blacklisted, whitelisted, velvet utxo's on the transparent bitcoin blockchain is unnecessary and some kind of primordial spark (that Bisq should steer clear of)-- A TOS disclaimer nightmare of chain analysis back looking.

ALL SALES FINAL. If they cancel the trade, they pay the fee.  No addi

[2022-06-01 19:26] chimp1984 commented on #375
I think that is not needed and just might add unwanted legal risk exposure. Also the "KYC is the illicit activity" statements is nice but might carry uncertain legal risks and it should be avoided to expose Bisq to such by adding it to any "official" resource.

[2022-06-01 20:39] w0000000t commented on #375
thank you for explaining, this is appreciated.
So yes, a true bitcoiner doesn't need to even state what's in the OP, it is obvious and arguably offensive to the intelligence of other bitcoiners to have to read it.
The user base of Bisq is very diverse though, and many buyers will start their noKYC journey without our prior "beliefs", I feel we should be welcoming to them, so they can be with the n

[2022-06-04 15:23] Conza88 commented on #375
"As a follow up to an event unfolded in the matrix chatrooms, and dealt with in mediation"

What exactly was discussed? '

How often has that been raised in the last several years?

[2022-06-05 00:51] Conza88 commented on #288
How to get this into Bisq 1...

[2022-06-05 11:44] w0000000t commented on #375
a user complained the source for the security deposit of the btc they were buying, didn't pass their chainalysis test, as they didn't like the place that utxo came from, so they expected to cancel with no penalty. Canceling is always possible, but unless something in the rules has been violated by the counterparty, it will always come at a cost in the form of a penalty.

I know of just this case.

[2022-06-06 13:52] wiz commented on #343
[wiz](https://github.com/wiz) commented [on Oct 29, 2021](https://github.com/bisq-network/proposals/issues/343#issuecomment-954364311)

In response to your feedback, we've recently added a new "no priority" fee rate suggestion on mempool.space. The way it works is very similar to the current mechanism I described above in the Bisq pricenodes, using 2x the "minimum fee", however in cases where the

[2022-06-06 14:22] chimp1984 commented on #343
Sounds ok for me.

[2022-06-10 21:09] MwithM commented on #376
Update rejected due to lack of quorum.

[2022-06-10 21:09] #376 closed, assigned to nobody

[2022-07-04 10:44] MwithM opened #377 "BSQ trading fee update on Cycle 37"
_This proposal keeps a record of the [process](https://bisq.wiki/Updating_BSQ_trading_fees) to keep the BSQ trading fee at the target discount to BTC trading fee. It will remain open until we need to update BSQ trading fees again._

Last update was #376

## Cycle 37
**Parameters** ([see issue](https://github.com/bisq-network/proposals/issues/289))
* USD/BTC price: 19700
* USD/BSQ price: 0.84
* Cur

[2022-07-04 13:10] AdityaReynara opened #378 "Marketing Proposal"

[2022-07-06 16:34] MwithM commented on #378
This proposal is too shady and lacks of concretion, lacks of knowledge of how Bisq works.
@pazza83 I think it should be closed as incorrect.

[2022-07-28 22:33] MwithM opened #379 "Increase BSQ trading fees to 0.5% of trade amount"
A review of trading fees is needed. Last change was in #365, more than 3 cycles ago.
Last increase in BTC trading fees seemed irrelevant either on total trading volume or ratio of BSQ usage (see comptroller [reports](https://github.com/bisq-network/roles/issues/111#issuecomment-1094508003)). Bisq should keep increasing trading fee % at a steady pace until total average trading fee reaches to the 0

[2022-08-01 18:27] pazza83 commented on #379
I agree, the last three cycles 'Total fees paid as a percentage of revenue' with BSQ at a 60% discount are:

- 0.63%
- 0.66%
- 0.65%

Reducing the BSQ discount back to 50%? will get the 'Total fees paid as a percentage of revenue' closer to the [0.8% goal](https://github.com/bisq-network/proposals/issues/365).

I will monitor over the next few cycles once this change takes effect.

[2022-08-01 18:29] #378 closed, assigned to AdityaReynara

[2022-08-01 18:32] pazza83 commented on #375
Closing as not sure it meets requirements of proposal and there is some disagreement

[2022-08-01 18:32] #375 closed, assigned to w0000000t

[2022-08-06 20:07] MwithM commented on #379
## Cycle 38
**Parameters** ([see issue](https://github.com/bisq-network/proposals/issues/289))
* USD/BTC price: 23200
* USD/BSQ price: 0.81
* Current BSQ discount: 64.3%

![image](https://user-images.githubusercontent.com/50149324/183264465-ab798ffe-a398-41ad-a53f-338c51067feb.png)
![image](https://user-images.githubusercontent.com/50149324/183264475-16825360-4099-4b4d-87b2-2db040e821d0.png)

It's

[2022-08-06 20:08] MwithM commented on #377
Closed as new parameters using 50% discount rate are proposed on #379

[2022-08-06 20:09] #377 closed, assigned to MwithM

[2022-08-07 10:56] MwithM commented on #379
Maker: f9896911af82ba4e542454f3036948ad071273e2ae897bdb7513556c8947d4b3
Taker: 6dbb76aa73848cabd21408948f2e44bde51c618cd74871dac7d5397016918360

[2022-08-16 08:22] MwithM commented on #379
Closed as approved.
[Trading fees](https://bisq.wiki/Trading_fees) wiki page has been updated.

[2022-08-16 08:22] #379 closed, assigned to MwithM

[2022-08-17 11:15] ripcurlx commented on #379
Filter was updated.

[2022-09-04 23:26] pazza83 commented on #367
I have updated the [Donation Address Owner - Bisq Wiki](https://bisq.wiki/Donation_Address_Owner) to reflect the agreements in this proposal.

[2022-09-04 23:26] #367 closed, assigned to pazza83

[2022-09-04 23:26] pazza83 commented on #366
I have updated the [Donation Address Owner - Bisq Wiki](https://bisq.wiki/Donation_Address_Owner) to reflect the agreements in this proposal.

[2022-09-04 23:26] #366 closed, assigned to pazza83

[2022-09-04 23:28] pazza83 commented on #359
Closing as stalled

[2022-09-04 23:28] #359 closed, assigned to chimp1984

[2022-09-04 23:29] pazza83 commented on #362
Closing as approved.

[2022-09-04 23:29] #362 closed, assigned to UX-P

[2022-09-04 23:29] pazza83 commented on #364
Closing as stalled.

[2022-09-04 23:29] #364 closed, assigned to w0000000t

[2022-09-04 23:30] pazza83 commented on #370
Closing as stalled.

[2022-09-04 23:30] #370 closed, assigned to apemithrandir

[2022-09-05 08:56] MwithM opened #380 "BSQ trading fee update on Cycle 39"
_This proposal keeps a record of the [process](https://bisq.wiki/Updating_BSQ_trading_fees) to keep the BSQ trading fee at the target discount to BTC trading fee. It will remain open until we need to update BSQ trading fees again._

Last update was #379

## Cycle 39
**Parameters** ([see issue](https://github.com/bisq-network/proposals/issues/289))
* USD/BTC price: 1900
* USD/BSQ price: 0.84
* Curr

[2022-09-06 13:37] MwithM commented on #380
Maker: f7cbd6161acf2da00bd694db98243a98cd3ffa1874a6b503af48a7655ecd4a3d
Taker: 589574a9973463b0b14ef6b87cd7fec2f4704bab8142fa2411780037b90bfc0e

[2022-09-18 04:30] ghost commented on #352
Please see https://github.com/jmacxx/WIP/tree/master/bisqTxChecker -- a python script that checks trade fee txs from 2020 onwards and lists any multisig deposits that have not paid out.  It also attempts to produce statistics related to the questions posed above.

### Results:

https://github.com/jmacxx/WIP/blob/master/bisqTxChecker/report.txt

### Summary:

    268359 fee payment txs analyzed

[2022-09-21 00:54] pazza83 opened #381 "Proposal to mitigate abandoned trade multisigs"
### References

- [Proposal to analyze blockchain data of Bisq trades to report on failed trades, arbitration instances and long-term locked funds #352](https://github.com/bisq-network/proposals/issues/352)
- @jmacxx's [python script and report](https://github.com/bisq-network/proposals/issues/352#issuecomment-1250188550) to action the above proposal

### Background

This proposal is a result of t

[2022-09-21 01:41] chimp1984 commented on #381
I consider that a risky change which changes the control about the delayed payout tx. It adds risk to the Refund Agent as they could publish the tx without the consent of the traders. Also I think the proof will be very difficult for those cases where both users have lost control over their app data. Also it would decrease privacy as each trade would send that message to the Refund agent. Now only

[2022-09-21 02:15] pazza83 commented on #381
Many thanks for the comments.

I am not able to respond to the privacy concerns as it goes beyond my understanding. Is there an alternative way to achieve the outcomes and mitigate these concerns?

With regards to the comments on risk of the to the Refund Agent. Whilst true they could publish the delayed payout transaction without the consent of the traders this would only be the case where both t

[2022-09-21 02:41] chimp1984 commented on #381
Re privacy:
The delayed payout tx contains the MS address and that the inputs of boths traders. So if the RA gets all those txs it becomes a honey pot for tracking all trade txs.

If that is the case we should try to make a more solid dump of the delayed payout tx. I think its stored already, but maybe that can be improved. If not I doubt that sending the tx would be more reliable (storing to disk

[2022-09-21 02:50] pazza83 commented on #381
Yes, this was also proposed as a solution. I think there was a discussion around possible cloud storage and if that could be made safe.

Storing to a local disk at the time of trade might not give much protection if there is a hardware failure as it would reply on a backup being made post trade. I suppose a separate local disk could be used but this might not be an option for some traders.

[2022-09-21 04:29] chimp1984 commented on #381
After more discussion with @pazza83 I agree that sending to the RA might be the best option.
Its mainly for the case where the user has lost access to their data directory but has their seed words, and with that they can proof that they have been part of the trade.

[2022-10-04 09:00] MwithM commented on #380
New trading fee was accepted, but updating filters to new parameters caused some trades to fail.

If BSQ trading fees are less frequently updated, these inconveniences will also be reduced.
The range to update trading fees will be increased from 45-55% deviation to **40-60% deviation**. [Wiki](https://bisq.wiki/Updating_BSQ_trading_fees#Determine_new_BSQ_fees) will read like this:
"If existing BSQ

[2022-10-05 19:04] MwithM commented on #380
_This proposal keeps a record of the [process](https://bisq.wiki/Updating_BSQ_trading_fees) to keep the BSQ trading fee at the target discount to BTC trading fee. It will remain open until we need to update BSQ trading fees again._

Last update was #379

## Cycle 40
**Parameters** ([see issue](https://github.com/bisq-network/proposals/issues/289))
* USD/BTC price: 20300
* USD/BSQ price: 0.76
* Cur

[2022-10-05 19:16] MwithM commented on #380
The reason to submit a change parameter proposal is to vote the change in a formal manner. Perhaps this change was not controversial and a DAO voting is not necessary and it would not be necessary if I did realize that we were so close to the end of proposal phase.
Anyways, the worse that could happen if the change parameter gets approved instead of rejected is that the discount will be back to th

[2022-10-07 16:35] ghost commented on #381
Here is my design outline which uses Bisq P2P storage for saving encrypted delayed payouts.  Only the user that created it can decrypt it, so it is safe from (a) custody issues, and (b) tampering.

I'd like to get feedback before continuing dev.

---

### Design spec for Delayed Payout TX backup

**What this solves:**

* See https://github.com/bisq-network/proposals/issues/352 and https://github.c

[2022-10-08 08:52] MwithM commented on #380
### These proposals must be rejected!

Maker BSQ fee: b9ec0cbe0105fb5368a8ee1642382698263b0de3db0fac3b5ce261aa78074ab8
Taker BSQ fee: c3ddab5ee202b3bba2390e3a04a81525fe3d0c895f58c249726f7bf3df7db85d

By rejecting these proposals, Bisq will start to use wider ranges to update BSQ trading fees, from current 45-55% discount to 40-60% discount.

[2022-10-08 14:02] gabernard opened #382 "Application for Github Admin Role"
Hello! I would like to become a Github Admin.

[2022-10-08 14:15] gabernard commented on #382
f22a084457a2632a25b746b6a690360c8083fb82322b58a311079b690b42840c

[2022-10-08 16:42] alvasw commented on #381
This is in general a good idea and Ilike this proposal. Thank you for taking your time to plan it! :+1:

However, how are we protecting the network against a denial of service attack (a user publishing 1,000,000 "backups")?

Comments:

This scheme does not provide forward secrecy. If a user ever restores one backup the mediator/arbitrator can access all previous and future "backups".

Do you want

[2022-10-09 12:42] w0000000t commented on #381
For what my opinion is worth, since I am not able to review the code myself but just the outline in your post, I like the feature now even more than how I liked it when you described it during our support call.

[2022-10-10 15:53] ghost commented on #381
Thanks for the comments!

Re: _spamming one million records_ -- There is no protection in place for existing record types like TempProposalPayload, OfferPayload etc.  I checked this in regtest.  Seems it is a systemic issue that needs to be addressed separately.

Re: _forward secrecy_ -- Most users could be guided through the recovery without having to divulge their passphrase, the same way they a

[2022-10-16 16:51] MwithM commented on #380
It was close, but proposals were rejected.

Trading fees stay at previous levels (maker 14.21, taker 104.24) and the range to update the trading fees is increased to 40-60% discount.

Wiki has been [updated](https://bisq.wiki/index.php?title=Updating_BSQ_trading_fees&oldid=3029).

[2022-10-16 22:17] pazza83 commented on #382
Hi @gabernard welcome to being a Bisq contributor. Your proposal to be a Github Admin was accepted by the DAO in cycle 40.

Please see below the process for what happens next now your proposal has been accepted:

https://bisq.wiki/Roles#Processes

[2022-10-16 22:17] #382 closed, assigned to gabernard

[2022-10-18 14:42] alvasw commented on #381
Ok, I thought that there is some TTL or size limit.

That's smart! GPG uses hybrid encryption with a public key. We could use the EC MultiSig key of the trade. This key is derivable with the seed.

[2022-10-20 19:01] HenrikJannsen opened #383 "Distribute BTC trade fees to contributors"
## Overview
This proposal is a part of a series of proposals to remove <strike>or reduce</strike> the role of the donation address receiver (Burningman).
It covers the part of the BTC trade fees only. The other part (the payout from the delayed payout transactions in case when the traders open an arbitration case) will be handled in a [follow up proposal](https://github.com/bisq-network/proposals/

[2022-10-20 23:26] HenrikJannsen commented on #383
Here some rough estimations how that new model would change payments based on revenue numbers from the DAO charts:

BSQ trade fees: 15k / month
BTC trade fees: 50 / month
Compensation requests: 25k / month

Those numbers are based on 3-6 months averages of the past 12 months.

Lets assume that 10 contributors earn 2500 BSQ/months and half of them use the model with full BSQ payment (model 1) and t

[2022-10-22 20:24] HenrikJannsen commented on #383
Unfortunately we cannot use the BTC wallets address in case the contributor has not setup a custom receiver address.
When we derive the address from the inputs of the compensation request transactions we do not have the spending transaction which would be needed to get the output and dereive the address from that. We have though all the BSQ transactions and can use the BSQ input. By using that the

[2022-10-24 15:38] devinbileck commented on #383
Overall, I like the idea. My biggest concern is address reuse. If we want to attract privacy concerned contributors, it may be a point of concern. Though I am not sure if there is anything that can be done, other than perhaps implementing something like BIP-47 payment codes.

[2022-10-24 20:38] HenrikJannsen opened #384 "Require the DAO is enabled for traders"
To reach the goal to remove the role of the Burningman we propose the distribution of trade fees (https://github.com/bisq-network/proposals/issues/383) and the distribution of the funds from the delayed payout transactions of trades ending up in arbitration (proposal not published yet) to contributors based on their contribution requests. This require that the traders have the DAO data available.

[2022-10-24 20:39] HenrikJannsen commented on #383
I fear that would add too much complexity. Also it would still be easily detectable that its a fee payment as structure of the Bisq trade transactions creates a fingerprint.

[2022-10-24 20:40] HenrikJannsen commented on #383
[Here](https://github.com/bisq-network/proposals/issues/384) is proposal to enforce users to have the DAO activated. By that we do not need the fallback to the BM address and can remove the BM completely.

[2022-10-25 10:11] flix1 commented on #383
I totally agree with the idea of distributing fees to contributors. I am just concerned that I don't fully understand this mechanism.

In fact, now that the DAO is profitable, I believe that contributors should _only_ be paid from what is earned each month in user fees.

My point is: what would be the simplest mechanism to **automate** this distribution?

[2022-10-25 10:26] flix1 commented on #383
OK... how about this. Fees are distributed among bonded roles in proportion to the size of the bond.

That way the DAO does not have to vote on individual compensation requests each cycle... Only on rejecting or accepting bonded roles.

That would mean one or two real votes each cycle... instead of 20 votes per cycle...

![image](https://user-images.githubusercontent.com/4233784/197750101-5e0363b1

[2022-10-25 10:48] flix1 commented on #383
OK. I agree with most of this.

I agree with distributing fees. Agree with the 1.5 yr weighting. Agree with custom receiver address. Agree with reduced BSQ payment option. Agree with probabilistic mechanism so that fee goes direct to contributor automatically.

[2022-10-25 16:22] DanConwayDev commented on #383
I'm coming from the perspective of a dev, new to the space and looking for a project to get involved with.

Getting compensated directly in satoshis out of transaction fees is a really attractive model. Doing it probabilisticly based on the value of the contribution tailing off overtime sounds like a good way of doing it. Perhaps there is a more privacy preserving approach than reusing addresses?

[2022-10-25 16:42] flix1 commented on #383
Hi Dan. I think that reusing addresses is a bit inevitable over the length of one cycle... but It would be trivial to change address each cycle when the compensation requests are approved by the DAO. I can imagine a more privacy-preserving option is possible using addresses generated from the same seed...

I think that the incentive to grow volume is huge compared to the incentive to fight over a

[2022-10-25 17:48] HenrikJannsen opened #385 "Distribute the funds from the delayed payout transaction to contributors"
## Overview
We propse to distribute the funds from the delayed payout transaction (DPT) to the contributors who have been active in the past 1.5 years and who have earned more than 500 BSQ (per compensation request). We distribute the output value based on the weight of the accumulated contribution request amounts. Contributors who have worked more wil receive more. As the number of those items is

[2022-10-25 18:23] HenrikJannsen commented on #383
Thanks for feedback. Good to see that its attractive to new contributors!

Yes in the worst case it could increase unpleasant or even hostile competion. In the best case it improves the self-management of the DAO. Bisq is largely un-managed and that comes with some problems. Atm the incentive to step in if a contributor asks for too much is low, as the costs are distributed to all BSQ stakeholders

[2022-10-25 18:28] HenrikJannsen opened #386 "Do not pay out the security deposit of the trade peer to the arbitration case winner"
At the moment the winning party receives next to its own loss also the security deposit of the peer (minus a arbitration fee in some cases).
The proposal or removing the burningman would have more open risks is we keep that model. Therefore that proposal suggests to alter that model to not pay out the security deposit of the peer.

The details about the potential abuse scenarios where this aspect

[2022-10-25 18:46] HenrikJannsen opened #387 "Reduce the max. trade amount for altcoins to 0.5 BTC"
Currently the max. trade amount for altcoins is 2 BTC.

For improving the distribution of funds from the delayed payout transaction (see https://github.com/bisq-network/proposals/issues/385) and mitigating risks this proposal suggest a reduction of the max. trade amount to **0.5 BTC**.

There will be 2 more proposals with a higher and lower amount and the DAO should decide by voting which is the m

[2022-10-25 18:48] HenrikJannsen opened #388 "Reduce the max. trade amount for altcoins to 1 BTC"
This  proposal suggest a reduction of the max. trade amount to **1 BTC**.

See https://github.com/bisq-network/proposals/issues/387 for more context.

[2022-10-25 18:48] HenrikJannsen opened #389 "Reduce the max. trade amount for altcoins to 0.25 BTC"
This  proposal suggest a reduction of the max. trade amount to **0.25 BTC**.

See https://github.com/bisq-network/proposals/issues/387 for more context.

[2022-10-25 20:06] DanConwayDev commented on #383
@flix1 and @HenrikJannsen you both make good points about the model.

@devinbileck suggestion of using BIP-47 payment codes to avoid address reuse is a good one. Perhaps if it was optional, I have not looked at how difficult this would be to implement.

[2022-10-26 17:31] w0000000t commented on #385
Regarding the ignoring of CRs below 500BSQ, from a support agent's stance, as long as the BSQ value is this low, that will not constitute an issue; when BSQ value will go above 1.2USD for 600USD CRs, this will definitely constitute an issue.
A workaround could be to group CRs by skipping one cycle, so roughly every two months there will be a double-amount CR, which will be over 500BSQ.
Can it be a

[2022-10-26 21:29] Conza88 commented on #387
Any reason you don't indicate the cons?

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: HenrikJannsen ***@***.***>
Sent: Wednesday, October 26, 2022 5:47:04 AM
To: bisq-network/proposals ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [bisq-network/proposals] Reduce the max. trade amount for altcoins to 0.5 BTC (Issue #387)

Currently the max. trade amount

[2022-10-27 05:02] HenrikJannsen commented on #385
Maybe that limit is not needed at all anymore. Will post soon an update and the risk scenarios to see if there are still risks.

[2022-10-27 05:20] HenrikJannsen commented on #385
I started implementing it and a few details have changed to the initial description.

The taker sends the hash of the issuance list sorted by TxId to the maker at the offer availability request. The maker verifies if they have the same hash, if not the request fails.

At the first take offer message the taker sends again the hash as well as stores the issuance list in the trade process model. The

[2022-10-27 06:54] w0000000t commented on #385
For added security, could it be possible to pass to the arbitrator the stored issuance list, and have arbitrator also build the DPT to verify it matches? I suppose it needs to be done in a trustless way though, since someone altering code would cover for that as well?

In general, while removing outputs <5000sats is undoubtedly a sane choice, as the cost for those at 10sat/vB would be 310sats amou

[2022-10-27 15:54] HenrikJannsen commented on #385
Yes thats an interesting idea. I need to look into the code to see whats the best option there.

But maybe I'm just overthinking this.

You mean to remove or lower the 5000 sat limit?
I guess the amounts are so tiny and DPTs are not happening that often, atm i guess 30/months. So I doubt ppl who fall into that limit would do much extra effort like bundling CRs to receive a few bucks... But nothing

[2022-10-27 17:45] pazza83 commented on #385
Who pays the fee? Is it the taker at the time or taking the offer or is the fee taken from the amount in the multisig prior to sending to the contributors?

[2022-10-27 19:07] HenrikJannsen commented on #385
Its taken from the MS output.

[2022-10-27 20:09] w0000000t commented on #385
I could be making wrong assumptions because I miss real case scenarios... it could be useful to have simulations, based on past cycles' CRs data, so it is possible to know, for example over a 0.01BTC DPT, how much of it would be weighted for every 100BSQ-worth of CR. It may be that less-than-5000sats payouts would be returned for very, very small CRs, making it a non-issue.

[2022-10-28 00:26] HenrikJannsen commented on #385
Yes I can run some test with diff. setup to see what sat ouput are generated. But a 1 USD output with 30 cases/months results in total 30 USD, so not really a super relevant amount...

[2022-10-29 01:38] HenrikJannsen commented on #385
Close in favor of a new proposal (will be published soon).

[2022-10-29 01:38] #385 closed, assigned to HenrikJannsen

[2022-10-29 01:38] HenrikJannsen commented on #383
Close in favor of a new proposal (will be published soon).

[2022-10-29 01:38] #383 closed, assigned to HenrikJannsen

[2022-10-29 21:00] w0000000t commented on #385
I wouldn't underestimate even 10USD per month, it's still more sats! 😄

[2022-11-01 03:41] HenrikJannsen opened #390 "Distribute Burningman role to contributors who burned BSQ"
## Summary

We distribute the BTC trade fees and the funds from the delayed payout transactions to a group of burningmen and use the burned amounts for the distribution model.
The received BTC to burningmen should be the same value as the burned BSQ by the burningmen, so for the DAO it should be the same as with the legacy BM.

Only contributors and receivers of the genesis distribution can become

[2022-11-01 03:42] HenrikJannsen commented on #389
Not needed anymore in context of https://github.com/bisq-network/proposals/issues/390

[2022-11-01 03:42] #389 closed, assigned to HenrikJannsen

[2022-11-01 03:42] HenrikJannsen commented on #388
Not needed anymore in context of https://github.com/bisq-network/proposals/issues/390

[2022-11-01 03:42] #388 closed, assigned to HenrikJannsen

[2022-11-01 03:42] HenrikJannsen commented on #387
Not needed anymore in context of https://github.com/bisq-network/proposals/issues/390

[2022-11-01 03:42] #387 closed, assigned to HenrikJannsen

[2022-11-01 03:45] HenrikJannsen opened #391 "Do not allow new traders to trade higher amounts"
To reduce arbitration cases with higher amounts we could add a limitation for new traders so that they cannot make offers or take offers with larger amouts. I think a 0.25 BTC limit would be justified for a first time user who has not completed a trade yet.
We could implement that only UI wise without the need for peer-verification. It is not intended to avoid malicious behaviour but avoid that a

[2022-11-01 08:38] sqrrm commented on #390
I don't know if it's good to have a hard limit. What happens when this limit is broken, especially when multiple burns happen in the same block?

This could be rather inconvenient as time goes by. Maybe allowing for exporting the keys associated with the issuance would help older contributors. Although that could be done at any time and not related to the core of this proposal.

This makes it hard

[2022-11-01 13:51] HenrikJannsen commented on #390
Yes I am also not so sure about that part. Maybe the estimated BTC fee amount is enough for flexibility. If we want to allow more burn we could increase that value by DAO voting.
The other factor for boosting the issuance will only allow to burn the double but if less then 50% of contributors partizipate we do not reach the burn target. By increasing that we add more risks for the abuse cases if o

[2022-11-01 16:23] HenrikJannsen commented on #391
@jmacxx Would you be available / interested to work on that?

[2022-11-01 21:16] clearwater-trust commented on #390
Pardon my interruption.

You say the BSQ model is not working for current contributors. Could you explain why that mode is not functioning?

I understand wanting to get BTC from the trade fees.

Can you sum up the action in the BSQ market? Has burningman been able to retrieve his funds? Does burningman have shit-tonnes of BSQ and cannot sell, or, what's the deal?

How does this determine the fate

[2022-11-02 10:39] MwithM commented on #390
So, if it gets negative no more burningmen will be able to burn BSQ until next cycle? What if there's a sudden spike in Bisq trading volume? Isn't a little more flexibility needed in this case? On the other hand, if there's a sudden drop in trading volume, burned BSQ can't be unburned, so I guess that, specially considering that burned BSQ are valid for a year, market will have to adjust to volati

[2022-11-03 01:22] pazza83 commented on #390
I like this proposal.

I think it aligns both contributors, burning men and BSQ holders incentives. In summary if BSQ increases it's fees in BTC terms year over year contributors, burning men and BSQ holders will all benefit.

I think the target amount of BSQ to be burned for given period should be as follows.

BSQ reimbursements approved for Refund Agent + BSQ reimbursements approved for traders

[2022-11-03 01:35] pazza83 commented on #390
I think letting people burn at any point regardless of if the target has been reached or not makes sense. Sometimes it will make economic sense to burn when the target has been achieved.

This is one of the reasons when I think it is best to use BSQ reimbursement rather than BTC reimbursed for the Burn Target. It will track 'costs' better. Same can be said for reimbursed BSQ traders. Maybe if it w

[2022-11-03 05:44] HenrikJannsen commented on #390
@MwithM
There is currently a 100k BSQ headroom to burn more as the target. I guess that should cover some spikes.

The genesis outputs would stay static at 10%. Only old contribution requests get decays over time to 0.
The motivation is as discussed above. Without decaying old contribution requests to zero (leaving them at 10% as well as intended earlier) would lead to instability of the system, a

[2022-11-03 15:53] sqrrm commented on #390
Maybe the fallback should be to burn the BTC instead of having a controlled address. If it's really unlikely to happen it would just be a security issue to keep it. Main risk is that there is a bug or something causing a lot of burnt coin.

[2022-11-03 16:29] HenrikJannsen commented on #390
Yes was thinking about it as well, but it would introduce more code changes as BTC burning should be done via opReturn and that would change tx creation. We could send it to an unspendable address as well but if there is a bug and we would get larger amounts burnt that way it might be very painful. On the other hand if the default address holder gets hacked and we have some vulnerability for the v

[2022-11-04 03:03] HenrikJannsen commented on #390
Got some small improvements:
- If a contributor has not set up a custom address we can use the BTC address instead the BSQ address in most cases. The issuance tx has normally a BTC change output and that address will be used. Only if the miner fee was exact and no change created the BSQ issuance address would be used. But I guess that will never happen in reality.
- Genesis receivers could make a

[2022-11-04 13:50] HenrikJannsen commented on #384
Close as it got merged to master

[2022-11-04 13:50] #384 closed, assigned to HenrikJannsen

[2022-11-04 15:05] clearwater-trust commented on #390
We should fight against making this system ANY MORE convoluted, complicated.

Contributors need to understand HOW they are going to get paid, without reading through a million page wiki to see how the funds are allocated.

Spell it out in simple terms for THE DAO's sake/stake.

Also, be it known. We must understand how to make decentralized exchange a living, breathing, fact; else we get destroyed

[2022-11-04 15:50] HenrikJannsen commented on #390
Contributors get paid in BSQ as now. Nothing changed. The only change is that any contributor can become a burningman if they want.
The current BM signalled that they want to retire, so there is some urgent need to solve that old problem with the centralized BM role. This was since long a problem but no satisfying solution have been found in the past. This proposal is the best solution so far.
I a

[2022-11-04 16:00] pazza83 commented on #390
Can you explain what would cause the instability if the allocated amounts to burn continued to grow over time?

If the contributors are decayed to zero over a year I still think participation would need to be high to achieve the burn target. I think requiring high participation is a risk in itself.

[2022-11-04 20:07] HenrikJannsen commented on #390
Assumption is that past contributors are less likely to be active and to partizipate in burning. But if their weight stays there forever the remaining share of the newer contributors gets lower over time and would lead to a point where the active contributors cannot burn enough to cover the burn target, thus creating inflation for the DAO.

Easiest to understand if one tries out a simple example.

[2022-11-05 00:27] HenrikJannsen commented on #390
Here are the current parameters I use. They might change and I will keep it updated here.

[code]

The most important ones are:
- `GENESIS_OUTPUT_AMOUNT_FACTOR`
- `MAX_COMP_REQUEST_AGE`
- `MAX_BURN_AMOUNT_AGE`
- `ISSUANCE_BOOST_FACTOR`
- `BURN_TARGET_BOOST_AMOUNT`

[2022-11-05 00:28] HenrikJannsen commented on #390
Here the distribution with the current parameters (5% for genesis outputs):

<img width="1696" alt="Screenshot 2022-11-04 at 19 02 02" src="https://user-images.githubusercontent.com/116298498/200092566-51ca2270-d522-4471-b49a-b7edff5a05e6.png">

<img width="1377" alt="Screenshot 2022-11-04 at 19 02 20" src="https://user-images.githubusercontent.com/116298498/200092577-5690d36e-cffe-46dd-be5d-16a7d

[2022-11-05 00:34] HenrikJannsen commented on #390
I reduced genesis factor to 5%. I think that gives it a better balance.

The weight for the total genesis outputs is 3.6M * 0.05 = 180k

The  average compensation request of the past 2 years was 30k/month.
That generates a total weight of: 24*30/2=360k

So the relation of genesis weight to contributor weight is 1:2. With 10% for genesis it would be 1:1. Not sure whats the better value here... But

[2022-11-05 00:35] HenrikJannsen commented on #390
Here the distribution with 10% for genesis outputs:
<img width="1405" alt="Screenshot 2022-11-04 at 19 35 16" src="https://user-images.githubusercontent.com/116298498/200092905-c1a397bc-e3bd-47de-8c98-e4f9f8c10b28.png">
<img width="1376" alt="Screenshot 2022-11-04 at 19 35 26" src="https://user-images.githubusercontent.com/116298498/200092907-94f27b39-aa94-4410-866f-8194c9f549cc.png">

[2022-11-05 01:24] HenrikJannsen commented on #390
I think the market will set here the costs for the DAO.

Assume there is 100k target but only 50k got  burned by a couple of contrbutors. They will make 50k profit and the DAO make 50k loss.
But anyone observing wants to join the profitable game. So there should be reached an equilibrium to make a small profit long term. Due volatility of reimbursements there is some risk involved and those who pa

[2022-11-05 01:35] HenrikJannsen commented on #390
Ah there is more...

If one has 10% issuance share and would be the only burner we limit that max receiver share to 2 times the issuance share -> 20% for protecing against abuse risks.
So we need at least 50% issuance share so that they do not get capped. If so, the legacy BM would receive the rest (of the DPT outputs).
In that case the legacy BM would still need to sell the BTC for BSQ and burn i

[2022-11-05 01:49] HenrikJannsen commented on #390
Here the numbers of the accumulated top contributors issuance shares:

Top 5: 34%
Top 10: 50%
Top 15: 60%
Top 20: 68%
Top 30: 75%
Top 40: 80%

[2022-11-05 02:07] HenrikJannsen commented on #390
The goal of the proposal (next to removing the BM) is to increase incentives for active contributors by receiving a stream of BTC payments.
But what if it does not play out that way?
What would happen in a scenario where active contributors do not partizipate and the model is used only by past contributors and genesis output receivers? Maybe because they burn with taking a loss into account as the

[2022-11-05 04:17] HenrikJannsen commented on #390
I created a DAO proposal.
TxId: 0816f629e5b89b2a07596ec1671e123cc0271d646eae1e1b4576b6a6ec529d32
As this proposal change the economic model of the DAO I think it is necessary to put it up for DAO voting.
Some details of the parameters might still change after the voting. If there would be strong disagreement about changed parameters we can repeat voting next cycle.

[2022-11-05 14:31] HenrikJannsen commented on #390
More thoughts about the new model...

It it similar as if the current BM is only allowed to trade with contributors (+genesis output receivers) and the max. amount of each is limited by the decayed issuance amount in relation to the others who want to trade. If there are only few who want to trade one can get as much as the double of the issuance share. E.g. If I have 10% I can get max. 20% of the

[2022-11-05 15:12] sqrrm commented on #390
This is looking quite reasonable. I don't worry too much about the economics of it, it might cause some distortions, but the end effect should be the same in the aggregate demand as with the current model, as you mentioned.

These parameters should use the same time span as NUM_REIMBURSEMENT_CYCLES I would think. Better to use blocks_per_cycle * NUM_REIMBURSEMENT_CYCLES instead of YEAR_AS_BLOCKS.

[2022-11-05 17:08] HenrikJannsen commented on #390
Yes I agree. Will consolidate that to use only one.

[2022-11-05 17:15] HenrikJannsen commented on #390
I think a key to ensure there is minimal profit/loss by the distribution in relation to what one has burned is to reduce volatility of the reimbursements. In the past there have been some really high spikes. If for instance 100k goes into DPT it would result in a short-term profit spike. Burn target also goes up after reimbursement. More burners might join in expectation of profit and more BSQ get

[2022-11-06 00:56] HenrikJannsen commented on #390
More thoughts...

Actually to figure out the optimum amount of BSQ to burn is likely easier as it seems from above discussions.

It is similar to a shop-owner who buys inventory. He does not know how much he will sell how fast. He need to keep enough in stock to serve his clients. He does not know the future.
If he buys too much he risks that ppl dont buy the products and he makes a loss. If he bu

[2022-11-06 19:59] MwithM commented on #380
## Cycle 41
**Parameters** ([see issue](https://github.com/bisq-network/proposals/issues/289))
* USD/BTC price: 21200
* USD/BSQ price: 0.77
* Current BSQ discount: 57%

It's **not necessary to update BSQ trading fee** as current discount is between the 40-60% target (see post above).

![image](https://user-images.githubusercontent.com/50149324/200192039-80be1a54-a229-47f4-821e-49d3da7d9802.png)
![

[2022-11-06 22:59] pazza83 commented on #390
Thanks for all the info.

So using the numbers above from [comment](https://github.com/bisq-network/proposals/issues/390#issuecomment-1304357342):

Total weight = Total genesis outputs 180k + Compensation Requests from contributors 360k
Total weight = 540k

My sums for Burn Target, prior to any new burning:

Estimated BTC trade fees + Estimated DPT
Last 12 months BTC trade fees: 13.68300047 + Last

[2022-11-06 23:23] pazza83 commented on #390
I agree with the assumption is that past contributors are less likely to be active.

I do think however that the assumptions do not take into account that having a larger total potential burn weight also has advantages. More people that can burn is better than fewer people that can burn.

To incentivize current contributors to be burners maybe the `issuance boost factor `could be a DAO parameter t

[2022-11-06 23:55] HenrikJannsen commented on #390
Here the data from the app (sat values). Those data are from the DAO and the `EstimatedBtcTradeFees` are hard coded as 62k/month.

[code]

I guess we are in the same range, but with changing BTC and BSQ prices it is difficult to get exact numbers.
BTC trade fees: 62k/month -> 744k/year
Reimbursements last 12 cycles: 675.4k
Total: 1.419M BSQ

The 62k/month is hard coded and taken from the average B

[2022-11-07 00:04] HenrikJannsen commented on #390
Yes I agree but inactive contributors might pose higher risks as well. But more importantly the more we add the lower the relative issuance share gets for active contributors. Then we need to increase the boost factor even higher to ensure there is enough burn volume which increases the overall risk when burn share gets > the 15% security deposit.
By being more aggressive with the decay more recen

[2022-11-07 00:14] HenrikJannsen commented on #390
Another option is to limit the burn share not based on the issuance share but by the 15% (of the sec. deposit).
Then burners with 2% issuance share could burn still much higher amounts and it would help to get more decentralisation in the burn share.

[2022-11-07 00:18] HenrikJannsen commented on #390
Also take into account that in case there is not much partizipation in burning (bad for decentralization - in the worst case there is only 1 burner or none) that those who partizipate can make a profit by burning less then the target. This should attract then others to partizipate as well. It is a service to Bisq, so those who do that work should earn something. And the open market of potential bu

[2022-11-07 00:59] HenrikJannsen commented on #390
But there is another risk if we let contributors to easily burn too much. Then a small group could burn the BSQ needed for the target or even above and others will have no incentives to join as they would cause for themself and others a loss if too much gets burned.

[2022-11-07 01:01] pazza83 commented on #390
Thanks for explaining. The maths is getting complex for me so I might be missing something.

I think I was viewing the burning men as burning a target for a year which was getting updated each cycle.

In your model you have the Burning Men burning a yearly target divided by 12 to give a total for a cycle. I am assuming this is how it will end up being.

If we take 118k BSQ as the the burning targe

[2022-11-07 01:35] HenrikJannsen commented on #390
It is a continuous process but gets some up-ticks at the vote result block as there new reimbursements might drop in as well as the estimated BSQ trade fee will gets added (vote on DAO param).

Any BM can burn any amount (inside their limits) at any time. But the burned amounts decay over one year. Your burn share (your accumulated decayed burn amounts / total accumulated decayed burned abounts of

[2022-11-07 08:48] MwithM commented on #390
How would a failed cycle impact to burningmen? Is there a scenario where some burningmen would benefit from a failed cycle?

[2022-11-07 13:55] UX-P opened #392 "Bisq Dictionary"
Hi everyone,

From past research it has been reported that the Bisq website and specific points are a little too technical for the onboarding trader.
I agree certain terms employed on the app are not very user friendly and some text require simplifying, however, there are terms used throughout the cryptocurrency industry the new trader would benefit from learning. I had previously suggested a ‘Wor

[2022-11-07 14:02] HenrikJannsen commented on #390
Then there would be no increase of the burn target at the expected cycle but even more increase at the next cycle.
It might cause larger gain after the failed cycle of BM do no burn more (they might because new ones might get in to compete for the profit) and after the consolidated cycle there will be larger target which might lead to a loss for BM when they burn up to the target. But if the over-

[2022-11-07 14:29] ghost commented on #392
Sounds expensive, and would need maintenance.

https://bisq.wiki already fulfills the role.  Years of effort have gone into explaining the technicalities of Bisq, like Arbitrator, Mediator, the DAO, trading and dispute processes.

There's a myriad of educational information, youtube presentations etc on how Bisq works and how to use it.

If anything, missing keywords like API, CLI can be added to

[2022-11-07 15:41] HenrikJannsen commented on #392
Thanks @UX-P for the interesting proposal!

I agree that for not-expert users Bisq is a bit challenging and the available information at webpage/wiki/docs/youtube is quite scattered and a lot to read. To get that better organized would be good IMO and your suggestion could be a tool for non-expert traders to get an easier entry to Bisq.

[2022-11-07 16:35] w0000000t commented on #392
I agree with @jmacxx that it would overlap with the wiki, and detract from the extensive and long-running job it's been done on it.
In my experience, people are just lazy most of the time, and I don't see users actively browsing such a knowledge base, at least not more than what they would with the existing wiki. Also, users like human interaction, and as a support agent I can confidently say that

[2022-11-07 16:47] ghost commented on #390
Voicing my support for this proposal.

This proposal increases the DAO's utility, in addition to decentralizing the BM role.  It is a bold experiment in how to decentralize compensation in this space and if it works could light the way for others.

- BSQ gets issued for contributors who have performed work.
- BSQ gets burned by contributors (BMs) who choose to participate in this scheme.
- BTC rev

[2022-11-07 17:02] HenrikJannsen commented on #390
Thanks @jmacxx for your feedback!
Yes the risks/effort are not for everyone and should be compensated by a small profit. How big that profit of the BMs is depends on the other potential BMs partizipation.
All contributors who do not want to partizipate can ignore it and just sell they BSQ to BTC on the market. The removed BM might make the selling a bit harder but the BM was anyway an artificial "

[2022-11-07 17:09] UX-P commented on #392
hi @w0000000t @jmacxx thanks for the feedback concerning the wiki,  I will hopefully be able to explain how they differentiate.

We all appreciate the work that has been put into the wiki and it acts as an effective guide providing information and instructions on how Bisq works. The support channel demonstrates that it is referred to often when an issue has occurred and so does not have the same f

[2022-11-07 19:17] HenrikJannsen commented on #390
A receiver of a genesis output can also attach a custom receiver address by creating a special compensation request and verifying the data with a BTC transaction from his genesis output address.
This helps to avoid to receive lots of transactions in the BSQ wallet.
Of course that is optional, if not set up a custom address the receiver address from the genesis output is used (BSQ address which wil

[2022-11-07 20:59] w0000000t commented on #390
With the previous model, there was a 500BSQ limit to reduce risks, and 5000satoshi (if I remember correctly) for payments to reduce outputs... are there any such limits in place in this setup? Burning one's BSQ only to see it "rounded to zero" and/or receiving no BTC because share is too small, would really be disappointing.

[2022-11-07 21:58] HenrikJannsen commented on #390
For BTC fees the 1/100 of a percent will be the min. So if the burn share is 0.0099 % it will get ignored. 0.01% is the min. value.
For DPT outputs its 1000 sat (about 2 USD) or the double of the miner fee for the output using 10 sat min as fee rate.
[code]

[2022-11-08 07:50] UX-P commented on #392
Here are examples of some search results.
<img width="575" alt="api" src="https://user-images.githubusercontent.com/92308399/200503517-bf7c49af-9509-4411-b6f9-97e01021fe86.png">

<img width="464" alt="peer to peer" src="https://user-images.githubusercontent.com/92308399/200503863-37fecc60-cd5f-4aee-b121-575440a6734e.png">

<img width="583" alt="cli" src="https://user-images.githubusercontent.com/9

[2022-11-08 13:07] UX-P commented on #392
@jmacxx I have just seen your drop-down image (hidden on my screen) and realised that there must have been a misunderstanding.

The product is primarily a general dictionary _by_ Bisq and not literally a ‘Bisq Dictionary’, I can see where the tentative title may cause confusion. If discovered through the search bar, it would essentially be aimed at those who do not particular know or use Bisq, and

[2022-11-08 22:12] cbeams opened #393 "@cbeams to repost bond for DNS Admin role"
I've been playing the DNS Admin role since #213 with a 20K BSQ bond; this proposal is to repost my bond at the current rate of 10K. When this proposal is approved, I'll have a new bond in place for 10K BSQ and I'll then unlock the current 20K BSQ bond.

[2022-11-08 22:14] cbeams commented on #393
DAO proposal txid: `12cf459fbae3e9f37481bc4dd39c9397fe82f4c74533e621cee90bc575d9a4f8`

[2022-11-09 01:46] pazza83 commented on #386
Tangentially to this, maybe to potential reduce the number of non responsive peers taking cases all the way to arbitration maybe it would be a good idea to ban the onion addresses of non responsive peers post arbitration.

Should the above proposal be implemented non responsive peers would be even more of an inconvenience to traders using Bisq then they are currently.

[2022-11-09 01:50] pazza83 commented on #386
I am in favor of this should https://github.com/bisq-network/proposals/issues/390 be accepted.

I think that traders however should be able to claim back reimbursement for any mining fees / trading fees for these trades so they are not out of pocket. They could do this using the same process that is in place for failed trades.

[2022-11-09 01:59] pazza83 commented on #392
I am not sure how valuable that would be. People searching for 'What is a DAO’ are likely not potential users of Bisq. Also there will be lots of competition for more generic search terms like this that a static Dictionary site would not be able to effectively compete for.

Why keep it simple and add a dictionary / glossary to the Bisq wiki?

Or maybe a word of the day pop-up etc for new users of

[2022-11-09 11:12] UX-P commented on #392
Hi @pazza83, thanks! Those are good suggestions, my concern would be that they may not provide the experience described.

Amongst those users looking up DAO, there could be some interested in trading on Bisq, but that is not something I have researched into so I can not say at the moment.

I agree that certain words would be more competitive than others however, there will be a variety of terms av

[2022-11-09 15:06] w0000000t commented on #390
I understand there is not a blind process involved, so maybe the GUI could warn if/when the burned amount would be/become ignored, so the potential burner can decide whether to increase/add to the burned amount or desist altogether... while for the minimum payout, I guess that would be more of a game of chance. I'll need to get a clear picture to decide if becoming a BM would make sense for me, or

[2022-11-09 15:17] alejandrogarcia83 opened #394 "Bisq Maintainer Role"
Hi Bisq DAO,
I want to become a Bisq Maintainer.

[2022-11-09 15:24] alejandrogarcia83 commented on #394
Proposal txid: `dcd0f4a950ab4852e0a80ec177d705c4f7ce129dcc5d7ba3a71124b9bc5495b4`

[2022-11-09 18:12] HenrikJannsen commented on #386
@jmacxx Would you be available for implementing the required changes in the arbitration payout screens?

[2022-11-10 04:21] ghost commented on #386
Yes.

[2022-11-10 15:40] HenrikJannsen commented on #390
I added a new parameter for the max limit for the distribution share of 11%.
`static final double MAX_BURN_SHARE = 0.11;`

This value is derived from the min. security deposit in a trade and ensures that an attack where a BM would take all sell offers cannot be economically profitable as they would lose their deposit and cannot gain more than 11% of the DPT payout. As the total amount in a trade i

[2022-11-10 16:22] HenrikJannsen commented on #390
I was working on the burn target calculations and display. It is a bit tricky so I want to share here the info to those who are interested or want to help testing.

There is a recommended burn target and a max. burn target. Both the overall total and for individual BMs.

#### Overall total:
The recommended burn target is the sum of all reimbursements and BTC fee estimations of the past 12 cycles m

[2022-11-11 00:18] HenrikJannsen commented on #390
I added the legacy burningman:
<img width="1755" alt="Screenshot 2022-11-10 at 18 47 38" src="https://user-images.githubusercontent.com/116298498/201229640-d2e022c3-b311-420c-be47-de7925796f29.png">

[2022-11-17 09:54] refund-agent2 commented on #386
I agree with the need of this proposal, but seeing that even after getting the security deposit some traders are upset, Bisq needs to explain why this is necessary a lot.

There are some trades that end into arbitration due to a bug or something else, where there is no winner. How should I proceed with those?

It wouldn't be very helpful, unresponsive traders don't use the same onion address. They

[2022-11-17 22:04] pazza83 commented on #390
This proposal was approved in Cycle 41.

[2022-11-17 22:05] pazza83 commented on #394
Hi @alejandrogarcia83 your proposal was approved in Cycle 41. Welcome to Bisq :)

[2022-11-17 22:06] pazza83 commented on #393
This proposal was approved in Cycle 41.

[2022-11-17 22:28] pazza83 commented on #386
Agreed, I think the wiki will need to be updated in quite a few places once the new trade protocol is in place to make this clear.

[2022-11-18 02:31] HenrikJannsen commented on #390
Got the accounting support now implemented.

Here the detail view, showing each transaction:

<img width="1817" alt="Screenshot 2022-11-17 at 21 24 17" src="https://user-images.githubusercontent.com/116298498/202602389-a1c28b2a-f58a-4ada-88f6-e93de0526d72.png">

And the monthly summary view:
<img width="1814" alt="Screenshot 2022-11-17 at 21 24 25" src="https://user-images.githubusercontent.com/11

[2022-11-20 13:11] pazza83 opened #395 "Enable XMR-auto confirm by default"
## Proposal:

This proposal is to enable [XMR-auto confirm](https://bisq.wiki/Trading_Monero#Auto-confirming_trades) by default.

Reasoning:

With the introduction of distribute [Burningman role to contributors who burned BSQ](https://github.com/bisq-network/proposals/issues/390) and [do not pay out the security deposit of the trade peer to the arbitration case winner](https://github.com/bisq-netw

[2022-11-20 13:48] pazza83 opened #396 "Reduce larger BTC amounts going to arbitration for users inexperienced with how Bisq works"
## Proposal

This proposal gives a few options for limiting BTC amounts above 0.25 BTC going to arbitration for users inexperienced with how Bisq works.

It expands on the work done for https://github.com/bisq-network/proposals/issues/391

### Reasoning:

With the introduction of distribute [Burningman role to contributors who burned BSQ](https://github.com/bisq-network/proposals/issues/390) and [

[2022-11-20 14:10] pazza83 opened #397 "Set the minimum payout at mediation to be 5% of trade amount"
## Proposal

Currently the minimum payout at mediation is [2.5% of trade amount](https://github.com/bisq-network/bisq/pull/6362). This proposal suggests to increase this amount to be 5% of trade amount.

### Reasoning

With the introduction [do not pay out the security deposit of the trade peer to the arbitration case winner](https://github.com/bisq-network/proposals/issues/386) there needs to be

[2022-11-21 09:08] MwithM commented on #395
Remind, though, that autoconfirm could fail and in that case BTC sellers should be accountable for not paying attention to the trade.

[2022-11-22 13:19] HenrikJannsen commented on #396
Not sure if that adds too much complexity for users to understand those rules? I guess if a user made one successful trader they undestand that they have to be online. So I think to limit it to the first trade case should be enough and its an easier rule to communicate. Still might have issues with traders who start a new app for each trade for privacy reason. To cover such we could add an advance

[2022-11-23 14:31] pazza83 commented on #396
Hi @HenrikJannsen thanks for the feedback

From a user experience perspective I would imagine it would be pretty simple.

For example if 10 trades are decided to completed before trades over 0.25 BTC can be made then the trader would be shown a pop up message on Bisq.

![201205618-fb918d9f-b0e2-42c1-94bd-cde4e74ea8cc](https://user-images.githubusercontent.com/66367547/203569848-1dc04f6f-112c-4886-

[2022-11-23 14:52] HenrikJannsen commented on #396
I think the warning should at least show what is the concrete reason for that user and not just list a few options, which leaves the user in a very unclear and frustrating state what is missing so that they can get over the limit.

[2022-11-23 15:06] pazza83 commented on #395
Agreed, I think if accepted this should be made clear in the [trading monero wiki](https://bisq.wiki/Trading_Monero)

[2022-11-23 18:55] pazza83 commented on #396
Going to close this in favor of a new proposal to be posted by @MwithM to give users the option to set limits in Bisq app.

[2022-11-23 18:55] #396 closed, assigned to pazza83

[2022-11-23 21:59] MwithM opened #398 "Increase trading limits as an opt-in setting"
### Proposal

Altcoin and no chargeback risk fiat traders to have the option to increase their trading limits after acknowledging to know the basic use of Bisq.

### Rationale

Bisq needs to **reduce trades into arbitration**, specially after [distributing burningman role](https://github.com/bisq-network/proposals/issues/390), which will make it more difficult to sell reimbursed BSQ, and traders w

[2022-11-24 11:46] flix1 commented on #398
Totally agree with giving advanced traders the choice, especially for low risk payment methods.

I have been trying to get some larger traders to come to Bisq and their feedback is always: "too little liquidity, it takes forever to buy 1 BTC".

Of course zero risk trades like BSQ/BTC atomic swaps should not be limited at all.